schema/core-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  DeclareVariable
  | NodeTimepointValue
  | Tolerance
  | NodeRef
  | LookupNow
  | LT
  | ArrayElement
  | StringRHS
  | MOD
  | NumericRHS
  | BooleanRHS
  | DeclareArray
  | BooleanVariable
  | MAX
  | StateDeclaration
  | IntegerVariable
  | SkipCondition
  | CommandDeclaration
  | SUB
  | ResourceList
  | BooleanValue
  | NOT
  | NodeFailureVariable
  | EQInternal
  | AND
  | PreCondition
  | Arguments
  | RealValue
  | RealVariable
  | InOut
  | Interface
  | NodeCommandHandleVariable
  | LibraryNodeCall
  | LookupOnChange
  | Timepoint
  | Node
  | ArrayVariable
  | Return
  | NEString
  | NodeList
  | ADD
  | LookupRHS
  | Command
  | NodeBody
  | GE
  | In
  | NENumeric
  | XOR
  | NodeStateVariable
  | Update
  | Pair
  | Assignment
  | RepeatCondition
  | Concat
  | NodeStateValue
  | PostCondition
  | NodeId
  | VariableDeclarations
  | MIN
  | NEInternal
  | SQRT
  | LibraryNodeDeclaration
  | StringVariable
  | NodeCommandHandleValue
  | MUL
  | EQNumeric
  | InvariantCondition
  | Parameter
  | IsKnown
  | ABS
  | NodeOutcomeVariable
  | IntegerValue
  | Resource
  | NodeOutcomeValue
  | StartCondition
  | GlobalDeclarations
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | StringValue
  | EQBoolean
  | OR
  | EQString
  | EndCondition
  | Name
  | NEBoolean
  | (notAllowed
     | element ArrayValue {
         SourceLocators,
         attribute Type {
           xsd:NMTOKEN "Real"
           | xsd:NMTOKEN "String"
           | xsd:NMTOKEN "Boolean"
           | xsd:NMTOKEN "Integer"
         },
         (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
       })
  | GT
  | ExitCondition
  | Alias
  | ArrayRHS
  | DIV
  | LE
  | NodeFailureValue
ArrayVariable =
  notAllowed
  | element ArrayVariable { NCName }
Parameter =
  notAllowed
  | element Parameter {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
ArithmeticOperator =
  ADD | SUB | MUL | DIV | MOD | MAX | MIN | SQRT | ABS
NodeFailure = NodeFailureVariable | NodeFailureValue
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { Value }?
    }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
MIN =
  notAllowed
  | element MIN { SourceLocators, NumericExpression, NumericExpression }
SQRT =
  notAllowed
  | element SQRT { SourceLocators, NumericExpression }
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      element Name { NCName },
      element Index { NumericExpression }
    }
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, StringExpression }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
LE =
  notAllowed
  | element LE { SourceLocators, NumericExpression, NumericExpression }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | ArrayVariable
  | ArrayElement
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
NEString =
  notAllowed
  | element NEString {
      SourceLocators, StringExpression, StringExpression
    }
LT =
  notAllowed
  | element LT { SourceLocators, NumericExpression, NumericExpression }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      Interface?
    }
In =
  notAllowed
  | element In { SourceLocators, (DeclareVariable | DeclareArray)+ }
InvariantCondition =
  notAllowed
  | element InvariantCondition { SourceLocators, BooleanExpression }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "START" | xsd:NMTOKEN "END" }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
LookupGroup = LookupOnChange | LookupNow
RepeatCondition =
  notAllowed
  | element RepeatCondition { SourceLocators, BooleanExpression }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
PreCondition =
  notAllowed
  | element PreCondition { SourceLocators, BooleanExpression }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHING"
      | xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHED"
    }
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
NodeList =
  notAllowed
  | element NodeList { Action* }
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
StringExpression =
  StringVariable
  | StringValue
  | StringOperator
  | LookupGroup
  | ArrayElement
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
EQString =
  notAllowed
  | element EQString {
      SourceLocators, StringExpression, StringExpression
    }
NOT =
  notAllowed
  | element NOT { SourceLocators, BooleanExpression }
DIV =
  notAllowed
  | element DIV { SourceLocators, NumericExpression, NumericExpression }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList | Command | Assignment | Update | LibraryNodeCall
    }
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue { Value+ }?
    }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
        | xsd:NMTOKEN "self"
      }?,
      (xsd:NCName | xsd:string "")
    }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { node-reference }
Name =
  notAllowed
  | element Name { SourceLocators, StringExpression }
node-reference = (SourceLocators, NodeReference), empty
BooleanExpression =
  LogicalOperator
  | Equality
  | NumericComparison
  | LookupGroup
  | IsKnown
  | BooleanVariable
  | BooleanValue
  | ArrayElement
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, BooleanExpression }
Arguments =
  notAllowed
  | element Arguments {
      SourceLocators,
      (BooleanExpression
       | NumericExpression
       | StringExpression
       | ArrayVariable)+
    }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
LookupRHS =
  notAllowed
  | element LookupRHS { SourceLocators, LookupGroup }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      SourceLocators,
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
NodeState = NodeStateVariable | NodeStateValue
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx { xsd:NCName }?,
      attribute NodeType {
        xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "NodeList"
      },
      (element Comment { xsd:string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & ExitCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
StringOperator = Concat
NumericExpression =
  ArithmeticOperator
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | LookupGroup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
LogicalOperator = OR | XOR | AND | NOT
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
Value = IntegerValue | RealValue | BooleanValue | StringValue
Return =
  notAllowed
  | element Return {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
AtomicTypeValues =
  xsd:NMTOKEN "Real"
  | xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Integer"
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
    }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (DeclaredVariable
       | LookupGroup
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeTimepointValue)
    }
ABS =
  notAllowed
  | element ABS { SourceLocators, NumericExpression }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
AND =
  notAllowed
  | element AND { SourceLocators, BooleanExpression* }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
OR =
  notAllowed
  | element OR { SourceLocators, BooleanExpression* }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
Action = Node
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
EndCondition =
  notAllowed
  | element EndCondition { SourceLocators, BooleanExpression }
ExitCondition =
  notAllowed
  | element ExitCondition { SourceLocators, BooleanExpression }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "EXITED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_EXITED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
Tolerance =
  notAllowed
  | element Tolerance {
      IntegerValue | IntegerVariable | RealValue | RealVariable
    }
ArrayRHS =
  notAllowed
  | element ArrayRHS { SourceLocators, ArrayVariable }
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
InOut =
  notAllowed
  | element InOut { SourceLocators, (DeclareVariable | DeclareArray)+ }
nonNegativeInteger = xsd:nonNegativeInteger
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, NumericExpression }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
MAX =
  notAllowed
  | element MAX { SourceLocators, NumericExpression, NumericExpression }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "INTERRUPTED"
      | xsd:NMTOKEN "FAILURE"
    }
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
NumericComparison = GT | GE | LT | LE
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      (Value
       | DeclaredVariable
       | LookupGroup
       | LogicalOperator
       | Equality
       | NumericComparison
       | IsKnown
       | ArithmeticOperator
       | NodeTimepointValue
       | element ArraySize { NCName }
       | element ArrayMaxSize { NCName }
       | StringOperator)
    }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { StringExpression }
       & element ResourcePriority { NumericExpression }
       & element ResourceLowerBound { NumericExpression }?
       & element ResourceUpperBound { NumericExpression }?
       & element ResourceReleaseAtTermination { BooleanExpression }?)
    }
NodeId =
  notAllowed
  | element NodeId { NCName }
Concat =
  notAllowed
  | element Concat { SourceLocators, StringExpression* }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
MOD =
  notAllowed
  | element MOD { SourceLocators, NumericExpression, NumericExpression }
SkipCondition =
  notAllowed
  | element SkipCondition { SourceLocators, BooleanExpression }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
XOR =
  notAllowed
  | element XOR { SourceLocators, BooleanExpression* }
Interface =
  notAllowed
  | element Interface { SourceLocators, (In? & InOut?) }
Equality =
  EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
NCName = xsd:NCName
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
PostCondition =
  notAllowed
  | element PostCondition { SourceLocators, BooleanExpression }
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
GT =
  notAllowed
  | element GT { SourceLocators, NumericExpression, NumericExpression }
SUB =
  notAllowed
  | element SUB { SourceLocators, NumericExpression, NumericExpression }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
GE =
  notAllowed
  | element GE { SourceLocators, NumericExpression, NumericExpression }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      Parameter*
    }
StartCondition =
  notAllowed
  | element StartCondition { SourceLocators, BooleanExpression }
NodeReference = NodeId | NodeRef
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
