schema/core-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  DeclareVariable
  | NodeTimepointValue
  | Tolerance
  | NodeRef
  | LookupNow
  | LT
  | ArrayElement
  | StringRHS
  | MOD
  | BooleanRHS
  | NumericRHS
  | DeclareArray
  | BooleanVariable
  | StateDeclaration
  | IntegerVariable
  | SkipCondition
  | CommandDeclaration
  | SUB
  | ResourceList
  | BooleanValue
  | NOT
  | NodeFailureVariable
  | EQInternal
  | AND
  | PreCondition
  | Arguments
  | RealValue
  | RealVariable
  | InOut
  | Interface
  | NodeCommandHandleVariable
  | LibraryNodeCall
  | LookupOnChange
  | Timepoint
  | Node
  | ArrayVariable
  | Return
  | NEString
  | NodeList
  | ADD
  | LookupRHS
  | Command
  | NodeBody
  | GE
  | In
  | NENumeric
  | XOR
  | NodeStateVariable
  | Update
  | Pair
  | Assignment
  | RepeatCondition
  | Concat
  | NodeStateValue
  | PostCondition
  | NodeId
  | VariableDeclarations
  | NEInternal
  | SQRT
  | LibraryNodeDeclaration
  | StringVariable
  | NodeCommandHandleValue
  | MUL
  | EQNumeric
  | InvariantCondition
  | Parameter
  | IsKnown
  | ABS
  | NodeOutcomeVariable
  | IntegerValue
  | Resource
  | NodeOutcomeValue
  | StartCondition
  | GlobalDeclarations
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | StringValue
  | EQBoolean
  | OR
  | EQString
  | EndCondition
  | Name
  | NEBoolean
  | (notAllowed
     | element ArrayValue {
         SourceLocators,
         attribute Type {
           xsd:NMTOKEN "Real"
           | xsd:NMTOKEN "String"
           | xsd:NMTOKEN "Boolean"
           | xsd:NMTOKEN "Integer"
         },
         (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
       })
  | GT
  | Alias
  | ArrayRHS
  | DIV
  | LE
  | NodeFailureValue
NodeId =
  notAllowed
  | element NodeId { NCName }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
DIV =
  notAllowed
  | element DIV { SourceLocators, NumericExpression, NumericExpression }
MOD =
  notAllowed
  | element MOD { SourceLocators, NumericExpression, NumericExpression }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
EQString =
  notAllowed
  | element EQString {
      SourceLocators, StringExpression, StringExpression
    }
LookupGroup = LookupOnChange | LookupNow
nonNegativeInteger = xsd:nonNegativeInteger
GE =
  notAllowed
  | element GE { SourceLocators, NumericExpression, NumericExpression }
LE =
  notAllowed
  | element LE { SourceLocators, NumericExpression, NumericExpression }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
NodeState = NodeStateVariable | NodeStateValue
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
LookupRHS =
  notAllowed
  | element LookupRHS { SourceLocators, LookupGroup }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      SourceLocators,
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { SourceLocators, NodeId }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { StringExpression }
       & element ResourcePriority { NumericExpression }
       & element ResourceLowerBound { NumericExpression }?
       & element ResourceUpperBound { NumericExpression }?
       & element ResourceReleaseAtTermination { BooleanExpression }?)
    }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
PreCondition =
  notAllowed
  | element PreCondition { SourceLocators, BooleanExpression }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
Action = Node
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
Return =
  notAllowed
  | element Return {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
Tolerance =
  notAllowed
  | element Tolerance { RealValue | RealVariable }
NumericExpression =
  ADD
  | SUB
  | MUL
  | DIV
  | MOD
  | SQRT
  | ABS
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | LookupGroup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (DeclaredVariable
       | LookupGroup
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeTimepointValue)
    }
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | LookupGroup
  | ArrayElement
OR =
  notAllowed
  | element OR { SourceLocators, BooleanExpression* }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
NodeList =
  notAllowed
  | element NodeList { Action* }
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx { xsd:NCName }?,
      attribute NodeType {
        xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "NodeList"
      },
      (element Comment { xsd:string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
PostCondition =
  notAllowed
  | element PostCondition { SourceLocators, BooleanExpression }
NodeReference = NodeId | NodeRef
Parameter =
  notAllowed
  | element Parameter {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, StringExpression }
RepeatCondition =
  notAllowed
  | element RepeatCondition { SourceLocators, BooleanExpression }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "FAILURE"
    }
SkipCondition =
  notAllowed
  | element SkipCondition { SourceLocators, BooleanExpression }
NEString =
  notAllowed
  | element NEString {
      SourceLocators, StringExpression, StringExpression
    }
Value = IntegerValue | RealValue | BooleanValue | StringValue
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
Interface =
  notAllowed
  | element Interface { In? & InOut? }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      (Value | DeclaredVariable)
    }
InvariantCondition =
  notAllowed
  | element InvariantCondition { SourceLocators, BooleanExpression }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | ArrayVariable
  | ArrayElement
NOT =
  notAllowed
  | element NOT { SourceLocators, BooleanExpression }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      element Interface {
        mixed {
          (attribute * { text }
           | element0)*
        }
      }
    }
ArrayRHS =
  notAllowed
  | element ArrayRHS { SourceLocators, ArrayVariable }
In =
  notAllowed
  | element In { SourceLocators, (DeclareVariable | DeclareArray)+ }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { Value }?
    }
SQRT =
  notAllowed
  | element SQRT { SourceLocators, NumericExpression }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
    }
ABS =
  notAllowed
  | element ABS { SourceLocators, NumericExpression }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
        | xsd:NMTOKEN "self"
      }?,
      (xsd:NCName | xsd:string "")
    }
XOR =
  notAllowed
  | element XOR { SourceLocators, BooleanExpression* }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHING"
      | xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHED"
    }
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue {
        IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+
      }?
    }
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
EndCondition =
  notAllowed
  | element EndCondition { SourceLocators, BooleanExpression }
LT =
  notAllowed
  | element LT { SourceLocators, NumericExpression, NumericExpression }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      Parameter*
    }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
StartCondition =
  notAllowed
  | element StartCondition { SourceLocators, BooleanExpression }
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
AND =
  notAllowed
  | element AND { SourceLocators, BooleanExpression* }
Arguments =
  notAllowed
  | element Arguments {
      SourceLocators,
      (BooleanExpression
       | NumericExpression
       | StringExpression
       | ArrayVariable)+
    }
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, BooleanExpression }
AtomicTypeValues =
  xsd:NMTOKEN "Real"
  | xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Integer"
InOut =
  notAllowed
  | element InOut { SourceLocators, (DeclareVariable | DeclareArray)+ }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
SUB =
  notAllowed
  | element SUB { SourceLocators, NumericExpression, NumericExpression }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      element Name { NCName },
      element Index { NumericExpression }
    }
ArrayVariable =
  notAllowed
  | element ArrayVariable { NCName }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList | Command | Assignment | Update | LibraryNodeCall
    }
Name =
  notAllowed
  | element Name { SourceLocators, StringExpression }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "START" | xsd:NMTOKEN "END" }
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
NodeFailure = NodeFailureVariable | NodeFailureValue
GT =
  notAllowed
  | element GT { SourceLocators, NumericExpression, NumericExpression }
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, NumericExpression }
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
Concat =
  notAllowed
  | element Concat { SourceLocators, StringExpression* }
node-reference = NodeReference, empty
StringExpression =
  StringVariable | StringValue | Concat | LookupGroup | ArrayElement
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
NCName = xsd:NCName
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
