schema/core-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  StartCondition
  | InOut
  | NodeBody
  | BooleanVariable
  | InvariantCondition
  | EQInternal
  | StringVariable
  | GlobalDeclarations
  | Node
  | NodeCommandHandleVariable
  | Concat
  | Update
  | Interface
  | RealVariable
  | EQNumeric
  | OR
  | VariableDeclarations
  | IntegerValue
  | StringValue
  | BooleanRHS
  | NodeFailureVariable
  | AND
  | PreCondition
  | Assignment
  | NumericRHS
  | ArrayElement
  | DeclareArray
  | RepeatCondition
  | LE
  | Arguments
  | NEInternal
  | SkipCondition
  | NodeTimepointValue
  | PostCondition
  | Command
  | EndCondition
  | LibraryNodeCall
  | StringRHS
  | NodeRef
  | Alias
  | NENumeric
  | Request
  | Timepoint
  | CommandDeclaration
  | NEBoolean
  | LookupRHS
  | LookupNow
  | LookupOnChange
  | ResourceList
  | NodeFailureValue
  | StateDeclaration
  | ArrayRHS
  | LT
  | GT
  | LibraryNodeDeclaration
  | SQRT
  | In
  | Name
  | Pair
  | NodeOutcomeVariable
  | GE
  | MUL
  | ABS
  | IntegerVariable
  | EQBoolean
  | Tolerance
  | RealValue
  | NEString
  | XOR
  | NodeStateVariable
  | EQString
  | Resource
  | DIV
  | FunctionCall
  | SUB
  | IsKnown
  | NodeList
  | (notAllowed
     | element PlexilPlan {
         ColNo?, LineNo?, FileName?, GlobalDeclarations?, Action
       })
  | NodeStateValue
  | NOT
  | ADD
  | Parameter
  | DeclareVariable
  | BooleanValue
  | NodeCommandHandleValue
  | NodeId
  | Return
  | NodeOutcomeValue
LE =
  notAllowed
  | element LE { NumericExpression, NumericExpression }
IsKnown =
  notAllowed
  | element IsKnown {
      DeclaredVariable
      | Lookup
      | NodeStateVariable
      | NodeOutcomeVariable
      | NodeTimepointValue
    }
Node =
  notAllowed
  | element Node {
      ColNo?,
      LineNo?,
      FileName?,
      attribute epx {
        xsd:NMTOKEN "UncheckedSequence"
        | xsd:NMTOKEN "Then"
        | xsd:NMTOKEN "Else"
        | xsd:NMTOKEN "Sequence"
        | xsd:NMTOKEN "If"
        | xsd:NMTOKEN "While"
        | xsd:NMTOKEN "For"
        | xsd:NMTOKEN "Concurrence"
        | xsd:NMTOKEN "aux"
        | xsd:NMTOKEN "Try"
      }?,
      attribute NodeType {
        xsd:NMTOKEN "FunctionCall"
        | xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Request"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
ArrayElement =
  notAllowed
  | element ArrayElement {
      element Name { NCName },
      element Index { NumericExpression }
    }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "END" | xsd:NMTOKEN "START" }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
EQBoolean =
  notAllowed
  | element EQBoolean { BooleanExpression, BooleanExpression }
Lookup = LookupOnChange | LookupNow
ArrayRHS =
  notAllowed
  | element ArrayRHS {
      element ArrayVariable { NCName }
    }
StartCondition =
  notAllowed
  | element StartCondition { BooleanExpression }
BooleanRHS =
  notAllowed
  | element BooleanRHS { BooleanExpression }
LookupRHS =
  notAllowed
  | element LookupRHS { Lookup }
GT =
  notAllowed
  | element GT { NumericExpression, NumericExpression }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
      }?,
      NCNameOrEmpty
    }
TypeValues =
  xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Array"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Real"
StringExpression =
  StringVariable | StringValue | Concat | Lookup | ArrayElement
ColNo = attribute ColNo { xsd:integer }
NCName = xsd:NCName
Command =
  notAllowed
  | element Command {
      ResourceList?,
      DeclaredVariable?,
      (Name
       | element CommandName { \string }),
      Arguments?
    }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHED"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHING"
    }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
NodeList =
  notAllowed
  | element NodeList { Action* }
GE =
  notAllowed
  | element GE { NumericExpression, NumericExpression }
XOR =
  notAllowed
  | element XOR { BooleanExpression* }
DeclareArray =
  notAllowed
  | element DeclareArray {
      element Name { NCName },
      element Type { TypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue {
        IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+
      }?
    }
Update =
  notAllowed
  | element Update { Pair* }
node-reference = NodeReference, empty
PostCondition =
  notAllowed
  | element PostCondition { BooleanExpression }
LookupNow =
  notAllowed
  | element LookupNow {
      (Name
       | element StateName { \string }),
      Arguments?
    }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | (notAllowed
     | element ArrayVariable { NCName })
  | ArrayElement
NENumeric =
  notAllowed
  | element NENumeric { NumericExpression, NumericExpression }
SkipCondition =
  notAllowed
  | element SkipCondition { BooleanExpression }
Resource =
  notAllowed
  | element Resource {
      element ResourceName { StringExpression }
      & element ResourcePriority { NumericExpression }
      & element ResourceLowerBound { NumericExpression }?
      & element ResourceUpperBound { NumericExpression }?
      & element ResourceReleaseAtTermination { BooleanExpression }?
    }
Return =
  notAllowed
  | element Return {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
NumericExpression =
  ADD
  | SUB
  | MUL
  | DIV
  | SQRT
  | ABS
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | Lookup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
Request =
  notAllowed
  | element Request { NodeId?, Pair* }
NEString =
  notAllowed
  | element NEString { StringExpression, StringExpression }
NodeState = NodeStateVariable | NodeStateValue
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
Concat =
  notAllowed
  | element Concat { StringExpression* }
\string = xsd:string
EQString =
  notAllowed
  | element EQString { StringExpression, StringExpression }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { NodeId }
EQInternal =
  notAllowed
  | element EQInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
PreCondition =
  notAllowed
  | element PreCondition { BooleanExpression }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
NodeReference = NodeId | NodeRef
SUB =
  notAllowed
  | element SUB { NumericExpression, NumericExpression }
ADD =
  notAllowed
  | element ADD {
      NumericExpression, NumericExpression, NumericExpression*
    }
Tolerance =
  notAllowed
  | element Tolerance { RealValue | RealVariable }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
ABS =
  notAllowed
  | element ABS { NumericExpression }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
NodeId =
  notAllowed
  | element NodeId { NCName }
LT =
  notAllowed
  | element LT { NumericExpression, NumericExpression }
In =
  notAllowed
  | element In { DeclareVariable+ }
DIV =
  notAllowed
  | element DIV { NumericExpression, NumericExpression }
InvariantCondition =
  notAllowed
  | element InvariantCondition { BooleanExpression }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      element Name { NCName },
      Return,
      Parameter*
    }
FunctionCall =
  notAllowed
  | element FunctionCall {
      DeclaredVariable?,
      (Name
       | element FunctionName { \string }),
      Arguments?
    }
Arguments =
  notAllowed
  | element Arguments {
      (IntegerValue
       | RealValue
       | BooleanValue
       | StringValue
       | DeclaredVariable)+
    }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      element Name { NCName },
      element Interface {
        mixed {
          (attribute * { text }
           | element0)*
        }
      }
    }
EQNumeric =
  notAllowed
  | element EQNumeric { NumericExpression, NumericExpression }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
InOut =
  notAllowed
  | element InOut { DeclareVariable+ }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
MUL =
  notAllowed
  | element MUL {
      NumericExpression, NumericExpression, NumericExpression*
    }
Name =
  notAllowed
  | element Name { StringExpression }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
    }
Assignment =
  notAllowed
  | element Assignment {
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
EndCondition =
  notAllowed
  | element EndCondition { BooleanExpression }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      element Name { NCName },
      element Type { TypeValues },
      element InitialValue { Value }?
    }
NodeFailure = NodeFailureVariable | NodeFailureValue
ResourceList =
  notAllowed
  | element ResourceList { Resource* }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      NodeReference, NodeStateValue, Timepoint
    }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList
      | Command
      | Assignment
      | FunctionCall
      | Update
      | Request
      | LibraryNodeCall
    }
LineNo = attribute LineNo { xsd:integer }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
AND =
  notAllowed
  | element AND { BooleanExpression* }
StringRHS =
  notAllowed
  | element StringRHS { StringExpression }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
Alias =
  notAllowed
  | element Alias {
      element NodeParameter { NCName },
      (Value | DeclaredVariable)
    }
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | Lookup
  | ArrayElement
StringValue =
  notAllowed
  | element StringValue { xsd:string }
NEInternal =
  notAllowed
  | element NEInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
Parameter =
  notAllowed
  | element Parameter {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
NumericRHS =
  notAllowed
  | element NumericRHS { NumericExpression }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "FAILURE"
    }
Action = Node
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
FileName = attribute FileName { xsd:string }
Interface =
  notAllowed
  | element Interface { In? & InOut? }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
nonNegativeInteger = xsd:nonNegativeInteger
NEBoolean =
  notAllowed
  | element NEBoolean { BooleanExpression, BooleanExpression }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
NOT =
  notAllowed
  | element NOT { BooleanExpression }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
RepeatCondition =
  notAllowed
  | element RepeatCondition { BooleanExpression }
OR =
  notAllowed
  | element OR { BooleanExpression* }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      (Name
       | element StateName { \string }),
      Tolerance?,
      Arguments?
    }
Value = IntegerValue | RealValue | BooleanValue | StringValue
NCNameOrEmpty = xsd:NCName | xsd:string ""
SQRT =
  notAllowed
  | element SQRT { NumericExpression }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
