schema/core-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  SQRT
  | Node
  | NumericRHS
  | Assignment
  | ALL_KNOWN
  | FLOOR
  | LibraryNodeDeclaration
  | ArrayVariable
  | BooleanValue
  | EQBoolean
  | EQString
  | CEIL
  | StringValue
  | EQArray
  | IsKnown
  | NodeCommandHandleValue
  | Finished
  | SUB
  | StringRHS
  | NodeBody
  | NodeList
  | Skipped
  | StartCondition
  | Arguments
  | PostCondition
  | STRLEN
  | ResourceList
  | MIN
  | InvariantCondition
  | PostconditionFailed
  | NEInternal
  | XOR
  | In
  | MAX
  | LookupOnChange
  | NoChildFailed
  | TRUNC
  | NEString
  | VariableDeclarations
  | Timepoint
  | NEArray
  | NodeRef
  | EndCondition
  | ABS
  | NodeStateVariable
  | ArraySize
  | REAL_TO_INT
  | RealValue
  | NodeOutcomeVariable
  | RealVariable
  | NodeOutcomeValue
  | StringVariable
  | EQNumeric
  | DIV
  | Parameter
  | LE
  | Interface
  | ADD
  | DeclareArray
  | ArrayMaxSize
  | LT
  | Update
  | Name
  | Concat
  | Succeeded
  | IntegerVariable
  | BooleanRHS
  | ANY_KNOWN
  | RepeatCondition
  | NodeFailureValue
  | ArrayElement
  | NodeStateValue
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | MUL
  | Failed
  | PreCondition
  | Resource
  | NOT
  | AND
  | NodeId
  | IterationEnded
  | Assume
  | Executing
  | ExitCondition
  | ArrayValue
  | NodeCommandHandleVariable
  | EQInternal
  | ROUND
  | DeclareVariable
  | NodeFailureVariable
  | ArrayRHS
  | NENumeric
  | GlobalDeclarations
  | CommandDeclaration
  | Inactive
  | GE
  | LookupNow
  | Pair
  | Return
  | OR
  | MOD
  | Desire
  | IntegerValue
  | Tolerance
  | NodeTimepointValue
  | LibraryNodeCall
  | GT
  | NEBoolean
  | Waiting
  | Expect
  | Command
  | BooleanVariable
  | Alias
  | SkipCondition
  | InOut
  | StateDeclaration
ALL_KNOWN =
  notAllowed
  | element ALL_KNOWN { SourceLocators, GeneralizedArrayExpression }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { GeneralizedStringExpression }
       & element ResourcePriority { GeneralizedNumericExpression }
       & element ResourceLowerBound { GeneralizedNumericExpression }?
       & element ResourceUpperBound { GeneralizedNumericExpression }?
       & element ResourceReleaseAtTermination {
           GeneralizedBooleanExpression
         }?)
    }
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
node-reference = (SourceLocators, NodeReference), empty
NEArray =
  notAllowed
  | element NEArray {
      SourceLocators,
      GeneralizedArrayExpression,
      GeneralizedArrayExpression
    }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
GeneralizedArrayExpression = ArrayExpression | LookupGroup
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
SQRT =
  notAllowed
  | element SQRT { SourceLocators, GeneralizedNumericExpression }
RepeatCondition =
  notAllowed
  | element RepeatCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
Name =
  notAllowed
  | element Name { SourceLocators, GeneralizedStringExpression }
StartCondition =
  notAllowed
  | element StartCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
MIN =
  notAllowed
  | element MIN {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall { SourceLocators, NodeId, Alias* }
NodeState = NodeStateVariable | NodeStateValue
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "EXITED"
      | xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
      | xsd:NMTOKEN "PARENT_EXITED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
    }
Succeeded =
  notAllowed
  | element Succeeded { node-reference }
InOut =
  notAllowed
  | element InOut { SourceLocators, (DeclareVariable | DeclareArray)+ }
CEIL =
  notAllowed
  | element CEIL { SourceLocators, GeneralizedNumericExpression }
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
In =
  notAllowed
  | element In { SourceLocators, (DeclareVariable | DeclareArray)+ }
ABS =
  notAllowed
  | element ABS { SourceLocators, GeneralizedNumericExpression }
AND =
  notAllowed
  | element AND { SourceLocators, GeneralizedBooleanExpression* }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
Tolerance =
  notAllowed
  | element Tolerance { GeneralizedNumericExpression }
LE =
  notAllowed
  | element LE {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
ArrayValue =
  notAllowed
  | element ArrayValue {
      SourceLocators,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
      },
      (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
    }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      ParameterSpec?,
      ResourceList?
    }
SUB =
  notAllowed
  | element SUB { SourceLocators, GeneralizedNumericExpression+ }
GeneralizedBooleanExpression =
  BooleanExpression | LookupGroup | ArrayElement
Skipped =
  notAllowed
  | element Skipped { node-reference }
Expect =
  notAllowed
  | element Expect { SourceLocators, GeneralizedBooleanExpression }
ArrayRHS =
  notAllowed
  | element ArrayRHS { SourceLocators, GeneralizedArrayExpression }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
Concat =
  notAllowed
  | element Concat { SourceLocators, GeneralizedStringExpression* }
NCName = xsd:NCName
ArrayExpression = ArrayValue | ArrayVariable
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "parent"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "child"
      }?,
      (xsd:NCName | xsd:string "")
    }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (Expression
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeCommandHandleVariable)
    }
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
ANY_KNOWN =
  notAllowed
  | element ANY_KNOWN { SourceLocators, GeneralizedArrayExpression }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { node-reference }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHING"
      | xsd:NMTOKEN "FINISHED"
    }
Finished =
  notAllowed
  | element Finished { node-reference }
StringExpression = StringVariable | StringValue | Concat
MOD =
  notAllowed
  | element MOD {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
nonNegativeInteger = xsd:nonNegativeInteger
Arguments =
  notAllowed
  | element Arguments { SourceLocators, Expression+ }
REAL_TO_INT =
  notAllowed
  | element REAL_TO_INT { SourceLocators, GeneralizedNumericExpression }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
    }
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      (GeneralizedArrayExpression
       | element Name { NCName }),
      element Index { GeneralizedNumericExpression }
    }
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators,
      GeneralizedBooleanExpression,
      GeneralizedBooleanExpression
    }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
FLOOR =
  notAllowed
  | element FLOOR { SourceLocators, GeneralizedNumericExpression }
NodeFailure = NodeFailureVariable | NodeFailureValue
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      Interface?
    }
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators,
      GeneralizedBooleanExpression,
      GeneralizedBooleanExpression
    }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | ArrayVariable
  | ArrayElement
Return =
  notAllowed
  | element Return {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
Executing =
  notAllowed
  | element Executing { node-reference }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
ParameterSpec =
  Parameter*,
  (notAllowed
   | element AnyParameters {
       mixed {
         (attribute * { text }
          | element0)*
       }
     })?
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, GeneralizedNumericExpression }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
NOT =
  notAllowed
  | element NOT { SourceLocators, GeneralizedBooleanExpression }
PostconditionFailed =
  notAllowed
  | element PostconditionFailed { node-reference }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      ParameterSpec?
    }
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
EQArray =
  notAllowed
  | element EQArray {
      SourceLocators,
      GeneralizedArrayExpression,
      GeneralizedArrayExpression
    }
EQString =
  notAllowed
  | element EQString {
      SourceLocators,
      GeneralizedStringExpression,
      GeneralizedStringExpression
    }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { DeclaredVariable | Value }?
    }
Value = IntegerValue | RealValue | BooleanValue | StringValue
MAX =
  notAllowed
  | element MAX {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
LookupGroup = LookupOnChange | LookupNow
PostCondition =
  notAllowed
  | element PostCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
Waiting =
  notAllowed
  | element Waiting { node-reference }
Assume =
  notAllowed
  | element Assume { SourceLocators, GeneralizedBooleanExpression }
InvariantCondition =
  notAllowed
  | element InvariantCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
ArraySize =
  notAllowed
  | element ArraySize { SourceLocators, GeneralizedArrayExpression }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
STRLEN =
  notAllowed
  | element STRLEN { SourceLocators, GeneralizedStringExpression }
GT =
  notAllowed
  | element GT {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
Parameter =
  notAllowed
  | element Parameter {
      element Name { NCName }?,
      element Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Any"
      },
      element MaxSize { nonNegativeInteger }?
    }
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
EndCondition =
  notAllowed
  | element EndCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
IterationEnded =
  notAllowed
  | element IterationEnded { node-reference }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      Expression
    }
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, GeneralizedStringExpression }
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
Failed =
  notAllowed
  | element Failed { node-reference }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
Action = Node
ArrayMaxSize =
  notAllowed
  | element ArrayMaxSize { SourceLocators, GeneralizedArrayExpression }
Inactive =
  notAllowed
  | element Inactive { node-reference }
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, GeneralizedBooleanExpression }
BooleanExpression =
  (OR | XOR | AND | NOT)
  | (EQBoolean
     | EQNumeric
     | EQInternal
     | EQString
     | EQArray
     | NEBoolean
     | NENumeric
     | NEInternal
     | NEString
     | NEArray)
  | (GT | GE | LT | LE)
  | (IsKnown | ALL_KNOWN | ANY_KNOWN)
  | (Executing
     | Finished
     | Inactive
     | IterationEnded
     | Waiting
     | NoChildFailed)
  | (Failed | Skipped | Succeeded)
  | PostconditionFailed
  | BooleanVariable
  | BooleanValue
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
TRUNC =
  notAllowed
  | element TRUNC { SourceLocators, GeneralizedNumericExpression }
ArrayVariable =
  notAllowed
  | element ArrayVariable { NCName }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList | Command | Assignment | Update | LibraryNodeCall
    }
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx { xsd:NCName }?,
      attribute NodeType {
        xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "LibraryNodeCall"
      },
      (element Comment { xsd:string }?
       & NodeId
       & Assume?
       & Desire?
       & Expect?
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & ExitCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
NodeReference = NodeId | NodeRef
Desire =
  notAllowed
  | element Desire { SourceLocators, GeneralizedBooleanExpression }
SkipCondition =
  notAllowed
  | element SkipCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
NumericExpression =
  (ADD
   | SUB
   | MUL
   | DIV
   | MOD
   | MAX
   | MIN
   | SQRT
   | ABS
   | CEIL
   | FLOOR
   | ROUND
   | TRUNC
   | REAL_TO_INT
   | STRLEN)
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | NodeTimepointValue
  | ArraySize
  | ArrayMaxSize
AtomicTypeValues =
  xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Real"
  | xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Boolean"
Interface =
  notAllowed
  | element Interface { SourceLocators, (In? & InOut?) }
ROUND =
  notAllowed
  | element ROUND { SourceLocators, GeneralizedNumericExpression }
OR =
  notAllowed
  | element OR { SourceLocators, GeneralizedBooleanExpression* }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "START" | xsd:NMTOKEN "END" }
XOR =
  notAllowed
  | element XOR { SourceLocators, GeneralizedBooleanExpression* }
GeneralizedNumericExpression =
  NumericExpression | LookupGroup | ArrayElement
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?,
      element InitialValue { Value+ | ArrayValue | ArrayVariable }?
    }
ExitCondition =
  notAllowed
  | element ExitCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
GeneralizedStringExpression =
  StringExpression | LookupGroup | ArrayElement
PreCondition =
  notAllowed
  | element PreCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
NoChildFailed =
  notAllowed
  | element NoChildFailed { node-reference }
Expression =
  BooleanExpression
  | NumericExpression
  | StringExpression
  | ArrayExpression
  | LookupGroup
  | ArrayElement
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression*
    }
LT =
  notAllowed
  | element LT {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression*
    }
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "FAILURE"
      | xsd:NMTOKEN "INTERRUPTED"
    }
NodeList =
  notAllowed
  | element NodeList { Action* }
DIV =
  notAllowed
  | element DIV {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      Expression
    }
NodeId =
  notAllowed
  | element NodeId { NCName }
NEString =
  notAllowed
  | element NEString {
      SourceLocators,
      GeneralizedStringExpression,
      GeneralizedStringExpression
    }
GE =
  notAllowed
  | element GE {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | ArrayRHS)
    }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
