schema/core-plexil-draft.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  StartCondition
  | InOut
  | NodeBody
  | Date
  | BooleanVariable
  | InvariantCondition
  | EQInternal
  | StringVariable
  | GlobalDeclarations
  | Node
  | (notAllowed
     | element MOD {
         SourceLocators, NumericExpression, NumericExpression
       })
  | NodeCommandHandleVariable
  | Concat
  | Update
  | Interface
  | RealVariable
  | EQNumeric
  | OR
  | VariableDeclarations
  | IntegerValue
  | StringValue
  | BooleanRHS
  | NodeFailureVariable
  | AND
  | PreCondition
  | Assignment
  | ArrayValue
  | NumericRHS
  | ArrayElement
  | DeclareArray
  | RepeatCondition
  | LE
  | Arguments
  | (notAllowed
     | element TimeInterval {
         element Start { TimePoint }
         & element End { TimePoint }
         & element Duration { Duration }
       })
  | NEInternal
  | SkipCondition
  | NodeTimepointValue
  | PostCondition
  | Command
  | Duration
  | EndCondition
  | LibraryNodeCall
  | StringRHS
  | NodeRef
  | Alias
  | NENumeric
  | Request
  | Timepoint
  | Time
  | CommandDeclaration
  | NEBoolean
  | LookupRHS
  | LookupNow
  | LookupOnChange
  | ResourceList
  | NodeFailureValue
  | StateDeclaration
  | ArrayRHS
  | LT
  | GT
  | LibraryNodeDeclaration
  | SQRT
  | In
  | Name
  | TimePoint
  | Pair
  | NodeOutcomeVariable
  | GE
  | MUL
  | ABS
  | IntegerVariable
  | EQBoolean
  | Tolerance
  | RealValue
  | NEString
  | XOR
  | NodeStateVariable
  | EQString
  | Resource
  | DIV
  | SUB
  | IsKnown
  | NodeList
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | NodeStateValue
  | NOT
  | ADD
  | Parameter
  | DeclareVariable
  | BooleanValue
  | NodeCommandHandleValue
  | NodeId
  | Return
  | NodeOutcomeValue
LT =
  notAllowed
  | element LT { SourceLocators, NumericExpression, NumericExpression }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
In =
  notAllowed
  | element In { SourceLocators, (DeclareVariable | DeclareArray)+ }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { SourceLocators, NodeId }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
NodeFailure = NodeFailureVariable | NodeFailureValue
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
NCName = xsd:NCName
NCNameOrEmpty = xsd:NCName | xsd:string ""
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      (Value | DeclaredVariable)
    }
GT =
  notAllowed
  | element GT { SourceLocators, NumericExpression, NumericExpression }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "END" | xsd:NMTOKEN "START" }
SQRT =
  notAllowed
  | element SQRT { SourceLocators, NumericExpression }
ArrayRHS =
  notAllowed
  | element ArrayRHS {
      SourceLocators,
      element ArrayVariable { NCName }
    }
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
NEString =
  notAllowed
  | element NEString {
      SourceLocators, StringExpression, StringExpression
    }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { integer })+
    }
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, NumericExpression }
StringExpression =
  StringVariable | StringValue | Concat | LookupGroup | ArrayElement
InvariantCondition =
  notAllowed
  | element InvariantCondition { SourceLocators, BooleanExpression }
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
EndCondition =
  notAllowed
  | element EndCondition { SourceLocators, BooleanExpression }
SUB =
  notAllowed
  | element SUB { SourceLocators, NumericExpression, NumericExpression }
Duration =
  notAllowed
  | element Duration {
      element Days { integer }
      & element Hours { integer }
      & element Minutes { integer }
      & element Seconds { float }
    }
NodeId =
  notAllowed
  | element NodeId { NCName }
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue {
        IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+
      }?
    }
Name =
  notAllowed
  | element Name { SourceLocators, StringExpression }
DIV =
  notAllowed
  | element DIV { SourceLocators, NumericExpression, NumericExpression }
nonNegativeInteger = xsd:nonNegativeInteger
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
AND =
  notAllowed
  | element AND { SourceLocators, BooleanExpression* }
PostCondition =
  notAllowed
  | element PostCondition { SourceLocators, BooleanExpression }
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
TimePoint =
  notAllowed
  | element TimePoint { Date & Time }
NumericExpression =
  ADD
  | SUB
  | MUL
  | DIV
  | SQRT
  | ABS
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | LookupGroup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
  | Duration
integer = xsd:integer
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
    }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      Parameter*
    }
Action = Node
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
InOut =
  notAllowed
  | element InOut { SourceLocators, (DeclareVariable | DeclareArray)+ }
LookupRHS =
  notAllowed
  | element LookupRHS { SourceLocators, LookupGroup }
Date =
  notAllowed
  | element Date {
      element Year { integer }
      & element Month { integer }
      & element Day { integer }
    }
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHED"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHING"
    }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
      }?,
      NCNameOrEmpty
    }
node-reference = NodeReference, empty
RepeatCondition =
  notAllowed
  | element RepeatCondition { SourceLocators, BooleanExpression }
Request =
  notAllowed
  | element Request { SourceLocators, NodeId?, Pair* }
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
NodeReference = NodeId | NodeRef
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { StringExpression }
       & element ResourcePriority { NumericExpression }
       & element ResourceLowerBound { NumericExpression }?
       & element ResourceUpperBound { NumericExpression }?
       & element ResourceReleaseAtTermination { BooleanExpression }?)
    }
PreCondition =
  notAllowed
  | element PreCondition { SourceLocators, BooleanExpression }
ABS =
  notAllowed
  | element ABS { SourceLocators, NumericExpression }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
LE =
  notAllowed
  | element LE { SourceLocators, NumericExpression, NumericExpression }
XOR =
  notAllowed
  | element XOR { SourceLocators, BooleanExpression* }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (DeclaredVariable
       | LookupGroup
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeTimepointValue)
    }
Interface =
  notAllowed
  | element Interface { In? & InOut? }
\string = xsd:string
Return =
  notAllowed
  | element Return {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
float = xsd:float
StartCondition =
  notAllowed
  | element StartCondition { SourceLocators, BooleanExpression }
Parameter =
  notAllowed
  | element Parameter {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      element Name { NCName },
      element Index { NumericExpression }
    }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "FAILURE"
    }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | (notAllowed
     | element ArrayVariable { NCName })
  | ArrayElement
GE =
  notAllowed
  | element GE { SourceLocators, NumericExpression, NumericExpression }
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, BooleanExpression }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
Arguments =
  notAllowed
  | element Arguments {
      SourceLocators,
      (IntegerValue
       | RealValue
       | BooleanValue
       | ArrayValue
       | StringExpression
       | DeclaredVariable)+
    }
Value = IntegerValue | RealValue | BooleanValue | StringValue
OR =
  notAllowed
  | element OR { SourceLocators, BooleanExpression* }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList
      | Command
      | Assignment
      | Update
      | Request
      | LibraryNodeCall
    }
LookupGroup = LookupOnChange | LookupNow
Time =
  notAllowed
  | element Time {
      element Hour { integer }
      & element Minute { integer }
      & element Second { float }
      & element Offset { integer }
    }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
NodeState = NodeStateVariable | NodeStateValue
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, StringExpression }
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx {
        xsd:NMTOKEN "UncheckedSequence"
        | xsd:NMTOKEN "Then"
        | xsd:NMTOKEN "Else"
        | xsd:NMTOKEN "Sequence"
        | xsd:NMTOKEN "If"
        | xsd:NMTOKEN "While"
        | xsd:NMTOKEN "For"
        | xsd:NMTOKEN "Concurrence"
        | xsd:NMTOKEN "aux"
        | xsd:NMTOKEN "Try"
      }?,
      attribute NodeType {
        xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Request"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
EQString =
  notAllowed
  | element EQString {
      SourceLocators, StringExpression, StringExpression
    }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      element Interface {
        mixed {
          (attribute * { text }
           | element0)*
        }
      }
    }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | LookupGroup
  | ArrayElement
Tolerance =
  notAllowed
  | element Tolerance { RealValue | RealVariable }
Concat =
  notAllowed
  | element Concat { SourceLocators, StringExpression* }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { Value }?
    }
NodeList =
  notAllowed
  | element NodeList { Action* }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
NOT =
  notAllowed
  | element NOT { SourceLocators, BooleanExpression }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
SkipCondition =
  notAllowed
  | element SkipCondition { SourceLocators, BooleanExpression }
AtomicTypeValues =
  xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Real"
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      SourceLocators,
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
ArrayValue =
  notAllowed
  | element ArrayValue {
      SourceLocators,
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
    }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
