schema/core-plexil-v2.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  DeclareMutex
  | ADD
  | EmptyNode
  | CommandNode
  | NodeState2
  | DeclareArray
  | NodeFailure2
  | SQRT
  | ArrayMaxSize
  | LT
  | String
  | Update
  | NodeOutcome
  | Name
  | Assignment
  | ALL_KNOWN
  | Concat
  | FLOOR
  | LibraryCall
  | IntegerVariable
  | ArrayVariable
  | Real
  | ANY_KNOWN
  | EQBoolean
  | EQString
  | CEIL
  | RepeatCondition
  | Boolean
  | ArrayElement
  | UpdateNode
  | IsKnown
  | NodeCommandHandleValue
  | SUB
  | (notAllowed
     | element PlexilPlan {
         SourceLocators,
         attribute version { xsd:decimal },
         GlobalDeclarations?,
         Action
       })
  | MUL
  | Resource
  | StartCondition
  | PreCondition
  | PostCondition
  | STRLEN
  | LibraryNode
  | NodeTimepoint
  | NOT
  | MIN
  | InvariantCondition
  | AND
  | NEInternal
  | NodeId
  | XOR
  | ExitCondition
  | NodeCommandHandleVariable
  | In
  | EQInternal
  | MAX
  | LookupOnChange
  | ROUND
  | DeclareVariable
  | NodeFailureVariable
  | TRUNC
  | NEString
  | NENumeric
  | NodeRef
  | EndCondition
  | ABS
  | GlobalDeclarations
  | NodeStateVariable
  | CommandDeclaration
  | ArraySize
  | UsingMutex
  | GE
  | REAL_TO_INT
  | LookupNow
  | Pair
  | OR
  | MOD
  | NodeOutcomeVariable
  | Tolerance
  | RealVariable
  | StringVariable
  | ListNode
  | EQNumeric
  | GT
  | NEBoolean
  | Integer
  | Array
  | DIV
  | Command
  | Alias
  | BooleanVariable
  | Parameter
  | SkipCondition
  | LE
  | InOut
  | StateDeclaration
GeneralizedArrayExpression = ArrayExpression | LookupGroup
SkipCondition =
  notAllowed
  | element SkipCondition { Condition }
NEString =
  notAllowed
  | element NEString { EqualityOperator }
NodeOutcome =
  notAllowed
  | element NodeOutcome {
      attribute value {
        xsd:NMTOKEN "SUCCESS"
        | xsd:NMTOKEN "SKIPPED"
        | xsd:NMTOKEN "FAILURE"
        | xsd:NMTOKEN "INTERRUPTED"
      }?
    }
DeclareMutex =
  notAllowed
  | element DeclareMutex {
      SourceLocators,
      attribute Name { xsd:NCName }?
    }
CEIL =
  notAllowed
  | element CEIL { UnaryNumericOp }
anonymous0 = SourceLocators, (NodeId | NodeRef)
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { NodeReference }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
Conditions =
  SkipCondition
  | StartCondition
  | PreCondition
  | EndCondition
  | ExitCondition
  | InvariantCondition
  | PostCondition
  | RepeatCondition
InOut =
  notAllowed
  | element InOut { InterfaceSpec }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (Expression
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeCommandHandleVariable)
    }
GeneralizedBooleanExpression =
  BooleanExpression | LookupGroup | ArrayElement
ArraySize =
  notAllowed
  | element ArraySize { SourceLocators, GeneralizedArrayExpression }
NumericExpression =
  (ADD
   | SUB
   | MUL
   | DIV
   | MOD
   | MAX
   | MIN
   | SQRT
   | ABS
   | CEIL
   | FLOOR
   | ROUND
   | TRUNC
   | REAL_TO_INT
   | STRLEN)
  | IntegerVariable
  | RealVariable
  | Integer
  | Real
  | NodeTimepoint
  | ArraySize
  | ArrayMaxSize
Condition = (SourceLocators, GeneralizedBooleanExpression), empty
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
Boolean =
  notAllowed
  | element Boolean {
      attribute value { xsd:boolean }?
    }
NaryBooleanOp = (SourceLocators, GeneralizedBooleanExpression+), empty
DIV =
  notAllowed
  | element DIV { BinaryNumericOp }
NodeState = NodeStateVariable | NodeState2
PreCondition =
  notAllowed
  | element PreCondition { Condition }
Array =
  notAllowed
  | element Array {
      SourceLocators,
      attribute ElementType {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
      },
      (Integer+ | Real+ | Boolean+ | String+)
    }
LibraryNode =
  notAllowed
  | element LibraryNode {
      SourceLocators,
      attribute Name { xsd:NCName },
      Interface*
    }
UnaryNumericOp = (SourceLocators, GeneralizedNumericExpression), empty
EndCondition =
  notAllowed
  | element EndCondition { Condition }
NodeState2 =
  notAllowed
  | element NodeState {
      attribute value {
        xsd:NMTOKEN "EXECUTING"
        | xsd:NMTOKEN "FAILING"
        | xsd:NMTOKEN "ITERATION_ENDED"
        | xsd:NMTOKEN "INACTIVE"
        | xsd:NMTOKEN "WAITING"
        | xsd:NMTOKEN "FINISHING"
        | xsd:NMTOKEN "FINISHED"
      }?
    }
Concat =
  notAllowed
  | element Concat { SourceLocators, GeneralizedStringExpression* }
NOT =
  notAllowed
  | element NOT { SourceLocators, GeneralizedBooleanExpression }
EqualityOperator =
  (SourceLocators,
   ((GeneralizedBooleanExpression, GeneralizedBooleanExpression)
    | (GeneralizedNumericExpression, GeneralizedNumericExpression)
    | (GeneralizedStringExpression, GeneralizedStringExpression)
    | (NodeState, NodeState)
    | (NodeOutcome2, NodeOutcome2)
    | (NodeFailure, NodeFailure)
    | (NodeCommandHandle, NodeCommandHandle))),
  empty
PostCondition =
  notAllowed
  | element PostCondition { Condition }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | DeclareMutex
       | LibraryNode
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
TRUNC =
  notAllowed
  | element TRUNC { UnaryNumericOp }
LookupGroup = LookupOnChange | LookupNow
STRLEN =
  notAllowed
  | element STRLEN { SourceLocators, GeneralizedStringExpression }
VariableReferenceType =
  (SourceLocators,
   attribute Name { xsd:NCName }),
  empty
NodeId =
  notAllowed
  | element NodeId { NCName }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element Name { GeneralizedStringExpression }
       & element Priority { GeneralizedNumericExpression }
       & element LowerBound { GeneralizedNumericExpression }?
       & element UpperBound { GeneralizedNumericExpression }?
       & element ReleaseAtTermination { GeneralizedBooleanExpression }?)
    }
BinaryNumericOp =
  (SourceLocators,
   (GeneralizedNumericExpression, GeneralizedNumericExpression)),
  empty
ArrayMaxSize =
  notAllowed
  | element ArrayMaxSize { SourceLocators, GeneralizedArrayExpression }
EmptyNode =
  notAllowed
  | element EmptyNode { anonymous1 }
NEInternal =
  notAllowed
  | element NEInternal { EqualityOperator }
InterfaceSpec =
  (SourceLocators, (DeclareVariable | DeclareArray)+),
  empty
XOR =
  notAllowed
  | element XOR { NaryBooleanOp }
NodeOutcome2 = NodeOutcomeVariable | NodeOutcome
RealVariable =
  notAllowed
  | element RealVariable { VariableReferenceType }
MAX =
  notAllowed
  | element MAX { NaryNumericOp }
NCName = xsd:NCName
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
      },
      attribute Name { xsd:NCName },
      (BooleanExpression
       | NumericExpression
       | StringExpression
       | LookupGroup
       | ArrayElement)?
    }
GeneralizedNumericExpression =
  NumericExpression | LookupGroup | ArrayElement
Interface = In | empty | InOut
NodeTimepoint =
  notAllowed
  | element NodeTimepoint {
      anonymous0,
      attribute NodeState {
        xsd:NMTOKEN "EXECUTING"
        | xsd:NMTOKEN "FAILING"
        | xsd:NMTOKEN "ITERATION_ENDED"
        | xsd:NMTOKEN "INACTIVE"
        | xsd:NMTOKEN "WAITING"
        | xsd:NMTOKEN "FINISHING"
        | xsd:NMTOKEN "FINISHED"
      },
      attribute Timepoint { xsd:NMTOKEN "START" | xsd:NMTOKEN "END" }
    }
Name =
  notAllowed
  | element Name { SourceLocators, GeneralizedStringExpression }
Parameter =
  notAllowed
  | element Parameter {
      attribute MaxSize { xsd:nonNegativeInteger }?,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "StringArray"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "RealArray"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Any"
        | xsd:NMTOKEN "IntegerArray"
        | xsd:NMTOKEN "BooleanArray"
      },
      attribute Name { xsd:NCName }?
    }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      attribute MaxSize { xsd:nonNegativeInteger }?,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "StringArray"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "RealArray"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Any"
        | xsd:NMTOKEN "IntegerArray"
        | xsd:NMTOKEN "BooleanArray"
      }?,
      attribute Name { xsd:NCName },
      ParameterSpec?,
      Resource*
    }
RepeatCondition =
  notAllowed
  | element RepeatCondition { Condition }
Real =
  notAllowed
  | element Real {
      attribute value { xsd:double }?
    }
StartCondition =
  notAllowed
  | element StartCondition { Condition }
OR =
  notAllowed
  | element OR { NaryBooleanOp }
Command =
  notAllowed
  | element Command {
      SourceLocators, Resource*, DeclaredVariable?, Name, Expression*
    }
LT =
  notAllowed
  | element LT { BinaryNumericOp }
NodeReference = anonymous0, empty
EQString =
  notAllowed
  | element EQString { EqualityOperator }
StringVariable =
  notAllowed
  | element StringVariable { VariableReferenceType }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | ArrayVariable
  | ArrayElement
MUL =
  notAllowed
  | element MUL { NaryNumericOp }
IntegerVariable =
  notAllowed
  | element IntegerVariable { VariableReferenceType }
CommandNode =
  notAllowed
  | element CommandNode { anonymous1, Command }
ANY_KNOWN =
  notAllowed
  | element ANY_KNOWN { SourceLocators, GeneralizedArrayExpression }
GT =
  notAllowed
  | element GT { BinaryNumericOp }
LE =
  notAllowed
  | element LE { BinaryNumericOp }
ExitCondition =
  notAllowed
  | element ExitCondition { Condition }
NodeFailure = NodeFailureVariable | NodeFailure2
GeneralizedStringExpression =
  StringExpression | LookupGroup | ArrayElement
In =
  notAllowed
  | element In { InterfaceSpec }
SQRT =
  notAllowed
  | element SQRT { UnaryNumericOp }
NaryNumericOp = (SourceLocators, GeneralizedNumericExpression+), empty
ListNode =
  notAllowed
  | element ListNode { anonymous1, Action* }
ParameterSpec =
  Parameter*,
  (notAllowed
   | element AnyParameters {
       mixed {
         (attribute * { text }
          | element0)*
       }
     })?
Tolerance =
  notAllowed
  | element Tolerance { GeneralizedNumericExpression }
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      attribute MaxSize { xsd:nonNegativeInteger }?,
      attribute ElementType {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
      },
      attribute Name { xsd:NCName },
      GeneralizedArrayExpression?
    }
InvariantCondition =
  notAllowed
  | element InvariantCondition { Condition }
ArrayVariable =
  notAllowed
  | element ArrayVariable { VariableReferenceType }
UpdateNode =
  notAllowed
  | element UpdateNode { anonymous1, Update }
AND =
  notAllowed
  | element AND { NaryBooleanOp }
SUB =
  notAllowed
  | element SUB { NaryNumericOp }
NENumeric =
  notAllowed
  | element NENumeric { EqualityOperator }
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
ABS =
  notAllowed
  | element ABS { UnaryNumericOp }
NEBoolean =
  notAllowed
  | element NEBoolean { EqualityOperator }
Integer =
  notAllowed
  | element Integer {
      attribute value { xsd:integer }?
    }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Tolerance?, Name, Expression*
    }
MIN =
  notAllowed
  | element MIN { NaryNumericOp }
FLOOR =
  notAllowed
  | element FLOOR { UnaryNumericOp }
BooleanExpression =
  (OR | XOR | AND | NOT)
  | (EQBoolean
     | EQNumeric
     | EQInternal
     | EQString
     | NEBoolean
     | NENumeric
     | NEInternal
     | NEString)
  | (GT | GE | LT | LE)
  | (IsKnown | ALL_KNOWN | ANY_KNOWN)
  | BooleanVariable
  | Boolean
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
LibraryCall =
  notAllowed
  | element LibraryCall {
      anonymous1,
      element Library { NCName },
      Alias*
    }
EQInternal =
  notAllowed
  | element EQInternal { EqualityOperator }
NodeFailure2 =
  notAllowed
  | element NodeFailure {
      attribute value {
        xsd:NMTOKEN "PRE_CONDITION_FAILED"
        | xsd:NMTOKEN "EXITED"
        | xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
        | xsd:NMTOKEN "PARENT_FAILED"
        | xsd:NMTOKEN "PARENT_EXITED"
        | xsd:NMTOKEN "POST_CONDITION_FAILED"
      }?
    }
EQBoolean =
  notAllowed
  | element EQBoolean { EqualityOperator }
GE =
  notAllowed
  | element GE { BinaryNumericOp }
MOD =
  notAllowed
  | element MOD { BinaryNumericOp }
anonymous1 =
  SourceLocators,
  attribute epx { xsd:NMTOKEN }?,
  attribute NodeId { xsd:NMTOKEN },
  attribute Priority { xsd:nonNegativeInteger }?,
  (notAllowed
   | element Comment { xsd:string })?,
  (Conditions,
   (Conditions,
    (Conditions,
     (Conditions,
      (Conditions,
       (Conditions, (Conditions, Conditions?)?)?)?)?)?)?)?,
  Interface*,
  (DeclareVariable | DeclareArray | DeclareMutex)*,
  UsingMutex?
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { NodeReference }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      attribute NodeParameter { xsd:NCName },
      Expression
    }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "parent"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "child"
      }?,
      (xsd:NCName | xsd:string "")
    }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      attribute MaxSize { xsd:nonNegativeInteger }?,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "StringArray"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "RealArray"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Any"
        | xsd:NMTOKEN "IntegerArray"
        | xsd:NMTOKEN "BooleanArray"
      },
      attribute Name { xsd:NCName },
      ParameterSpec?
    }
ALL_KNOWN =
  notAllowed
  | element ALL_KNOWN { SourceLocators, GeneralizedArrayExpression }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { NodeReference }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
    }
Assignment =
  notAllowed
  | element Assignment { anonymous1, DeclaredVariable, Expression }
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      GeneralizedArrayExpression,
      GeneralizedNumericExpression
    }
ADD =
  notAllowed
  | element ADD { NaryNumericOp }
StringExpression = StringVariable | String | Concat
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Expression* }
Expression =
  BooleanExpression
  | NumericExpression
  | StringExpression
  | ArrayExpression
  | LookupGroup
  | ArrayElement
ArrayExpression = Array | ArrayVariable
REAL_TO_INT =
  notAllowed
  | element REAL_TO_INT { UnaryNumericOp }
UsingMutex =
  notAllowed
  | element UsingMutex {
      SourceLocators,
      element Name { SourceLocators, xsd:NCName }+
    }
Action =
  EmptyNode
  | Assignment
  | CommandNode
  | LibraryCall
  | ListNode
  | UpdateNode
ROUND =
  notAllowed
  | element ROUND { UnaryNumericOp }
String =
  notAllowed
  | element String { xsd:string }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { NodeReference }
EQNumeric =
  notAllowed
  | element EQNumeric { EqualityOperator }
Pair =
  notAllowed
  | element Pair {
      attribute Name { xsd:NCName },
      Expression
    }
BooleanVariable =
  notAllowed
  | element BooleanVariable { VariableReferenceType }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
