schema/extended-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  NodeBody
  | InvariantFailed
  | Succeeded
  | BooleanVariable
  | Waiting
  | Executing
  | OnCommand
  | NodeCommandHandleVariable
  | Concat
  | EQNumeric
  | StringValue
  | NodeFailureVariable
  | PreCondition
  | AND
  | ArrayValue
  | NumericRHS
  | ArrayElement
  | DeclareArray
  | RepeatCondition
  | LE
  | NEInternal
  | SkipCondition
  | NodeTimepointValue
  | Command
  | (notAllowed
     | element IterationSucceeded { node-reference })
  | LibraryNodeCall
  | EndCondition
  | StringRHS
  | Request
  | Timepoint
  | NEBoolean
  | MessageReceived
  | LookupNow
  | IterationEnded
  | NodeFailureValue
  | ArrayRHS
  | LT
  | (notAllowed
     | element IterationFailed { node-reference })
  | OnMessage
  | In
  | Name
  | Pair
  | GE
  | MUL
  | RealValue
  | NEString
  | XOR
  | DIV
  | (notAllowed
     | element PlexilPlan {
         ColNo?, LineNo?, FileName?, GlobalDeclarations?, Action
       })
  | IsKnown
  | ADD
  | Finished
  | DeclareVariable
  | Parameter
  | Concurrence
  | For
  | NodeCommandHandleValue
  | NodeOutcomeValue
  | StartCondition
  | InOut
  | If
  | InvariantCondition
  | EQInternal
  | StringVariable
  | GlobalDeclarations
  | Sequence
  | Node
  | ParentFailed
  | Update
  | RealVariable
  | Interface
  | OR
  | IntegerValue
  | VariableDeclarations
  | BooleanRHS
  | UncheckedSequence
  | Failed
  | PostconditionFailed
  | Assignment
  | Arguments
  | Try
  | PostCondition
  | NodeRef
  | Alias
  | NENumeric
  | CommandDeclaration
  | Skipped
  | LookupRHS
  | ResourceList
  | LookupOnChange
  | PreconditionFailed
  | StateDeclaration
  | LibraryNodeDeclaration
  | GT
  | SQRT
  | NodeOutcomeVariable
  | IntegerVariable
  | ABS
  | EQBoolean
  | Tolerance
  | While
  | NodeStateVariable
  | EQString
  | Resource
  | NodeList
  | SUB
  | NOT
  | NodeStateValue
  | BooleanValue
  | Return
  | NodeId
  | Inactive
EQNumeric =
  notAllowed
  | element EQNumeric { NumericExpression, NumericExpression }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "END" | xsd:NMTOKEN "START" }
nonNegativeInteger = xsd:nonNegativeInteger
GE =
  notAllowed
  | element GE { NumericExpression, NumericExpression }
Sequence =
  notAllowed
  | element Sequence { SequenceType, ColNo?, LineNo?, FileName? }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
SUB =
  notAllowed
  | element SUB { NumericExpression, NumericExpression }
EQInternal =
  notAllowed
  | element EQInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
Waiting =
  notAllowed
  | element Waiting { node-reference }
ArrayRHS =
  notAllowed
  | element ArrayRHS {
      element ArrayVariable { NCName }
    }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
LT =
  notAllowed
  | element LT { NumericExpression, NumericExpression }
NumericRHS =
  notAllowed
  | element NumericRHS { NumericExpression }
Action =
  Node
  | Sequence
  | Concurrence
  | UncheckedSequence
  | Try
  | If
  | While
  | For
  | OnCommand
  | OnMessage
IterationEnded =
  notAllowed
  | element IterationEnded { node-reference }
SkipCondition =
  notAllowed
  | element SkipCondition { BooleanExpression }
PreCondition =
  notAllowed
  | element PreCondition { BooleanExpression }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
Arguments =
  notAllowed
  | element Arguments {
      (IntegerValue
       | RealValue
       | BooleanValue
       | ArrayValue
       | StringExpression
       | DeclaredVariable)+
    }
Resource =
  notAllowed
  | element Resource {
      element ResourceName { StringExpression }
      & element ResourcePriority { NumericExpression }
      & element ResourceLowerBound { NumericExpression }?
      & element ResourceUpperBound { NumericExpression }?
      & element ResourceReleaseAtTermination { BooleanExpression }?
    }
Node =
  notAllowed
  | element Node {
      ColNo?,
      LineNo?,
      FileName?,
      attribute epx {
        xsd:NMTOKEN "UncheckedSequence"
        | xsd:NMTOKEN "Then"
        | xsd:NMTOKEN "Else"
        | xsd:NMTOKEN "Sequence"
        | xsd:NMTOKEN "If"
        | xsd:NMTOKEN "While"
        | xsd:NMTOKEN "For"
        | xsd:NMTOKEN "Concurrence"
        | xsd:NMTOKEN "aux"
        | xsd:NMTOKEN "Try"
      }?,
      attribute NodeType {
        xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Request"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
Value = IntegerValue | RealValue | BooleanValue | StringValue
node-reference = NodeReference, empty
PostCondition =
  notAllowed
  | element PostCondition { BooleanExpression }
In =
  notAllowed
  | element In { DeclareVariable+ }
EndCondition =
  notAllowed
  | element EndCondition { BooleanExpression }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
LineNo = attribute LineNo { xsd:integer }
Parameter =
  notAllowed
  | element Parameter {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
LE =
  notAllowed
  | element LE { NumericExpression, NumericExpression }
NOT =
  notAllowed
  | element NOT { BooleanExpression }
NodeList =
  notAllowed
  | element NodeList { Action* }
RepeatCondition =
  notAllowed
  | element RepeatCondition { BooleanExpression }
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
NEString =
  notAllowed
  | element NEString { StringExpression, StringExpression }
LookupNow =
  notAllowed
  | element LookupNow {
      (Name
       | element StateName { \string }),
      Arguments?
    }
OR =
  notAllowed
  | element OR { BooleanExpression* }
OnMessage =
  notAllowed
  | element OnMessage {
      (element Message { StringExpression }
       & NodeId?
       & Action*),
      ColNo?,
      LineNo?,
      FileName?
    }
NodeFailure = NodeFailureVariable | NodeFailureValue
NCName = xsd:NCName
NodeId =
  notAllowed
  | element NodeId { NCName }
SequenceType =
  (NodeId?
   & (notAllowed
      | element Comment { \string })?
   & StartCondition?
   & RepeatCondition?
   & PreCondition?
   & PostCondition?
   & InvariantCondition?
   & EndCondition?
   & SkipCondition?
   & (notAllowed
      | element Priority { nonNegativeInteger })?
   & (notAllowed
      | element Permissions { \string })?
   & Interface?
   & VariableDeclarations?),
  Action*
StringExpression =
  StringVariable | StringValue | Concat | Lookup | ArrayElement
LookupOnChange =
  notAllowed
  | element LookupOnChange { Name, Tolerance?, Arguments? }
LookupRHS =
  notAllowed
  | element LookupRHS { Lookup }
XOR =
  notAllowed
  | element XOR { BooleanExpression* }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
PreconditionFailed =
  notAllowed
  | element PreconditionFailed { node-reference }
ADD =
  notAllowed
  | element ADD {
      NumericExpression, NumericExpression, NumericExpression*
    }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
      }?,
      NCNameOrEmpty
    }
Concurrence =
  notAllowed
  | element Concurrence { SequenceType, ColNo?, LineNo?, FileName? }
Alias =
  notAllowed
  | element Alias {
      element NodeParameter { NCName },
      (Value | DeclaredVariable)
    }
NENumeric =
  notAllowed
  | element NENumeric { NumericExpression, NumericExpression }
Finished =
  notAllowed
  | element Finished { node-reference }
ResourceList =
  notAllowed
  | element ResourceList { Resource* }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
NCNameOrEmpty = xsd:NCName | xsd:string ""
Assignment =
  notAllowed
  | element Assignment {
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
NEBoolean =
  notAllowed
  | element NEBoolean { BooleanExpression, BooleanExpression }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "FAILURE"
    }
TypeValues =
  xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Array"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Real"
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      element Name { NCName },
      Return,
      Parameter*
    }
StartCondition =
  notAllowed
  | element StartCondition { BooleanExpression }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
DIV =
  notAllowed
  | element DIV { NumericExpression, NumericExpression }
MUL =
  notAllowed
  | element MUL {
      NumericExpression, NumericExpression, NumericExpression*
    }
If =
  notAllowed
  | element If {
      (NodeId?
       & element Comment { \string }?
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?),
      element Condition { BooleanExpression },
      element Then { Action },
      element Else { Action }?,
      ColNo?,
      LineNo?,
      FileName?
    }
EQBoolean =
  notAllowed
  | element EQBoolean { BooleanExpression, BooleanExpression }
NodeReference = NodeId | NodeRef
ABS =
  notAllowed
  | element ABS { NumericExpression }
NodeState = NodeStateVariable | NodeStateValue
For =
  notAllowed
  | element For {
      (NodeId?
       & element Comment { \string }?
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?),
      element LoopVariable { DeclareVariable },
      element Condition { BooleanExpression },
      element LoopVariableUpdate { NumericExpression },
      element Action { Action },
      ColNo?,
      LineNo?,
      FileName?
    }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | (notAllowed
     | element ArrayVariable { NCName })
  | ArrayElement
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
MessageReceived =
  notAllowed
  | element MessageReceived { StringExpression }
OnCommand =
  notAllowed
  | element OnCommand {
      (Name & NodeId? & VariableDeclarations? & Action*),
      ColNo?,
      LineNo?,
      FileName?
    }
EQString =
  notAllowed
  | element EQString { StringExpression, StringExpression }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
Succeeded =
  notAllowed
  | element Succeeded { node-reference }
SQRT =
  notAllowed
  | element SQRT { NumericExpression }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      NodeReference, NodeStateValue, Timepoint
    }
FileName = attribute FileName { xsd:string }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHED"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHING"
    }
ArrayElement =
  notAllowed
  | element ArrayElement {
      element Name { NCName },
      element Index { NumericExpression }
    }
Request =
  notAllowed
  | element Request { NodeId?, Pair* }
BooleanRHS =
  notAllowed
  | element BooleanRHS { BooleanExpression }
Failed =
  notAllowed
  | element Failed { node-reference }
DeclareArray =
  notAllowed
  | element DeclareArray {
      element Name { NCName },
      element Type { TypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue {
        IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+
      }?
    }
Inactive =
  notAllowed
  | element Inactive { node-reference }
ArrayValue =
  notAllowed
  | element ArrayValue {
      IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+
    }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
\string = xsd:string
InvariantFailed =
  notAllowed
  | element InvariantFailed { node-reference }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
IsKnown =
  notAllowed
  | element IsKnown {
      DeclaredVariable
      | Lookup
      | NodeStateVariable
      | NodeOutcomeVariable
      | NodeTimepointValue
    }
Try =
  notAllowed
  | element Try { SequenceType, ColNo?, LineNo?, FileName? }
Interface =
  notAllowed
  | element Interface { In? & InOut? }
Lookup = LookupOnChange | LookupNow
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
Return =
  notAllowed
  | element Return {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
Skipped =
  notAllowed
  | element Skipped { node-reference }
Executing =
  notAllowed
  | element Executing { node-reference }
StringRHS =
  notAllowed
  | element StringRHS { StringExpression }
PostconditionFailed =
  notAllowed
  | element PostconditionFailed { node-reference }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      element Name { NCName },
      element Type { TypeValues },
      element InitialValue { Value }?
    }
NumericExpression =
  ADD
  | SUB
  | MUL
  | DIV
  | SQRT
  | ABS
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | Lookup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | Lookup
  | ArrayElement
  | Finished
  | IterationEnded
  | Executing
  | Waiting
  | Inactive
  | Succeeded
  | Failed
  | Skipped
  | InvariantFailed
  | PreconditionFailed
  | PostconditionFailed
  | ParentFailed
  | MessageReceived
NEInternal =
  notAllowed
  | element NEInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
UncheckedSequence =
  notAllowed
  | element UncheckedSequence {
      SequenceType, ColNo?, LineNo?, FileName?
    }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      element Name { NCName },
      element Interface {
        mixed {
          (attribute * { text }
           | element0)*
        }
      }
    }
Concat =
  notAllowed
  | element Concat { StringExpression* }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
While =
  notAllowed
  | element While {
      (NodeId?
       & element Comment { \string }?
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?),
      element Condition { BooleanExpression },
      element Action { Action },
      ColNo?,
      LineNo?,
      FileName?
    }
GT =
  notAllowed
  | element GT { NumericExpression, NumericExpression }
InOut =
  notAllowed
  | element InOut { DeclareVariable+ }
ColNo = attribute ColNo { xsd:integer }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { NodeId }
Name =
  notAllowed
  | element Name { StringExpression }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
    }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList
      | Command
      | Assignment
      | Update
      | Request
      | LibraryNodeCall
    }
ParentFailed =
  notAllowed
  | element ParentFailed { node-reference }
InvariantCondition =
  notAllowed
  | element InvariantCondition { BooleanExpression }
Tolerance =
  notAllowed
  | element Tolerance { RealValue | RealVariable }
Command =
  notAllowed
  | element Command {
      ResourceList?, DeclaredVariable?, Name, Arguments?
    }
AND =
  notAllowed
  | element AND { BooleanExpression* }
Update =
  notAllowed
  | element Update { Pair* }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
