schema/extended-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  NodeBody
  | InvariantFailed
  | Succeeded
  | BooleanVariable
  | Waiting
  | Executing
  | OnCommand
  | NodeCommandHandleVariable
  | Concat
  | EQNumeric
  | StringValue
  | NodeFailureVariable
  | PreCondition
  | AND
  | NumericRHS
  | ArrayElement
  | DeclareArray
  | RepeatCondition
  | LE
  | NEInternal
  | SkipCondition
  | NodeTimepointValue
  | Command
  | (notAllowed
     | element IterationSucceeded { node-reference })
  | LibraryNodeCall
  | EndCondition
  | StringRHS
  | Request
  | Timepoint
  | NEBoolean
  | MessageReceived
  | LookupNow
  | IterationEnded
  | NodeFailureValue
  | ArrayRHS
  | LT
  | (notAllowed
     | element IterationFailed { node-reference })
  | OnMessage
  | In
  | Name
  | Pair
  | GE
  | MUL
  | RealValue
  | NEString
  | XOR
  | DIV
  | FunctionCall
  | (notAllowed
     | element PlexilPlan {
         ColNo?, LineNo?, FileName?, GlobalDeclarations?, Action
       })
  | IsKnown
  | ADD
  | Finished
  | DeclareVariable
  | Parameter
  | Concurrence
  | For
  | NodeCommandHandleValue
  | NodeOutcomeValue
  | StartCondition
  | InOut
  | If
  | InvariantCondition
  | EQInternal
  | StringVariable
  | GlobalDeclarations
  | Sequence
  | Node
  | ParentFailed
  | Update
  | RealVariable
  | Interface
  | OR
  | IntegerValue
  | VariableDeclarations
  | BooleanRHS
  | UncheckedSequence
  | Failed
  | PostconditionFailed
  | Assignment
  | Arguments
  | Try
  | PostCondition
  | NodeRef
  | Alias
  | NENumeric
  | CommandDeclaration
  | Skipped
  | LookupRHS
  | ResourceList
  | LookupOnChange
  | PreconditionFailed
  | StateDeclaration
  | LibraryNodeDeclaration
  | GT
  | SQRT
  | NodeOutcomeVariable
  | IntegerVariable
  | ABS
  | EQBoolean
  | Tolerance
  | While
  | NodeStateVariable
  | EQString
  | Resource
  | NodeList
  | SUB
  | NOT
  | NodeStateValue
  | BooleanValue
  | Return
  | NodeId
  | Inactive
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
XOR =
  notAllowed
  | element XOR { BooleanExpression* }
ADD =
  notAllowed
  | element ADD {
      NumericExpression, NumericExpression, NumericExpression*
    }
EQString =
  notAllowed
  | element EQString { StringExpression, StringExpression }
NEInternal =
  notAllowed
  | element NEInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
ParentFailed =
  notAllowed
  | element ParentFailed { node-reference }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
IsKnown =
  notAllowed
  | element IsKnown {
      DeclaredVariable
      | Lookup
      | NodeStateVariable
      | NodeOutcomeVariable
      | NodeTimepointValue
    }
Request =
  notAllowed
  | element Request { NodeId?, Pair* }
EQNumeric =
  notAllowed
  | element EQNumeric { NumericExpression, NumericExpression }
Action =
  Node
  | Sequence
  | Concurrence
  | UncheckedSequence
  | Try
  | If
  | While
  | For
  | OnCommand
  | OnMessage
NodeFailure = NodeFailureVariable | NodeFailureValue
\string = xsd:string
SkipCondition =
  notAllowed
  | element SkipCondition { BooleanExpression }
PreCondition =
  notAllowed
  | element PreCondition { BooleanExpression }
Name =
  notAllowed
  | element Name { StringExpression }
Node =
  notAllowed
  | element Node {
      ColNo?,
      LineNo?,
      FileName?,
      attribute epx {
        xsd:NMTOKEN "UncheckedSequence"
        | xsd:NMTOKEN "Then"
        | xsd:NMTOKEN "Else"
        | xsd:NMTOKEN "Sequence"
        | xsd:NMTOKEN "If"
        | xsd:NMTOKEN "While"
        | xsd:NMTOKEN "For"
        | xsd:NMTOKEN "Concurrence"
        | xsd:NMTOKEN "aux"
        | xsd:NMTOKEN "Try"
      }?,
      attribute NodeType {
        xsd:NMTOKEN "FunctionCall"
        | xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Request"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
node-reference = NodeReference, empty
StringValue =
  notAllowed
  | element StringValue { xsd:string }
PostCondition =
  notAllowed
  | element PostCondition { BooleanExpression }
NumericRHS =
  notAllowed
  | element NumericRHS { NumericExpression }
SUB =
  notAllowed
  | element SUB { NumericExpression, NumericExpression }
BooleanRHS =
  notAllowed
  | element BooleanRHS { BooleanExpression }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "END" | xsd:NMTOKEN "START" }
SequenceType =
  (NodeId?
   & (notAllowed
      | element Comment { \string })?
   & StartCondition?
   & RepeatCondition?
   & PreCondition?
   & PostCondition?
   & InvariantCondition?
   & EndCondition?
   & SkipCondition?
   & (notAllowed
      | element Priority { nonNegativeInteger })?
   & (notAllowed
      | element Permissions { \string })?
   & Interface?
   & VariableDeclarations?),
  Action*
InOut =
  notAllowed
  | element InOut { DeclareVariable+ }
MUL =
  notAllowed
  | element MUL {
      NumericExpression, NumericExpression, NumericExpression*
    }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
EndCondition =
  notAllowed
  | element EndCondition { BooleanExpression }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
LineNo = attribute LineNo { xsd:integer }
Parameter =
  notAllowed
  | element Parameter {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
NodeList =
  notAllowed
  | element NodeList { Action* }
GT =
  notAllowed
  | element GT { NumericExpression, NumericExpression }
RepeatCondition =
  notAllowed
  | element RepeatCondition { BooleanExpression }
NOT =
  notAllowed
  | element NOT { BooleanExpression }
NEBoolean =
  notAllowed
  | element NEBoolean { BooleanExpression, BooleanExpression }
LE =
  notAllowed
  | element LE { NumericExpression, NumericExpression }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      element Name { NCName },
      element Type { TypeValues },
      element InitialValue { Value }?
    }
StringExpression =
  StringVariable | StringValue | Concat | Lookup | ArrayElement
While =
  notAllowed
  | element While {
      (NodeId?
       & element Comment { \string }?
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?),
      element Condition { BooleanExpression },
      element Action { Action },
      ColNo?,
      LineNo?,
      FileName?
    }
LookupRHS =
  notAllowed
  | element LookupRHS { Lookup }
DeclareArray =
  notAllowed
  | element DeclareArray {
      element Name { NCName },
      element Type { TypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue {
        IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+
      }?
    }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
NodeId =
  notAllowed
  | element NodeId { NCName }
LookupNow =
  notAllowed
  | element LookupNow {
      (Name
       | element StateName { \string }),
      Arguments?
    }
Succeeded =
  notAllowed
  | element Succeeded { node-reference }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
      }?,
      NCNameOrEmpty
    }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      (Name
       | element StateName { \string }),
      Tolerance?,
      Arguments?
    }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { NodeId }
EQInternal =
  notAllowed
  | element EQInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
ResourceList =
  notAllowed
  | element ResourceList { Resource* }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      NodeReference, NodeStateValue, Timepoint
    }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
NCNameOrEmpty = xsd:NCName | xsd:string ""
Assignment =
  notAllowed
  | element Assignment {
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
EQBoolean =
  notAllowed
  | element EQBoolean { BooleanExpression, BooleanExpression }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
Lookup = LookupOnChange | LookupNow
StringVariable =
  notAllowed
  | element StringVariable { NCName }
TypeValues =
  xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Array"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Real"
NodeState = NodeStateVariable | NodeStateValue
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      element Name { NCName },
      Return,
      Parameter*
    }
For =
  notAllowed
  | element For {
      (NodeId?
       & element Comment { \string }?
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?),
      element LoopVariable { DeclareVariable },
      element Condition { BooleanExpression },
      element LoopVariableUpdate { NumericExpression },
      element Action { Action },
      ColNo?,
      LineNo?,
      FileName?
    }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "FAILURE"
    }
StartCondition =
  notAllowed
  | element StartCondition { BooleanExpression }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
OnMessage =
  notAllowed
  | element OnMessage {
      (element NodeId { anyType }
       & element Message { \string }
       & Action*),
      ColNo?,
      LineNo?,
      FileName?
    }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
    }
Concurrence =
  notAllowed
  | element Concurrence { SequenceType, ColNo?, LineNo?, FileName? }
ABS =
  notAllowed
  | element ABS { NumericExpression }
AND =
  notAllowed
  | element AND { BooleanExpression* }
Arguments =
  notAllowed
  | element Arguments {
      (IntegerValue
       | RealValue
       | BooleanValue
       | StringValue
       | DeclaredVariable)+
    }
Value = IntegerValue | RealValue | BooleanValue | StringValue
Concat =
  notAllowed
  | element Concat { StringExpression* }
NodeReference = NodeId | NodeRef
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | (notAllowed
     | element ArrayVariable { NCName })
  | ArrayElement
StringRHS =
  notAllowed
  | element StringRHS { StringExpression }
Try =
  notAllowed
  | element Try { SequenceType, ColNo?, LineNo?, FileName? }
ArrayElement =
  notAllowed
  | element ArrayElement {
      element Name { NCName },
      element Index { NumericExpression }
    }
InvariantFailed =
  notAllowed
  | element InvariantFailed { node-reference }
Tolerance =
  notAllowed
  | element Tolerance { RealValue | RealVariable }
MessageReceived =
  notAllowed
  | element MessageReceived { StringExpression }
If =
  notAllowed
  | element If {
      (NodeId?
       & element Comment { \string }?
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?),
      element Condition { BooleanExpression },
      element Then { Action },
      element Else { Action }?,
      ColNo?,
      LineNo?,
      FileName?
    }
SQRT =
  notAllowed
  | element SQRT { NumericExpression }
IterationEnded =
  notAllowed
  | element IterationEnded { node-reference }
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | Lookup
  | ArrayElement
  | Finished
  | IterationEnded
  | Executing
  | Waiting
  | Inactive
  | Succeeded
  | Failed
  | Skipped
  | InvariantFailed
  | PreconditionFailed
  | PostconditionFailed
  | ParentFailed
  | MessageReceived
FileName = attribute FileName { xsd:string }
LT =
  notAllowed
  | element LT { NumericExpression, NumericExpression }
Resource =
  notAllowed
  | element Resource {
      element ResourceName { StringExpression }
      & element ResourcePriority { NumericExpression }
      & element ResourceLowerBound { NumericExpression }?
      & element ResourceUpperBound { NumericExpression }?
      & element ResourceReleaseAtTermination { BooleanExpression }?
    }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
PostconditionFailed =
  notAllowed
  | element PostconditionFailed { node-reference }
DIV =
  notAllowed
  | element DIV { NumericExpression, NumericExpression }
Alias =
  notAllowed
  | element Alias {
      element NodeParameter { NCName },
      (Value | DeclaredVariable)
    }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
Update =
  notAllowed
  | element Update { Pair* }
OR =
  notAllowed
  | element OR { BooleanExpression* }
Executing =
  notAllowed
  | element Executing { node-reference }
Finished =
  notAllowed
  | element Finished { node-reference }
anyType =
  mixed {
    (attribute * { text }
     | element0)*
  },
  empty
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
ArrayRHS =
  notAllowed
  | element ArrayRHS {
      element ArrayVariable { NCName }
    }
Inactive =
  notAllowed
  | element Inactive { node-reference }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
Sequence =
  notAllowed
  | element Sequence { SequenceType, ColNo?, LineNo?, FileName? }
Interface =
  notAllowed
  | element Interface { In? & InOut? }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
Return =
  notAllowed
  | element Return {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
Waiting =
  notAllowed
  | element Waiting { node-reference }
NCName = xsd:NCName
OnCommand =
  notAllowed
  | element OnCommand {
      (element NodeId { anyType }
       & Name
       & DeclareVariable*
       & Action*),
      ColNo?,
      LineNo?,
      FileName?
    }
Failed =
  notAllowed
  | element Failed { node-reference }
PreconditionFailed =
  notAllowed
  | element PreconditionFailed { node-reference }
GE =
  notAllowed
  | element GE { NumericExpression, NumericExpression }
NumericExpression =
  ADD
  | SUB
  | MUL
  | DIV
  | SQRT
  | ABS
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | Lookup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      element Name { NCName },
      element Interface { anyType }
    }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
UncheckedSequence =
  notAllowed
  | element UncheckedSequence {
      SequenceType, ColNo?, LineNo?, FileName?
    }
In =
  notAllowed
  | element In { DeclareVariable+ }
ColNo = attribute ColNo { xsd:integer }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHED"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHING"
    }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
NENumeric =
  notAllowed
  | element NENumeric { NumericExpression, NumericExpression }
Skipped =
  notAllowed
  | element Skipped { node-reference }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList
      | Command
      | Assignment
      | FunctionCall
      | Update
      | Request
      | LibraryNodeCall
    }
nonNegativeInteger = xsd:nonNegativeInteger
NEString =
  notAllowed
  | element NEString { StringExpression, StringExpression }
InvariantCondition =
  notAllowed
  | element InvariantCondition { BooleanExpression }
Command =
  notAllowed
  | element Command {
      ResourceList?,
      DeclaredVariable?,
      (Name
       | element CommandName { \string }),
      Arguments?
    }
FunctionCall =
  notAllowed
  | element FunctionCall {
      DeclaredVariable?,
      (Name
       | element FunctionName { \string }),
      Arguments?
    }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
