schema/extended-plexil-v2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE schema PUBLIC "-//W3C//DTD XMLSCHEMA 200102//EN" "http://www.w3.org/2001/XMLSchema.dtd" >

<!--
* Copyright (c) 2006-2021, Universities Space Research Association (USRA).
*  All rights reserved.
*
* Redistribution and use in source and binary forms, with or without
* modification, are permitted provided that the following conditions are met:
*     * Redistributions of source code must retain the above copyright
*       notice, this list of conditions and the following disclaimer.
*     * Redistributions in binary form must reproduce the above copyright
*       notice, this list of conditions and the following disclaimer in the
*       documentation and/or other materials provided with the distribution.
*     * Neither the name of the Universities Space Research Association nor the
*       names of its contributors may be used to endorse or promote products
*       derived from this software without specific prior written permission.
*
* THIS SOFTWARE IS PROVIDED BY USRA ``AS IS'' AND ANY EXPRESS OR IMPLIED
* WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
* MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
* DISCLAIMED. IN NO EVENT SHALL USRA BE LIABLE FOR ANY DIRECT, INDIRECT,
* INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
* BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS
* OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
* ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
* TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
* USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<!--
This schema extends Core PLEXIL with syntactic sugar: convenient forms 
that are translated into Core PLEXIL for execution (see translate.xsl).
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           xml:lang="en">

  <xs:include schemaLocation='plexil-base-v2.xsd'/>

  <!-- Elements -->

  <xs:element name="Name">
    <xs:complexType>
      <xs:group ref="GeneralizedStringExpression"/>
      <xs:attributeGroup ref="SourceLocators"/>
    </xs:complexType>
  </xs:element>

  <!-- NodeId is optional in Extended PLEXIL Actions -->
  <xs:complexType name="ActionBaseType">
    <xs:sequence>
      <xs:element name="Comment" type="xs:string" minOccurs="0"/>
      <xs:group ref="Conditions" minOccurs="0"/>
      <!-- Aliases for expressions external to this node -->
      <xs:group ref="Interface" minOccurs="0" maxOccurs="unbounded"/>
      <!-- Variable declarations -->
      <xs:group ref="VariableDeclaration" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="UsingMutex" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="NodeId" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="Priority" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attributeGroup ref="SourceLocators"/>
  </xs:complexType>

  <!-- NodeId is optional in Extended PLEXIL Node -->
  <xs:complexType name="NodeBaseType">
    <xs:sequence>
      <xs:element name="Comment" type="xs:string" minOccurs="0"/>
      <xs:group ref="Conditions" minOccurs="0"/>
      <!-- Aliases for expressions external to this node -->
      <xs:group ref="Interface" minOccurs="0" maxOccurs="unbounded"/>
      <!-- Variable declarations -->
      <xs:group ref="VariableDeclaration" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="UsingMutex" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="NodeId" type="xs:NMTOKEN" use="required"/>
    <xs:attribute name="Priority" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attributeGroup ref="SourceLocators"/>
  </xs:complexType>

  <xs:group name="Action">
    <xs:choice>
      <xs:group ref="BasicNodes"/>
      <xs:element ref="Concurrence"/>
      <xs:element ref="Sequence"/>
      <xs:element ref="CheckedSequence"/>
      <xs:element ref="UncheckedSequence"/>
      <xs:element ref="Try"/>
      <xs:element ref="If"/>
      <xs:element ref="Do"/>
      <xs:element ref="While"/>
      <xs:element ref="For"/>
      <xs:element ref="OnCommand"/>
      <xs:element ref="OnMessage"/>
      <xs:element ref="Wait"/>
      <xs:element ref="SynchronousCommand"/>
    </xs:choice>
  </xs:group>

  <xs:group name="BooleanExpression">
    <xs:choice>
	  <xs:group ref="LogicalOperator"/>
	  <xs:group ref="Equality"/>
	  <xs:group ref="NumericComparison"/>
      <xs:group ref="KnownTest"/>
      <xs:group ref="NodeStatePredicate"/>
      <xs:group ref="NodeOutcomePredicate"/>
      <xs:group ref="NodeFailurePredicate"/>
      <xs:element ref="BooleanVariable"/>
      <xs:element ref="Boolean"/>

      <!-- Extended PLEXIL macros --> 
      <xs:element ref="IterationSucceeded"/>
      <xs:element ref="Interrupted"/>
      <xs:element ref="IterationFailed"/>
      <xs:element ref="InvariantFailed"/>
      <xs:element ref="PreconditionFailed"/>
      <xs:element ref="ParentFailed"/>
      <xs:element ref="MessageReceived"/> <!-- ?? -->
    </xs:choice>
  </xs:group>

  <xs:group name="DeclaredVariable">
    <xs:choice>
      <xs:element ref="IntegerVariable"/>
      <xs:element ref="RealVariable"/>
      <xs:element ref="BooleanVariable"/>
      <xs:element ref="StringVariable"/>
      <xs:element ref="DateVariable"/>
      <xs:element ref="DurationVariable"/>
      <xs:element ref="ArrayVariable"/>
      <xs:element ref="ArrayElement"/>
    </xs:choice>
  </xs:group>

  <xs:group name="LookupGroup">
    <xs:choice>
      <xs:element ref="LookupOnChange"/>
      <xs:element ref="LookupNow"/>
      <xs:element ref="Lookup"/>
    </xs:choice>
  </xs:group>

  <xs:group name="NumericExpression">
    <xs:choice>
      <xs:group ref="ArithmeticOperator"/>
      <xs:element ref="IntegerVariable"/>
      <xs:element ref="RealVariable"/>
      <xs:element ref="Integer"/>
      <xs:element ref="Real"/>
      <xs:element ref="DateVariable"/>
      <xs:element ref="Date"/>
      <xs:element ref="DurationVariable"/>
      <xs:element ref="Duration"/>
      <xs:element ref="NodeTimepoint"/>
      <!-- read operations for arrays-->
      <xs:element ref="ArraySize"/>
      <xs:element ref="ArrayMaxSize"/>
    </xs:choice>
  </xs:group>

  <xs:group name="Value">
    <xs:choice>
      <xs:element ref="IntegerValue"/>
      <xs:element ref="RealValue"/>
      <xs:element ref="BooleanValue"/>
      <xs:element ref="StringValue"/>

      <!-- Extended PLEXIL macros (for now) -->
      <xs:element ref="DateValue"/>
      <xs:element ref="DurationValue"/>
    </xs:choice>
  </xs:group>

  <!-- Schema types -->

  <xs:simpleType name="AtomicTypeValues">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Integer"/>
      <xs:enumeration value="Real"/>
      <xs:enumeration value="Boolean"/>
      <xs:enumeration value="String"/>
      <xs:enumeration value="Date"/>
      <xs:enumeration value="Duration"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ParameterTypeValues">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Integer"/>
      <xs:enumeration value="Real"/>
      <xs:enumeration value="Boolean"/>
      <xs:enumeration value="String"/>
      <xs:enumeration value="Date"/>
      <xs:enumeration value="Duration"/>
      <xs:enumeration value="Any"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Extensions to Core Plexil -->

  <xs:element name="DurationVariable" type="VariableReferenceType"/>
  <xs:element name="DateVariable" type="VariableReferenceType"/>
  
  <xs:element name="Date">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="Duration">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <!-- Sequence forms -->

  <xs:complexType name="SequenceType">
    <xs:complexContent>
      <xs:extension base="ActionBaseType">
        <xs:sequence>
          <xs:group ref="ActionGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Actions are performed concurrently. This is just a List Node. -->
  <xs:element name="Concurrence" type="SequenceType" />

  <!-- Each action in the sequence is performed in the given order. -->
  <xs:element name="Sequence" type="SequenceType" />
  <xs:element name="UncheckedSequence" type="SequenceType" />

  <!-- Like Sequence, except the actions are checked for success.  If
       one fails, the CheckedSequence form terminates with failure. -->
  <xs:element name="CheckedSequence" type="SequenceType" />
  
  <!-- Each action in the sequence is performed in turn, until one of
       them succeeds; the rest are ignored.  The Try form fails if and
       only if all its actions fail. -->
  <xs:element name="Try" type="SequenceType" />

  <!-- Conditionals and loops -->

  <!-- Common components of the following statements -->
  <xs:complexType name="ActionType">
    <xs:group ref="ActionGroup" maxOccurs="unbounded"/>
    <xs:attributeGroup ref="SourceLocators"/>
  </xs:complexType>

  <xs:complexType name="ConditionType">
    <xs:group ref="GeneralizedBooleanExpression"/>
    <xs:attributeGroup ref="SourceLocators"/>
  </xs:complexType>

  <xs:complexType name="AssignmentType">
    <xs:sequence>
      <xs:group ref="DeclaredVariable"/>
      <xs:group ref="Expression" />
    </xs:sequence>
    <xs:attributeGroup ref="SourceLocators"/>
  </xs:complexType>

  <!-- If statement with optional ElseIf and Else. -->
  <xs:element name="If">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBaseType">
          <xs:sequence>
            <xs:group ref="GeneralizedBooleanExpression"/>
            <xs:group ref="ActionGroup" maxOccurs="unbounded"/>
            <xs:element name="ElseIf" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:group ref="GeneralizedBooleanExpression"/>
                  <xs:group ref="ActionGroup" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Else" type="ActionType" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- A classic while loop -->
  <xs:element name="While">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBaseType">
          <xs:sequence>
            <xs:group ref="GeneralizedBooleanExpression"/>
            <xs:group ref="ActionGroup" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- A classic do-while loop -->
  <xs:element name="Do">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBaseType">
          <xs:sequence>
            <xs:element ref="ActionGroup" maxOccurs="unbounded"/>
            <xs:element name="While" type="ConditionType"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- A simple For loop.
       (Optional) First a loop variable is declared or initialized.
       Next is the while-test, a boolean expression.
       (Optional) Next is a simplified assignment statement used to update the loop variable.
       Finally, actions to execute. -->
  <xs:element name="For">
    <xs:complexType>
      <xs:extension base="ActionBaseType">
        <xs:sequence>
          <xs:element name="Init" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:choice>
                  <xs:element ref="DeclareVariable"/>
                  <xs:element name="Assignment" type="AssignmentType"/>
                </xs:choice>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="While" type="ConditionType"/>
          <xs:element name="Update">
            <xs:complexType>
              <xs:complexContent>
                <xs:element name="Assignment" type="AssignmentType"/>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="Do" type="ActionType"/>
        </xs:sequence>
        <xs:attributeGroup ref="SourceLocators"/>
      </xs:extension>
    </xs:complexType>
  </xs:element>

  <!-- Node Predicates -->

  <xs:element name="IterationSucceeded" type="NodeReference"/>
  <xs:element name="Interrupted" type="NodeReference"/>
  <xs:element name="IterationFailed" type="NodeReference"/>
  <xs:element name="InvariantFailed" type="NodeReference"/>
  <xs:element name="PreconditionFailed" type="NodeReference"/>
  <xs:element name="ParentFailed" type="NodeReference"/>

  <!-- Support for message passing between executives -->

  <!-- Deprecated -->
  <xs:element name="MessageReceived">
    <xs:complexType>
      <xs:group ref="GeneralizedStringExpression"/>
      <xs:attributeGroup ref="SourceLocators"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="OnCommand">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBaseType">
          <xs:sequence>
            <xs:element ref="Name"/>
            <xs:group ref="ActionGroup" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="OnMessage">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBaseType">
          <xs:sequence>
            <xs:element name="Message">
              <xs:complexType>
                <xs:group ref="GeneralizedStringExpression"/>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexType>
            </xs:element>
            <xs:group ref="Action" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <!-- Specialized actions -->

  <!-- Wait a specified duration -->
  <xs:element name="Wait">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBaseType">
          <xs:sequence>
            <xs:element name="Duration">
              <xs:complexType>
                <xs:group ref="GeneralizedNumericExpression"/>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- Command action that waits for its return value or status handle -->
  <xs:element name="SynchronousCommand">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="NodeBase">
          <xs:sequence>
            <xs:element name= "Timeout" minOccurs= "0">
              <xs:complexType>
                <xs:group ref="GeneralizedNumericExpression"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Tolerance" minOccurs="0">
              <xs:complexType>
                <xs:group ref="GeneralizedNumericExpression"/>
              </xs:complexType>
            </xs:element>
            <xs:element ref="Command"/>
          </xs:sequence>
          <xs:attributeGroup ref="SourceLocators"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
