schema/extended-plexil-v2.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  DeclareMutex
  | EmptyNode
  | NodeState2
  | SQRT
  | DurationVariable
  | String
  | OnMessage
  | Assignment
  | ALL_KNOWN
  | FLOOR
  | ArrayVariable
  | DateVariable
  | EQBoolean
  | EQString
  | CEIL
  | Boolean
  | IsKnown
  | NodeCommandHandleValue
  | SUB
  | Finished
  | Skipped
  | StartCondition
  | PostCondition
  | STRLEN
  | LibraryNode
  | NodeTimepoint
  | MIN
  | IterationFailed
  | InvariantCondition
  | PostconditionFailed
  | NEInternal
  | Concurrence
  | XOR
  | If
  | In
  | MAX
  | LookupOnChange
  | ParentFailed
  | TRUNC
  | NEString
  | NodeRef
  | EndCondition
  | ABS
  | NodeStateVariable
  | ArraySize
  | REAL_TO_INT
  | NodeOutcomeVariable
  | RealVariable
  | StringVariable
  | EQNumeric
  | DIV
  | Interrupted
  | Parameter
  | LE
  | InvariantFailed
  | PreconditionFailed
  | ADD
  | CommandNode
  | DeclareArray
  | NodeFailure2
  | IterationSucceeded
  | ArrayMaxSize
  | LT
  | Update
  | NodeOutcome
  | Name
  | Concat
  | Succeeded
  | LibraryCall
  | IntegerVariable
  | Real
  | ANY_KNOWN
  | Try
  | Lookup
  | RepeatCondition
  | ArrayElement
  | UpdateNode
  | (notAllowed
     | element PlexilPlan {
         SourceLocators,
         attribute version { xsd:decimal },
         GlobalDeclarations?,
         Action
       })
  | MUL
  | Failed
  | Resource
  | PreCondition
  | For
  | Duration
  | Sequence
  | NOT
  | AND
  | NodeId
  | IterationEnded
  | Executing
  | ExitCondition
  | Wait
  | NodeCommandHandleVariable
  | EQInternal
  | ROUND
  | DeclareVariable
  | NodeFailureVariable
  | NENumeric
  | GlobalDeclarations
  | CommandDeclaration
  | Inactive
  | UsingMutex
  | GE
  | LookupNow
  | Pair
  | SynchronousCommand
  | OR
  | MOD
  | Tolerance
  | CheckedSequence
  | While
  | MessageReceived
  | ListNode
  | GT
  | Date
  | NEBoolean
  | Waiting
  | Integer
  | Array
  | OnCommand
  | Command
  | Alias
  | BooleanVariable
  | SkipCondition
  | InOut
  | StateDeclaration
OnMessage =
  notAllowed
  | element OnMessage {
      SourceLocators,
      NodeClauses+,
      element Message { GeneralizedStringExpression },
      Action?
    }
GeneralizedArrayExpression = ArrayExpression | LookupGroup
SkipCondition =
  notAllowed
  | element SkipCondition { Condition }
MessageReceived =
  notAllowed
  | element MessageReceived {
      SourceLocators, GeneralizedStringExpression
    }
NEString =
  notAllowed
  | element NEString { EqualityOperator }
NodeOutcome =
  notAllowed
  | element NodeOutcome {
      attribute value {
        xsd:NMTOKEN "SUCCESS"
        | xsd:NMTOKEN "SKIPPED"
        | xsd:NMTOKEN "FAILURE"
        | xsd:NMTOKEN "INTERRUPTED"
      }?
    }
DeclareMutex =
  notAllowed
  | element DeclareMutex {
      SourceLocators,
      attribute Name { xsd:NCName }?
    }
CEIL =
  notAllowed
  | element CEIL { UnaryNumericOp }
anonymous0 = SourceLocators, (NodeId | NodeRef)
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { NodeReference }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
Conditions =
  SkipCondition
  | StartCondition
  | PreCondition
  | EndCondition
  | ExitCondition
  | InvariantCondition
  | PostCondition
  | RepeatCondition
InOut =
  notAllowed
  | element InOut { InterfaceSpec }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (Expression
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeCommandHandleVariable)
    }
GeneralizedBooleanExpression =
  BooleanExpression | LookupGroup | ArrayElement
ArraySize =
  notAllowed
  | element ArraySize { SourceLocators, GeneralizedArrayExpression }
NumericExpression =
  (ADD
   | SUB
   | MUL
   | DIV
   | MOD
   | MAX
   | MIN
   | SQRT
   | ABS
   | CEIL
   | FLOOR
   | ROUND
   | TRUNC
   | REAL_TO_INT
   | STRLEN)
  | IntegerVariable
  | RealVariable
  | Integer
  | Real
  | DateVariable
  | Date
  | DurationVariable
  | Duration
  | NodeTimepoint
  | ArraySize
  | ArrayMaxSize
Condition = (SourceLocators, GeneralizedBooleanExpression), empty
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
Boolean =
  notAllowed
  | element Boolean {
      attribute value { xsd:boolean }?
    }
NaryBooleanOp = (SourceLocators, GeneralizedBooleanExpression+), empty
DIV =
  notAllowed
  | element DIV { BinaryNumericOp }
OnCommand =
  notAllowed
  | element OnCommand { SourceLocators, NodeClauses+, Name, Action? }
NodeState = NodeStateVariable | NodeState2
PreCondition =
  notAllowed
  | element PreCondition { Condition }
Array =
  notAllowed
  | element Array {
      SourceLocators,
      attribute ElementType {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Date"
      },
      (Integer+ | Real+ | Boolean+ | String+)
    }
LibraryNode =
  notAllowed
  | element LibraryNode {
      SourceLocators,
      attribute Name { xsd:NCName },
      Interface*
    }
GeneralLookup = (SourceLocators, Tolerance?, Name, Expression*), empty
CheckedSequence =
  notAllowed
  | element CheckedSequence { SequenceType }
UnaryNumericOp = (SourceLocators, GeneralizedNumericExpression), empty
EndCondition =
  notAllowed
  | element EndCondition { Condition }
NodeState2 =
  notAllowed
  | element NodeState {
      attribute value {
        xsd:NMTOKEN "EXECUTING"
        | xsd:NMTOKEN "FAILING"
        | xsd:NMTOKEN "ITERATION_ENDED"
        | xsd:NMTOKEN "INACTIVE"
        | xsd:NMTOKEN "WAITING"
        | xsd:NMTOKEN "FINISHING"
        | xsd:NMTOKEN "FINISHED"
      }?
    }
Concat =
  notAllowed
  | element Concat { SourceLocators, GeneralizedStringExpression* }
NOT =
  notAllowed
  | element NOT { SourceLocators, GeneralizedBooleanExpression }
Concurrence =
  notAllowed
  | element Concurrence { SequenceType }
Waiting =
  notAllowed
  | element Waiting { NodeReference }
EqualityOperator =
  (SourceLocators,
   ((GeneralizedBooleanExpression, GeneralizedBooleanExpression)
    | (GeneralizedNumericExpression, GeneralizedNumericExpression)
    | (GeneralizedStringExpression, GeneralizedStringExpression)
    | (NodeState, NodeState)
    | (NodeOutcome2, NodeOutcome2)
    | (NodeFailure, NodeFailure)
    | (NodeCommandHandle, NodeCommandHandle))),
  empty
PostCondition =
  notAllowed
  | element PostCondition { Condition }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | DeclareMutex
       | LibraryNode
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
TRUNC =
  notAllowed
  | element TRUNC { UnaryNumericOp }
LookupGroup = LookupOnChange | LookupNow | Lookup
STRLEN =
  notAllowed
  | element STRLEN { SourceLocators, GeneralizedStringExpression }
VariableReferenceType =
  (SourceLocators,
   attribute Name { xsd:NCName }),
  empty
NodeId =
  notAllowed
  | element NodeId { NCName }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element Name { GeneralizedStringExpression }
       & element Priority { GeneralizedNumericExpression }
       & element LowerBound { GeneralizedNumericExpression }?
       & element UpperBound { GeneralizedNumericExpression }?
       & element ReleaseAtTermination { GeneralizedBooleanExpression }?)
    }
BinaryNumericOp =
  (SourceLocators,
   (GeneralizedNumericExpression, GeneralizedNumericExpression)),
  empty
ArrayMaxSize =
  notAllowed
  | element ArrayMaxSize { SourceLocators, GeneralizedArrayExpression }
EmptyNode =
  notAllowed
  | element EmptyNode { anonymous1 }
NEInternal =
  notAllowed
  | element NEInternal { EqualityOperator }
InterfaceSpec =
  (SourceLocators, (DeclareVariable | DeclareArray)+),
  empty
XOR =
  notAllowed
  | element XOR { NaryBooleanOp }
NodeOutcome2 = NodeOutcomeVariable | NodeOutcome
RealVariable =
  notAllowed
  | element RealVariable { VariableReferenceType }
Skipped =
  notAllowed
  | element Skipped { NodeReference }
MAX =
  notAllowed
  | element MAX { NaryNumericOp }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Date"
      },
      attribute Name { xsd:NCName },
      (BooleanExpression
       | NumericExpression
       | StringExpression
       | LookupGroup
       | ArrayElement)?
    }
GeneralizedNumericExpression =
  NumericExpression | LookupGroup | ArrayElement
Interface = In | empty | InOut
NodeTimepoint =
  notAllowed
  | element NodeTimepoint {
      anonymous0,
      attribute NodeState {
        xsd:NMTOKEN "EXECUTING"
        | xsd:NMTOKEN "FAILING"
        | xsd:NMTOKEN "ITERATION_ENDED"
        | xsd:NMTOKEN "INACTIVE"
        | xsd:NMTOKEN "WAITING"
        | xsd:NMTOKEN "FINISHING"
        | xsd:NMTOKEN "FINISHED"
      },
      attribute Timepoint { xsd:NMTOKEN "START" | xsd:NMTOKEN "END" }
    }
Name =
  notAllowed
  | element Name { SourceLocators, GeneralizedStringExpression }
Parameter =
  notAllowed
  | element Parameter {
      attribute MaxSize { xsd:nonNegativeInteger }?,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Any"
        | xsd:NMTOKEN "Date"
      },
      attribute Name { xsd:NCName }?
    }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      attribute MaxSize { xsd:nonNegativeInteger }?,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Any"
        | xsd:NMTOKEN "Date"
      }?,
      attribute Name { xsd:NCName },
      ParameterSpec?,
      Resource*
    }
RepeatCondition =
  notAllowed
  | element RepeatCondition { Condition }
Real =
  notAllowed
  | element Real {
      attribute value { xsd:double }?
    }
StartCondition =
  notAllowed
  | element StartCondition { Condition }
OR =
  notAllowed
  | element OR { NaryBooleanOp }
Command =
  notAllowed
  | element Command {
      SourceLocators, Resource*, DeclaredVariable?, Name, Expression*
    }
LT =
  notAllowed
  | element LT { BinaryNumericOp }
NodeReference = anonymous0, empty
EQString =
  notAllowed
  | element EQString { EqualityOperator }
StringVariable =
  notAllowed
  | element StringVariable { VariableReferenceType }
DurationVariable =
  notAllowed
  | element DurationVariable { VariableReferenceType }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | DateVariable
  | DurationVariable
  | ArrayVariable
  | ArrayElement
Failed =
  notAllowed
  | element Failed { NodeReference }
\string = xsd:string
MUL =
  notAllowed
  | element MUL { NaryNumericOp }
If =
  notAllowed
  | element If {
      SourceLocators,
      GeneralizedBooleanExpression,
      element Then { Action },
      element ElseIf {
        GeneralizedBooleanExpression,
        element Then { Action }
      }*,
      element Else { Action }?
    }
IntegerVariable =
  notAllowed
  | element IntegerVariable { VariableReferenceType }
CommandNode =
  notAllowed
  | element CommandNode { anonymous1, Command }
ANY_KNOWN =
  notAllowed
  | element ANY_KNOWN { SourceLocators, GeneralizedArrayExpression }
GT =
  notAllowed
  | element GT { BinaryNumericOp }
LE =
  notAllowed
  | element LE { BinaryNumericOp }
IterationFailed =
  notAllowed
  | element IterationFailed { NodeReference }
ExitCondition =
  notAllowed
  | element ExitCondition { Condition }
NodeFailure = NodeFailureVariable | NodeFailure2
GeneralizedStringExpression =
  StringExpression | LookupGroup | ArrayElement
Inactive =
  notAllowed
  | element Inactive { NodeReference }
In =
  notAllowed
  | element In { InterfaceSpec }
SQRT =
  notAllowed
  | element SQRT { UnaryNumericOp }
NaryNumericOp = (SourceLocators, GeneralizedNumericExpression+), empty
Sequence =
  notAllowed
  | element Sequence { SequenceType }
ListNode =
  notAllowed
  | element ListNode { SequenceType }
ParameterSpec =
  Parameter*,
  (notAllowed
   | element AnyParameters {
       mixed {
         (attribute * { text }
          | element0)*
       }
     })?
Date =
  notAllowed
  | element Date { xsd:string }
Tolerance =
  notAllowed
  | element Tolerance { GeneralizedNumericExpression }
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      attribute MaxSize { xsd:nonNegativeInteger }?,
      attribute ElementType {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Date"
      },
      attribute Name { xsd:NCName },
      GeneralizedArrayExpression?
    }
PostconditionFailed =
  notAllowed
  | element PostconditionFailed { NodeReference }
NodeClauses =
  (notAllowed
   | element Comment { \string })
  | empty
  | StartCondition
  | RepeatCondition
  | PreCondition
  | PostCondition
  | InvariantCondition
  | EndCondition
  | SkipCondition
  | (notAllowed
     | element Priority { nonNegativeInteger })
  | Interface
  | VariableDeclaration
  | UsingMutex
InvariantCondition =
  notAllowed
  | element InvariantCondition { Condition }
ArrayVariable =
  notAllowed
  | element ArrayVariable { VariableReferenceType }
UpdateNode =
  notAllowed
  | element UpdateNode { anonymous1, Update }
IterationEnded =
  notAllowed
  | element IterationEnded { NodeReference }
AND =
  notAllowed
  | element AND { NaryBooleanOp }
For =
  notAllowed
  | element For {
      SourceLocators,
      NodeClauses+,
      DeclareVariable?,
      GeneralizedBooleanExpression,
      element Assignment {
        element Priority { nonNegativeInteger }?,
        DeclaredVariable,
        Expression
      }?,
      element Do { Action* }
    }
SUB =
  notAllowed
  | element SUB { NaryNumericOp }
NENumeric =
  notAllowed
  | element NENumeric { EqualityOperator }
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
ABS =
  notAllowed
  | element ABS { UnaryNumericOp }
NEBoolean =
  notAllowed
  | element NEBoolean { EqualityOperator }
Integer =
  notAllowed
  | element Integer {
      attribute value { xsd:integer }?
    }
LookupOnChange =
  notAllowed
  | element LookupOnChange { GeneralLookup }
MIN =
  notAllowed
  | element MIN { NaryNumericOp }
FLOOR =
  notAllowed
  | element FLOOR { UnaryNumericOp }
BooleanExpression =
  (OR | XOR | AND | NOT)
  | (EQBoolean
     | EQNumeric
     | EQInternal
     | EQString
     | NEBoolean
     | NENumeric
     | NEInternal
     | NEString)
  | (GT | GE | LT | LE)
  | (IsKnown | ALL_KNOWN | ANY_KNOWN)
  | BooleanVariable
  | Boolean
  | Finished
  | IterationEnded
  | Executing
  | Waiting
  | Inactive
  | Succeeded
  | IterationSucceeded
  | Failed
  | Interrupted
  | IterationFailed
  | Skipped
  | InvariantFailed
  | PreconditionFailed
  | PostconditionFailed
  | ParentFailed
  | MessageReceived
SequenceType = (anonymous1, Action*), empty
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
LibraryCall =
  notAllowed
  | element LibraryCall {
      anonymous1,
      element Library { NCName },
      Alias*
    }
PreconditionFailed =
  notAllowed
  | element PreconditionFailed { NodeReference }
EQInternal =
  notAllowed
  | element EQInternal { EqualityOperator }
NodeFailure2 =
  notAllowed
  | element NodeFailure {
      attribute value {
        xsd:NMTOKEN "PRE_CONDITION_FAILED"
        | xsd:NMTOKEN "EXITED"
        | xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
        | xsd:NMTOKEN "PARENT_FAILED"
        | xsd:NMTOKEN "PARENT_EXITED"
        | xsd:NMTOKEN "POST_CONDITION_FAILED"
      }?
    }
EQBoolean =
  notAllowed
  | element EQBoolean { EqualityOperator }
DateVariable =
  notAllowed
  | element DateVariable { VariableReferenceType }
InvariantFailed =
  notAllowed
  | element InvariantFailed { NodeReference }
Duration =
  notAllowed
  | element Duration { xsd:string }
While =
  notAllowed
  | element While { anonymous1, GeneralizedBooleanExpression, Action+ }
GE =
  notAllowed
  | element GE { BinaryNumericOp }
MOD =
  notAllowed
  | element MOD { BinaryNumericOp }
anonymous1 =
  SourceLocators,
  attribute epx { xsd:NMTOKEN }?,
  attribute NodeId { xsd:NMTOKEN },
  attribute Priority { xsd:nonNegativeInteger }?,
  (notAllowed
   | element Comment { \string })?,
  (Conditions,
   (Conditions,
    (Conditions,
     (Conditions,
      (Conditions,
       (Conditions, (Conditions, Conditions?)?)?)?)?)?)?)?,
  Interface*,
  VariableDeclaration*,
  UsingMutex?
Succeeded =
  notAllowed
  | element Succeeded { NodeReference }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { NodeReference }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      attribute NodeParameter { xsd:NCName },
      Expression
    }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "parent"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "child"
      }?,
      (xsd:NCName | xsd:string "")
    }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      attribute MaxSize { xsd:nonNegativeInteger }?,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Any"
        | xsd:NMTOKEN "Date"
      },
      attribute Name { xsd:NCName },
      ParameterSpec?
    }
ALL_KNOWN =
  notAllowed
  | element ALL_KNOWN { SourceLocators, GeneralizedArrayExpression }
NCName = xsd:NCName
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { NodeReference }
Executing =
  notAllowed
  | element Executing { NodeReference }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
    }
Assignment =
  notAllowed
  | element Assignment { anonymous1, DeclaredVariable, Expression }
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      GeneralizedArrayExpression,
      GeneralizedNumericExpression
    }
ADD =
  notAllowed
  | element ADD { NaryNumericOp }
StringExpression = StringVariable | String | Concat
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Expression* }
Expression =
  BooleanExpression
  | NumericExpression
  | StringExpression
  | ArrayExpression
  | LookupGroup
  | ArrayElement
VariableDeclaration = DeclareVariable | DeclareArray | DeclareMutex
ParentFailed =
  notAllowed
  | element ParentFailed { NodeReference }
Finished =
  notAllowed
  | element Finished { NodeReference }
Try =
  notAllowed
  | element Try { SequenceType }
ArrayExpression = Array | ArrayVariable
REAL_TO_INT =
  notAllowed
  | element REAL_TO_INT { UnaryNumericOp }
Interrupted =
  notAllowed
  | element Interrupted { NodeReference }
Lookup =
  notAllowed
  | element Lookup { GeneralLookup }
SynchronousCommand =
  notAllowed
  | element SynchronousCommand {
      anonymous1,
      element Timeout { GeneralizedNumericExpression }?,
      Tolerance?,
      Command,
      SourceLocators
    }
nonNegativeInteger = xsd:nonNegativeInteger
UsingMutex =
  notAllowed
  | element UsingMutex {
      SourceLocators,
      element Name { SourceLocators, xsd:NCName }+
    }
Action =
  (EmptyNode
   | Assignment
   | CommandNode
   | LibraryCall
   | ListNode
   | UpdateNode)
  | Sequence
  | Concurrence
  | CheckedSequence
  | Try
  | If
  | While
  | For
  | OnCommand
  | OnMessage
  | Wait
  | SynchronousCommand
ROUND =
  notAllowed
  | element ROUND { UnaryNumericOp }
String =
  notAllowed
  | element String { xsd:string }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { NodeReference }
IterationSucceeded =
  notAllowed
  | element IterationSucceeded { NodeReference }
Wait =
  notAllowed
  | element Wait {
      anonymous1,
      element Units { GeneralizedNumericExpression },
      Tolerance?
    }
EQNumeric =
  notAllowed
  | element EQNumeric { EqualityOperator }
Pair =
  notAllowed
  | element Pair {
      attribute Name { xsd:NCName },
      Expression
    }
BooleanVariable =
  notAllowed
  | element BooleanVariable { VariableReferenceType }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
