schema/extended-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  SQRT
  | Node
  | DurationVariable
  | NumericRHS
  | OnMessage
  | Assignment
  | ALL_KNOWN
  | FLOOR
  | LibraryNodeDeclaration
  | ArrayVariable
  | BooleanValue
  | DateVariable
  | EQBoolean
  | EQString
  | CEIL
  | StringValue
  | IsKnown
  | NodeCommandHandleValue
  | SUB
  | Finished
  | StringRHS
  | NodeBody
  | NodeList
  | Skipped
  | StartCondition
  | Arguments
  | PostCondition
  | STRLEN
  | ResourceList
  | MIN
  | IterationFailed
  | InvariantCondition
  | PostconditionFailed
  | NEInternal
  | Concurrence
  | XOR
  | If
  | In
  | MAX
  | LookupOnChange
  | ParentFailed
  | TRUNC
  | NEString
  | VariableDeclarations
  | Timepoint
  | NodeRef
  | EndCondition
  | ABS
  | NodeStateVariable
  | DateValue
  | REAL_TO_INT
  | RealValue
  | DurationValue
  | NodeOutcomeVariable
  | RealVariable
  | NodeOutcomeValue
  | StringVariable
  | EQNumeric
  | DIV
  | Interrupted
  | Parameter
  | LE
  | InvariantFailed
  | PreconditionFailed
  | Interface
  | ADD
  | DeclareArray
  | IterationSucceeded
  | LT
  | Update
  | Name
  | Concat
  | Succeeded
  | IntegerVariable
  | BooleanRHS
  | ANY_KNOWN
  | Try
  | Lookup
  | RepeatCondition
  | NodeFailureValue
  | ArrayElement
  | NodeStateValue
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | MUL
  | Failed
  | PreCondition
  | Resource
  | For
  | Sequence
  | UncheckedSequence
  | NOT
  | AND
  | NodeId
  | IterationEnded
  | Executing
  | ExitCondition
  | Wait
  | ArrayValue
  | NodeCommandHandleVariable
  | EQInternal
  | ROUND
  | DeclareVariable
  | NodeFailureVariable
  | ArrayRHS
  | NENumeric
  | GlobalDeclarations
  | CommandDeclaration
  | Inactive
  | GE
  | LookupNow
  | Pair
  | SynchronousCommand
  | Return
  | OR
  | MOD
  | IntegerValue
  | Tolerance
  | NodeTimepointValue
  | While
  | MessageReceived
  | LibraryNodeCall
  | GT
  | NEBoolean
  | Waiting
  | OnCommand
  | Command
  | BooleanVariable
  | Alias
  | SkipCondition
  | InOut
  | StateDeclaration
ParentFailed =
  notAllowed
  | element ParentFailed { node-reference }
REAL_TO_INT =
  notAllowed
  | element REAL_TO_INT { SourceLocators, GeneralizedNumericExpression }
GeneralizedArrayExpression = ArrayExpression | LookupGroup
Wait =
  notAllowed
  | element Wait {
      SourceLocators,
      NodeClauses+,
      element Units { GeneralizedNumericExpression },
      Tolerance?
    }
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression*
    }
CEIL =
  notAllowed
  | element CEIL { SourceLocators, GeneralizedNumericExpression }
ArrayVariable =
  notAllowed
  | element ArrayVariable { NCName }
Return =
  notAllowed
  | element Return {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
SQRT =
  notAllowed
  | element SQRT { SourceLocators, GeneralizedNumericExpression }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
IterationEnded =
  notAllowed
  | element IterationEnded { node-reference }
GeneralizedBooleanExpression =
  BooleanExpression | LookupGroup | ArrayElement
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      Interface?
    }
TRUNC =
  notAllowed
  | element TRUNC { SourceLocators, GeneralizedNumericExpression }
Failed =
  notAllowed
  | element Failed { node-reference }
Inactive =
  notAllowed
  | element Inactive { node-reference }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
NodeList =
  notAllowed
  | element NodeList { Action* }
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
PreconditionFailed =
  notAllowed
  | element PreconditionFailed { node-reference }
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
Name =
  notAllowed
  | element Name { SourceLocators, GeneralizedStringExpression }
IterationSucceeded =
  notAllowed
  | element IterationSucceeded { node-reference }
MIN =
  notAllowed
  | element MIN {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
ExitCondition =
  notAllowed
  | element ExitCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
PostCondition =
  notAllowed
  | element PostCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { Value }?
    }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall { SourceLocators, NodeId, Alias* }
node-reference = (SourceLocators, NodeReference), empty
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators,
      GeneralizedBooleanExpression,
      GeneralizedBooleanExpression
    }
STRLEN =
  notAllowed
  | element STRLEN { SourceLocators, GeneralizedStringExpression }
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx { xsd:NCName }?,
      attribute NodeType {
        xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "LibraryNodeCall"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & ExitCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
NodeState = NodeStateVariable | NodeStateValue
Waiting =
  notAllowed
  | element Waiting { node-reference }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      Parameter*
    }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "FAILURE"
      | xsd:NMTOKEN "INTERRUPTED"
    }
MessageReceived =
  notAllowed
  | element MessageReceived {
      SourceLocators, GeneralizedStringExpression
    }
ArrayRHS =
  notAllowed
  | element ArrayRHS { SourceLocators, GeneralizedArrayExpression }
AtomicTypeValues =
  xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Real"
  | xsd:NMTOKEN "Duration"
  | xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Date"
ROUND =
  notAllowed
  | element ROUND { SourceLocators, GeneralizedNumericExpression }
FLOOR =
  notAllowed
  | element FLOOR { SourceLocators, GeneralizedNumericExpression }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHING"
      | xsd:NMTOKEN "FINISHED"
    }
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
ALL_KNOWN =
  notAllowed
  | element ALL_KNOWN { SourceLocators, GeneralizedArrayExpression }
Interface =
  notAllowed
  | element Interface { SourceLocators, (In? & InOut?) }
If =
  notAllowed
  | element If {
      SourceLocators,
      NodeClauses+,
      element Condition { GeneralizedBooleanExpression },
      element Then { Action },
      element ElseIf {
        element Condition { GeneralizedBooleanExpression },
        element Then { Action }
      }*,
      element Else { Action }?
    }
NodeFailure = NodeFailureVariable | NodeFailureValue
GE =
  notAllowed
  | element GE {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
ArrayValue =
  notAllowed
  | element ArrayValue {
      SourceLocators,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Date"
      },
      (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
    }
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators,
      GeneralizedBooleanExpression,
      GeneralizedBooleanExpression
    }
Interrupted =
  notAllowed
  | element Interrupted { node-reference }
NodeClauses =
  NodeId
  | empty
  | (notAllowed
     | element Comment { \string })
  | StartCondition
  | RepeatCondition
  | PreCondition
  | PostCondition
  | InvariantCondition
  | EndCondition
  | SkipCondition
  | (notAllowed
     | element Priority { nonNegativeInteger })
  | Interface
  | VariableDeclarations
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { GeneralizedStringExpression }
       & element ResourcePriority { GeneralizedNumericExpression }
       & element ResourceLowerBound { GeneralizedNumericExpression }?
       & element ResourceUpperBound { GeneralizedNumericExpression }?
       & element ResourceReleaseAtTermination {
           GeneralizedBooleanExpression
         }?)
    }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList | Command | Assignment | Update | LibraryNodeCall
    }
PreCondition =
  notAllowed
  | element PreCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
Concurrence =
  notAllowed
  | element Concurrence { SourceLocators, SequenceType }
SkipCondition =
  notAllowed
  | element SkipCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
Expression =
  BooleanExpression
  | NumericExpression
  | StringExpression
  | ArrayExpression
  | LookupGroup
  | ArrayElement
InvariantFailed =
  notAllowed
  | element InvariantFailed { node-reference }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "START" | xsd:NMTOKEN "END" }
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      Expression
    }
Try =
  notAllowed
  | element Try { SourceLocators, SequenceType }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (Expression
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeCommandHandleVariable)
    }
BooleanExpression =
  (OR | XOR | AND | NOT)
  | (EQBoolean
     | EQNumeric
     | EQInternal
     | EQString
     | NEBoolean
     | NENumeric
     | NEInternal
     | NEString)
  | (GT | GE | LT | LE)
  | (IsKnown | ALL_KNOWN | ANY_KNOWN)
  | BooleanVariable
  | BooleanValue
  | Finished
  | IterationEnded
  | Executing
  | Waiting
  | Inactive
  | Succeeded
  | IterationSucceeded
  | Failed
  | Interrupted
  | IterationFailed
  | Skipped
  | InvariantFailed
  | PreconditionFailed
  | PostconditionFailed
  | ParentFailed
  | MessageReceived
NodeId =
  notAllowed
  | element NodeId { NCName }
InvariantCondition =
  notAllowed
  | element InvariantCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
Succeeded =
  notAllowed
  | element Succeeded { node-reference }
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | ArrayRHS)
    }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
Skipped =
  notAllowed
  | element Skipped { node-reference }
Arguments =
  notAllowed
  | element Arguments { SourceLocators, Expression+ }
Lookup =
  notAllowed
  | element Lookup { SourceLocators, Name, Tolerance?, Arguments? }
ANY_KNOWN =
  notAllowed
  | element ANY_KNOWN { SourceLocators, GeneralizedArrayExpression }
EndCondition =
  notAllowed
  | element EndCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
NumericExpression =
  (ADD
   | SUB
   | MUL
   | DIV
   | MOD
   | MAX
   | MIN
   | SQRT
   | ABS
   | CEIL
   | FLOOR
   | ROUND
   | TRUNC
   | REAL_TO_INT
   | STRLEN)
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | DateVariable
  | DateValue
  | DurationVariable
  | DurationValue
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?,
      element InitialValue { Value+ | ArrayValue }?
    }
OR =
  notAllowed
  | element OR { SourceLocators, GeneralizedBooleanExpression* }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | DateVariable
  | DurationVariable
  | ArrayVariable
  | ArrayElement
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
PostconditionFailed =
  notAllowed
  | element PostconditionFailed { node-reference }
OnCommand =
  notAllowed
  | element OnCommand { SourceLocators, NodeClauses+, Name, Action? }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
    }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
LE =
  notAllowed
  | element LE {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, GeneralizedStringExpression }
NCName = xsd:NCName
LT =
  notAllowed
  | element LT {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
ArrayExpression = ArrayValue | ArrayVariable
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
NOT =
  notAllowed
  | element NOT { SourceLocators, GeneralizedBooleanExpression }
InOut =
  notAllowed
  | element InOut { SourceLocators, (DeclareVariable | DeclareArray)+ }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "parent"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "child"
      }?,
      (xsd:NCName | xsd:string "")
    }
DIV =
  notAllowed
  | element DIV {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
EQString =
  notAllowed
  | element EQString {
      SourceLocators,
      GeneralizedStringExpression,
      GeneralizedStringExpression
    }
AND =
  notAllowed
  | element AND { SourceLocators, GeneralizedBooleanExpression* }
Concat =
  notAllowed
  | element Concat { SourceLocators, GeneralizedStringExpression* }
For =
  notAllowed
  | element For {
      SourceLocators,
      NodeClauses+,
      element LoopVariable { DeclareVariable },
      element Condition { GeneralizedBooleanExpression },
      element LoopVariableUpdate { GeneralizedNumericExpression },
      element Action { Action }
    }
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, GeneralizedNumericExpression }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      Expression
    }
StringExpression = StringVariable | StringValue | Concat
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, GeneralizedBooleanExpression }
Executing =
  notAllowed
  | element Executing { node-reference }
ABS =
  notAllowed
  | element ABS { SourceLocators, GeneralizedNumericExpression }
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
While =
  notAllowed
  | element While {
      SourceLocators,
      NodeClauses+,
      element Condition { GeneralizedBooleanExpression },
      element Action { Action }
    }
nonNegativeInteger = xsd:nonNegativeInteger
XOR =
  notAllowed
  | element XOR { SourceLocators, GeneralizedBooleanExpression* }
Parameter =
  notAllowed
  | element Parameter {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "EXITED"
      | xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
      | xsd:NMTOKEN "PARENT_EXITED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
    }
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
DurationValue =
  notAllowed
  | element DurationValue { xsd:string }
GT =
  notAllowed
  | element GT {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
DateVariable =
  notAllowed
  | element DateVariable { NCName }
Action =
  Node
  | Sequence
  | Concurrence
  | UncheckedSequence
  | Try
  | If
  | While
  | For
  | OnCommand
  | OnMessage
  | Wait
  | SynchronousCommand
LookupGroup = LookupOnChange | LookupNow | Lookup
Tolerance =
  notAllowed
  | element Tolerance { GeneralizedNumericExpression }
GeneralizedNumericExpression =
  NumericExpression | LookupGroup | ArrayElement
SequenceType = NodeClauses+, Action*
Value =
  IntegerValue
  | RealValue
  | BooleanValue
  | StringValue
  | DateValue
  | DurationValue
RealVariable =
  notAllowed
  | element RealVariable { NCName }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
DateValue =
  notAllowed
  | element DateValue { xsd:string }
GeneralizedStringExpression =
  StringExpression | LookupGroup | ArrayElement
NodeReference = NodeId | NodeRef
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      element Name { NCName },
      element Index { GeneralizedNumericExpression }
    }
OnMessage =
  notAllowed
  | element OnMessage {
      SourceLocators,
      NodeClauses+,
      element Message { GeneralizedStringExpression },
      Action?
    }
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
NEString =
  notAllowed
  | element NEString {
      SourceLocators,
      GeneralizedStringExpression,
      GeneralizedStringExpression
    }
Finished =
  notAllowed
  | element Finished { node-reference }
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
RepeatCondition =
  notAllowed
  | element RepeatCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
StartCondition =
  notAllowed
  | element StartCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
MAX =
  notAllowed
  | element MAX {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
UncheckedSequence =
  notAllowed
  | element UncheckedSequence { SourceLocators, SequenceType }
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression*
    }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { node-reference }
IterationFailed =
  notAllowed
  | element IterationFailed { node-reference }
In =
  notAllowed
  | element In { SourceLocators, (DeclareVariable | DeclareArray)+ }
\string = xsd:string
DurationVariable =
  notAllowed
  | element DurationVariable { NCName }
Sequence =
  notAllowed
  | element Sequence { SourceLocators, SequenceType }
SUB =
  notAllowed
  | element SUB {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression*
    }
SynchronousCommand =
  notAllowed
  | element SynchronousCommand {
      SourceLocators,
      NodeClauses+,
      element Timeout { GeneralizedNumericExpression }?,
      Tolerance?,
      Command
    }
MOD =
  notAllowed
  | element MOD {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
