schema/extended-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
namespace xs = "http://www.w3.org/2001/XMLSchema"

start =
  element xs:schema {
    attribute attributeFormDefault { xsd:NCName },
    attribute blockDefault { text },
    attribute elementFormDefault { xsd:NCName },
    attribute finalDefault { text },
    attribute xml:lang { xsd:NCName },
    element xs:include {
      attribute schemaLocation { xsd:NCName }
    },
    element xs:redefine {
      attribute schemaLocation { xsd:NCName },
      group+
    },
    (\element | group | simpleType)+
  }
group =
  element xs:group {
    attribute maxOccurs { xsd:NMTOKEN }?,
    attribute minOccurs { xsd:integer }?,
    attribute name { xsd:NCName }?,
    attribute ref { xsd:NCName }?,
    (sequence
     | element xs:choice { group*, \element+ })?
  }
\element =
  element xs:element {
    attribute maxOccurs { xsd:NCName }?,
    attribute minOccurs { xsd:integer }?,
    attribute name { xsd:NCName }?,
    attribute ref { xsd:NCName }?,
    attribute type { xsd:NMTOKEN }?,
    (simpleType
     | element xs:complexType {
         attribute mixed { xsd:boolean },
         sequence?,
         group?,
         (element xs:all { \element }
          | element xs:attributeGroup {
              attribute ref { xsd:NCName }
            })?
       }*)
  }
simpleType =
  element xs:simpleType {
    attribute name { xsd:NCName }?,
    element xs:restriction {
      attribute base { xsd:NMTOKEN },
      element xs:enumeration {
        attribute value { xsd:NCName }
      }*
    }
  }
sequence = element xs:sequence { (\element | group)+ }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
