schema/extended-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  NodeBody
  | InvariantFailed
  | Succeeded
  | BooleanVariable
  | Waiting
  | Executing
  | OnCommand
  | NodeCommandHandleVariable
  | Concat
  | EQNumeric
  | StringValue
  | NodeFailureVariable
  | PreCondition
  | AND
  | ArrayValue
  | NumericRHS
  | ArrayElement
  | DeclareArray
  | RepeatCondition
  | LE
  | NEInternal
  | SkipCondition
  | NodeTimepointValue
  | Command
  | (notAllowed
     | element IterationSucceeded { node-reference })
  | LibraryNodeCall
  | EndCondition
  | StringRHS
  | Request
  | Timepoint
  | NEBoolean
  | MessageReceived
  | LookupNow
  | IterationEnded
  | NodeFailureValue
  | ArrayRHS
  | LT
  | (notAllowed
     | element IterationFailed { node-reference })
  | OnMessage
  | In
  | Name
  | Pair
  | GE
  | MUL
  | RealValue
  | NEString
  | XOR
  | DIV
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | IsKnown
  | ADD
  | Finished
  | DeclareVariable
  | Parameter
  | Concurrence
  | For
  | NodeCommandHandleValue
  | NodeOutcomeValue
  | StartCondition
  | InOut
  | If
  | InvariantCondition
  | EQInternal
  | StringVariable
  | GlobalDeclarations
  | Sequence
  | Node
  | MOD
  | ParentFailed
  | Update
  | RealVariable
  | Interface
  | OR
  | IntegerValue
  | VariableDeclarations
  | BooleanRHS
  | UncheckedSequence
  | Failed
  | PostconditionFailed
  | Assignment
  | Arguments
  | Try
  | PostCondition
  | Lookup
  | NodeRef
  | Alias
  | NENumeric
  | CommandDeclaration
  | Skipped
  | LookupRHS
  | ResourceList
  | LookupOnChange
  | PreconditionFailed
  | StateDeclaration
  | LibraryNodeDeclaration
  | GT
  | SQRT
  | NodeOutcomeVariable
  | IntegerVariable
  | ABS
  | EQBoolean
  | Tolerance
  | While
  | NodeStateVariable
  | EQString
  | Resource
  | NodeList
  | SUB
  | NOT
  | NodeStateValue
  | BooleanValue
  | Return
  | NodeId
  | Inactive
Finished =
  notAllowed
  | element Finished { node-reference }
SUB =
  notAllowed
  | element SUB { SourceLocators, NumericExpression, NumericExpression }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { Value }?
    }
Tolerance =
  notAllowed
  | element Tolerance { SourceLocators, (RealValue | RealVariable) }
RepeatCondition =
  notAllowed
  | element RepeatCondition { SourceLocators, BooleanExpression }
OnCommand =
  notAllowed
  | element OnCommand { SourceLocators, NodeClauses+, Name, Action? }
NEString =
  notAllowed
  | element NEString {
      SourceLocators, StringExpression, StringExpression
    }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
    }
StartCondition =
  notAllowed
  | element StartCondition { SourceLocators, BooleanExpression }
NCNameOrEmpty = xsd:NCName | xsd:string ""
\string = xsd:string
InOut =
  notAllowed
  | element InOut { SourceLocators, (DeclareVariable | DeclareArray)+ }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
DIV =
  notAllowed
  | element DIV { SourceLocators, NumericExpression, NumericExpression }
PostconditionFailed =
  notAllowed
  | element PostconditionFailed { node-reference }
AND =
  notAllowed
  | element AND { SourceLocators, BooleanExpression* }
ArrayRHS =
  notAllowed
  | element ArrayRHS {
      SourceLocators,
      element ArrayVariable { NCName }
    }
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
Concurrence =
  notAllowed
  | element Concurrence { SourceLocators, SequenceType }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (DeclaredVariable
       | LookupGroup
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeTimepointValue)
    }
LookupRHS =
  notAllowed
  | element LookupRHS { SourceLocators, LookupGroup }
NodeList =
  notAllowed
  | element NodeList { Action* }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      element Interface {
        mixed {
          (attribute * { text }
           | element0)*
        }
      }
    }
Waiting =
  notAllowed
  | element Waiting { node-reference }
Succeeded =
  notAllowed
  | element Succeeded { node-reference }
InvariantFailed =
  notAllowed
  | element InvariantFailed { node-reference }
LookupGroup = LookupOnChange | LookupNow | Lookup
Executing =
  notAllowed
  | element Executing { node-reference }
Try =
  notAllowed
  | element Try { SourceLocators, SequenceType }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
LE =
  notAllowed
  | element LE { SourceLocators, NumericExpression, NumericExpression }
In =
  notAllowed
  | element In { SourceLocators, (DeclareVariable | DeclareArray)+ }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, BooleanExpression }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { SourceLocators, NodeId }
NodeId =
  notAllowed
  | element NodeId { NCName }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { StringExpression }
       & element ResourcePriority { NumericExpression }
       & element ResourceLowerBound { NumericExpression }?
       & element ResourceUpperBound { NumericExpression }?
       & element ResourceReleaseAtTermination { BooleanExpression }?)
    }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
NumericExpression =
  ADD
  | SUB
  | MUL
  | DIV
  | MOD
  | SQRT
  | ABS
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | LookupGroup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      SourceLocators,
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
NOT =
  notAllowed
  | element NOT { SourceLocators, BooleanExpression }
While =
  notAllowed
  | element While {
      SourceLocators,
      NodeClauses+,
      element Condition { BooleanExpression },
      element Action { Action }
    }
SkipCondition =
  notAllowed
  | element SkipCondition { SourceLocators, BooleanExpression }
GE =
  notAllowed
  | element GE { SourceLocators, NumericExpression, NumericExpression }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList
      | Command
      | Assignment
      | Update
      | Request
      | LibraryNodeCall
    }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      Parameter*
    }
IterationEnded =
  notAllowed
  | element IterationEnded { node-reference }
Sequence =
  notAllowed
  | element Sequence { SourceLocators, SequenceType }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
Action =
  Node
  | Sequence
  | Concurrence
  | UncheckedSequence
  | Try
  | If
  | While
  | For
  | OnCommand
  | OnMessage
RealVariable =
  notAllowed
  | element RealVariable { NCName }
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue {
        IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+
      }?
    }
SequenceType = NodeClauses+, Action*
nonNegativeInteger = xsd:nonNegativeInteger
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
OnMessage =
  notAllowed
  | element OnMessage {
      SourceLocators,
      NodeClauses+,
      element Message { StringExpression },
      Action?
    }
Skipped =
  notAllowed
  | element Skipped { node-reference }
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
EQString =
  notAllowed
  | element EQString {
      SourceLocators, StringExpression, StringExpression
    }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
      }?,
      NCNameOrEmpty
    }
node-reference = NodeReference, empty
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | (notAllowed
     | element ArrayVariable { NCName })
  | ArrayElement
InvariantCondition =
  notAllowed
  | element InvariantCondition { SourceLocators, BooleanExpression }
PreCondition =
  notAllowed
  | element PreCondition { SourceLocators, BooleanExpression }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, StringExpression }
XOR =
  notAllowed
  | element XOR { SourceLocators, BooleanExpression* }
NodeReference = NodeId | NodeRef
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
Inactive =
  notAllowed
  | element Inactive { node-reference }
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
StringExpression =
  StringVariable | StringValue | Concat | LookupGroup | ArrayElement
EndCondition =
  notAllowed
  | element EndCondition { SourceLocators, BooleanExpression }
ArrayValue =
  notAllowed
  | element ArrayValue {
      SourceLocators,
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
    }
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "END" | xsd:NMTOKEN "START" }
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, NumericExpression }
OR =
  notAllowed
  | element OR { SourceLocators, BooleanExpression* }
NCName = xsd:NCName
If =
  notAllowed
  | element If {
      SourceLocators,
      NodeClauses+,
      element Condition { BooleanExpression },
      element Then { Action },
      element Else { Action }?
    }
For =
  notAllowed
  | element For {
      SourceLocators,
      NodeClauses+,
      element LoopVariable { DeclareVariable },
      element Condition { BooleanExpression },
      element LoopVariableUpdate { NumericExpression },
      element Action { Action }
    }
Value = IntegerValue | RealValue | BooleanValue | StringValue
PostCondition =
  notAllowed
  | element PostCondition { SourceLocators, BooleanExpression }
NodeClauses =
  NodeId
  | empty
  | (notAllowed
     | element Comment { \string })
  | StartCondition
  | RepeatCondition
  | PreCondition
  | PostCondition
  | InvariantCondition
  | EndCondition
  | SkipCondition
  | (notAllowed
     | element Priority { nonNegativeInteger })
  | (notAllowed
     | element Permissions { \string })
  | Interface
  | VariableDeclarations
Parameter =
  notAllowed
  | element Parameter {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
MOD =
  notAllowed
  | element MOD { SourceLocators, NumericExpression, NumericExpression }
Lookup =
  notAllowed
  | element Lookup { SourceLocators, Name, Tolerance?, Arguments? }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      (Value | DeclaredVariable)
    }
MessageReceived =
  notAllowed
  | element MessageReceived { SourceLocators, StringExpression }
ABS =
  notAllowed
  | element ABS { SourceLocators, NumericExpression }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
LT =
  notAllowed
  | element LT { SourceLocators, NumericExpression, NumericExpression }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHED"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHING"
    }
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
ParentFailed =
  notAllowed
  | element ParentFailed { node-reference }
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
GT =
  notAllowed
  | element GT { SourceLocators, NumericExpression, NumericExpression }
Name =
  notAllowed
  | element Name { SourceLocators, StringExpression }
UncheckedSequence =
  notAllowed
  | element UncheckedSequence { SourceLocators, SequenceType }
Failed =
  notAllowed
  | element Failed { node-reference }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
Interface =
  notAllowed
  | element Interface { In? & InOut? }
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      element Name { NCName },
      element Index { NumericExpression }
    }
PreconditionFailed =
  notAllowed
  | element PreconditionFailed { node-reference }
Request =
  notAllowed
  | element Request { SourceLocators, NodeId?, Pair* }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx {
        xsd:NMTOKEN "UncheckedSequence"
        | xsd:NMTOKEN "Then"
        | xsd:NMTOKEN "Else"
        | xsd:NMTOKEN "Sequence"
        | xsd:NMTOKEN "If"
        | xsd:NMTOKEN "While"
        | xsd:NMTOKEN "For"
        | xsd:NMTOKEN "Concurrence"
        | xsd:NMTOKEN "aux"
        | xsd:NMTOKEN "Try"
      }?,
      attribute NodeType {
        xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Request"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
Return =
  notAllowed
  | element Return {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
Concat =
  notAllowed
  | element Concat { SourceLocators, StringExpression* }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "FAILURE"
    }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
NodeState = NodeStateVariable | NodeStateValue
AtomicTypeValues =
  xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Real"
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | LookupGroup
  | ArrayElement
  | Finished
  | IterationEnded
  | Executing
  | Waiting
  | Inactive
  | Succeeded
  | Failed
  | Skipped
  | InvariantFailed
  | PreconditionFailed
  | PostconditionFailed
  | ParentFailed
  | MessageReceived
NodeFailure = NodeFailureVariable | NodeFailureValue
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
Arguments =
  notAllowed
  | element Arguments {
      SourceLocators,
      (IntegerValue
       | RealValue
       | BooleanValue
       | ArrayValue
       | StringExpression
       | DeclaredVariable)+
    }
SQRT =
  notAllowed
  | element SQRT { SourceLocators, NumericExpression }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
