schema/extended-plexil.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE schema PUBLIC "-//W3C//DTD XMLSCHEMA 200102//EN" "http://www.w3.org/2001/XMLSchema.dtd" >

<!--
* Copyright (c) 2006-2020, Universities Space Research Association (USRA).
*  All rights reserved.
*
* Redistribution and use in source and binary forms, with or without
* modification, are permitted provided that the following conditions are met:
*     * Redistributions of source code must retain the above copyright
*       notice, this list of conditions and the following disclaimer.
*     * Redistributions in binary form must reproduce the above copyright
*       notice, this list of conditions and the following disclaimer in the
*       documentation and/or other materials provided with the distribution.
*     * Neither the name of the Universities Space Research Association nor the
*       names of its contributors may be used to endorse or promote products
*       derived from this software without specific prior written permission.
*
* THIS SOFTWARE IS PROVIDED BY USRA ``AS IS'' AND ANY EXPRESS OR IMPLIED
* WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
* MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
* DISCLAIMED. IN NO EVENT SHALL USRA BE LIABLE FOR ANY DIRECT, INDIRECT,
* INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
* BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS
* OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
* ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
* TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
* USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<!--
This schema extends Core PLEXIL with syntactic sugar: convenient forms 
that are translated into Core PLEXIL for execution (see translate.xsl).
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           xml:lang="en">

  <xs:include schemaLocation='plexil-base.xsd'/>

  <!-- Elements -->

  <xs:element name="Name">
    <xs:complexType>
      <xs:group ref="GeneralizedStringExpression"/>
      <xs:attributeGroup ref="SourceLocators"/>
    </xs:complexType>
  </xs:element>

  <!-- NodeId is optional in Extended PLEXIL Actions -->

  <!-- This could be implemented as xs:all in XML Schema 1.1,
       IF we could find a validator that understood it.
  -->
  <xs:complexType name="ActionBase">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="NodeId" minOccurs="0"/>

      <!-- Annotations for static analysis -->
      <xs:element ref="Assume" minOccurs="0"/>
      <xs:element ref="Desire" minOccurs="0"/>
      <xs:element ref="Expect" minOccurs="0"/>

      <!-- Variable declarations -->
      <xs:element ref="VariableDeclarations" minOccurs="0"/>
      <xs:element ref="Interface" minOccurs="0"/>

      <!-- User conditions -->
      <xs:element ref="StartCondition" minOccurs="0"/>
      <xs:element ref="RepeatCondition" minOccurs="0"/>
      <xs:element ref="PreCondition" minOccurs="0"/>
      <xs:element ref="PostCondition" minOccurs="0"/>
      <xs:element ref="InvariantCondition" minOccurs="0"/>
      <xs:element ref="EndCondition" minOccurs="0"/>
      <xs:element ref="ExitCondition" minOccurs="0"/>
      <xs:element ref="SkipCondition" minOccurs="0"/>

      <!-- Any number of Comment elements COULD be included
           if we could implement XML Schema 1.1.
      -->
      <xs:element ref="Comment" minOccurs="0"/>

      <!-- Currently only relevant for Assignment nodes -->
      <xs:element name="Priority" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:choice>
    <xs:attributeGroup ref="SourceLocators"/>
  </xs:complexType>

  <!-- NodeId is optional in Extended PLEXIL Node -->

  <!-- NodeType could inherit from ActionBase if
       we could implement XML Schema 1.1.
  -->
  <xs:complexType name="NodeType">
    <xs:all>
      <xs:element ref="NodeId" minOccurs="0"/>

      <!-- Annotations for static analysis -->
      <xs:element ref="Assume" minOccurs="0"/>
      <xs:element ref="Desire" minOccurs="0"/>
      <xs:element ref="Expect" minOccurs="0"/>

      <!-- Variable declarations -->
      <xs:element ref="VariableDeclarations" minOccurs="0"/>
      <xs:element ref="Interface" minOccurs="0"/>

      <!-- User conditions -->
      <xs:element ref="StartCondition" minOccurs="0"/>
      <xs:element ref="RepeatCondition" minOccurs="0"/>
      <xs:element ref="PreCondition" minOccurs="0"/>
      <xs:element ref="PostCondition" minOccurs="0"/>
      <xs:element ref="InvariantCondition" minOccurs="0"/>
      <xs:element ref="EndCondition" minOccurs="0"/>
      <xs:element ref="ExitCondition" minOccurs="0"/>
      <xs:element ref="SkipCondition" minOccurs="0"/>

      <!-- Any number of Comment elements COULD be included
           if we could implement XML Schema 1.1.
      -->
      <xs:element ref="Comment" minOccurs="0"/>

      <!-- Currently only relevant for Assignment nodes -->
      <xs:element name="Priority" type="xs:nonNegativeInteger" minOccurs="0"/>

      <xs:element ref="NodeBody" minOccurs="0"/>
    </xs:all>
    <xs:attributeGroup ref="NodeAttributes"/>
  </xs:complexType>
  
  <xs:group name="ActionGroup">
    <xs:choice>
      <xs:element ref="Node"/>
      <xs:element ref="Concurrence"/>
      <xs:element ref="Sequence"/>
      <xs:element ref="CheckedSequence"/>
      <xs:element ref="UncheckedSequence"/>
      <xs:element ref="Try"/>
      <xs:element ref="If"/>
      <xs:element ref="Do"/>
      <xs:element ref="While"/>
      <xs:element ref="For"/>
      <xs:element ref="OnCommand"/>
      <xs:element ref="OnMessage"/>
      <xs:element ref="Wait"/>
      <xs:element ref="SynchronousCommand"/>
    </xs:choice>
  </xs:group>

  <xs:group name="BooleanExpression">
    <xs:choice>
      <xs:element ref="BooleanVariable"/>
      <xs:element ref="BooleanValue"/>
	  <xs:group ref="LogicalOperator"/>
	  <xs:group ref="Equality"/>
	  <xs:group ref="NumericComparison"/>
      <xs:group ref="KnownTest"/>
      <xs:group ref="NodeStatePredicate"/>
      <xs:group ref="NodeOutcomePredicate"/>
      <xs:group ref="NodeFailurePredicate"/>

      <!-- Extended PLEXIL macros -->
      <xs:element ref="IterationSucceeded"/>
      <xs:element ref="Interrupted"/>
      <xs:element ref="IterationFailed"/>
      <xs:element ref="InvariantFailed"/>
      <xs:element ref="ParentFailed"/>
      <xs:element ref="PreconditionFailed"/>
      <xs:element ref="MessageReceived"/>
    </xs:choice>
  </xs:group>

  <xs:group name="DeclaredVariable">
    <xs:choice>
      <xs:element ref="IntegerVariable"/>
      <xs:element ref="RealVariable"/>
      <xs:element ref="BooleanVariable"/>
      <xs:element ref="StringVariable"/>
      <xs:element ref="DateVariable"/>
      <xs:element ref="DurationVariable"/>
      <xs:element ref="ArrayVariable"/>
      <xs:element ref="ArrayElement"/>
    </xs:choice>
  </xs:group>

  <xs:group name="LookupGroup">
    <xs:choice>
      <xs:element ref="LookupOnChange"/>
      <xs:element ref="LookupNow"/>
      <xs:element ref="Lookup"/>
    </xs:choice>
  </xs:group>

  <xs:group name="NumericExpression">
    <xs:choice>
      <xs:group ref="ArithmeticOperator"/>
      <xs:element ref="IntegerVariable"/>
      <xs:element ref="RealVariable"/>
      <xs:element ref="IntegerValue"/>
      <xs:element ref="RealValue"/>
      <xs:element ref="DateVariable"/>
      <xs:element ref="DateValue"/>
      <xs:element ref="DurationVariable"/>
      <xs:element ref="DurationValue"/>
      <xs:element ref="NodeTimepointValue"/>
      <!-- read operations for arrays-->
      <xs:element ref="ArraySize"/>
      <xs:element ref="ArrayMaxSize"/>
    </xs:choice>
  </xs:group>

  <xs:group name="Value">
    <xs:choice>
      <xs:element ref="IntegerValue"/>
      <xs:element ref="RealValue"/>
      <xs:element ref="BooleanValue"/>
      <xs:element ref="StringValue"/>
      <xs:element ref="DateValue"/>
      <xs:element ref="DurationValue"/>
    </xs:choice>
  </xs:group>

  <!-- Schema types -->

  <xs:simpleType name="AtomicTypeValues">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Integer"/>
      <xs:enumeration value="Real"/>
      <xs:enumeration value="Boolean"/>
      <xs:enumeration value="String"/>
      <xs:enumeration value="Date"/>
      <xs:enumeration value="Duration"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ParameterTypeValues">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Integer"/>
      <xs:enumeration value="Real"/>
      <xs:enumeration value="Boolean"/>
      <xs:enumeration value="String"/>
      <xs:enumeration value="Date"/>
      <xs:enumeration value="Duration"/>
      <xs:enumeration value="Any"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Extensions to Core Plexil -->

  <xs:element name="DurationVariable" type="xs:NCName"/>
  <xs:element name="DateVariable" type="xs:NCName"/>
  
  <xs:element name="DateValue">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:dateTime">
	      <xs:attributeGroup ref="SourceLocators"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="DurationValue">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:duration">
	      <xs:attributeGroup ref="SourceLocators"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- Sequence forms -->

  <xs:complexType name="SequenceType">
    <xs:complexContent>
      <xs:extension base="ActionBase">
        <xs:sequence>
          <xs:group ref="ActionGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Actions are performed concurrently.  This is just a List Node.
  -->
  <xs:element name="Concurrence" type="SequenceType"/>

  <!-- Each action in the sequence is performed in the given order.  If
       one fails, the Sequence form terminates with failure.
  -->
  <xs:element name="Sequence" type="SequenceType"/>

  <!-- Each action in the sequence is performed in the given order.  If
       one fails, the CheckedSequence form terminates with failure.
  -->
  <xs:element name="CheckedSequence" type="SequenceType"/>

  <!-- Like Sequence, except the actions are not checked for success.
       They will all be executed -->
  <xs:element name="UncheckedSequence" type="SequenceType"/>

  <!-- Each action in the sequence is performed in turn, until one of
       them succeeds; the rest are ignored.  The Try form fails if and
       only if all its actions fail. -->
  <xs:element name="Try" type="SequenceType"/>

  <!-- Conditionals and loops -->

  <!-- Common components of the following statements -->
  <xs:element name="Condition">
    <xs:complexType>
      <xs:group ref="GeneralizedBooleanExpression"/>
      <xs:attributeGroup ref="SourceLocators"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ActionType">
    <xs:group ref="ActionGroup"/>
    <xs:attributeGroup ref="SourceLocators"/>
  </xs:complexType>

  <xs:element name="Action" type="ActionType"/>

  <!-- If statement with optional ElseIf and Else. -->
  <xs:element name="If">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBase">
          <xs:sequence>
            <xs:element ref="Condition"/>
            <xs:element name="Then" type="ActionType"/>
            <xs:element name="ElseIf" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="Condition"/>
                  <xs:element name="Then" type="ActionType"/>
                </xs:sequence>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Else" type="ActionType" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- A classic do-while loop -->
  <xs:element name="Do">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBase">
          <xs:sequence>
            <xs:element ref="Action"/>
            <xs:element ref="Condition"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- A classic while loop -->
  <xs:element name="While">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBase">
          <xs:sequence>
            <xs:element ref="Condition"/>
            <xs:element ref="Action"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- A For loop.  First a variable is declared (it must be numeric).
       Next is a boolean expression that determines when to keep the loop
       going.  Next is a numeric expression used to update the variable
       (it is typically a function of the variable).  Finally, actions
       to execute. -->
  <xs:element name="For">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBase">
          <xs:sequence>
            <xs:element name="LoopVariable">
              <xs:complexType>
                <xs:all>
                  <xs:element ref="DeclareVariable"/>
                </xs:all>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexType>
            </xs:element>
            <xs:element ref="Condition"/>
            <xs:element name="LoopVariableUpdate">
              <xs:complexType>
                <xs:group ref="GeneralizedNumericExpression"/>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexType>
            </xs:element>
            <xs:element ref="Action"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- Node Predicates -->
  <!-- TODO: implement these in the Exec, move to plexil-base schema -->

  <xs:element name="IterationSucceeded" type="node-reference"/>
  <xs:element name="Interrupted" type="node-reference"/>
  <xs:element name="IterationFailed" type="node-reference"/>
  <xs:element name="InvariantFailed" type="node-reference"/>
  <xs:element name="ParentFailed" type="node-reference"/>
  <xs:element name="PreconditionFailed" type="node-reference"/>

  <!-- Support for message passing between executives -->

  <!-- Deprecated -->
  <xs:element name="MessageReceived">
    <xs:complexType>
      <xs:group ref="GeneralizedStringExpression"/>
      <xs:attributeGroup ref="SourceLocators"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="OnCommand">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBase">
          <xs:sequence>
            <xs:element ref="Name"/>
            <xs:group ref="ActionGroup" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="OnMessage">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBase">
          <xs:sequence>
            <xs:element name="Message">
              <xs:complexType>
                <xs:group ref="GeneralizedStringExpression"/>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexType>
            </xs:element>
            <xs:group ref="ActionGroup" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <!-- Specialized actions -->

  <!-- Wait a specified duration, with optional tolerance for the time reading -->
  <xs:element name="Wait">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBase">
          <xs:sequence>
            <xs:element name="Units">
              <xs:complexType>
                <xs:group ref="GeneralizedNumericExpression"/>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexType>
            </xs:element>
            <xs:element ref="Tolerance" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <!-- Command action that waits for its return value or status handle -->
  <xs:element name="SynchronousCommand">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ActionBase">
          <xs:sequence>
            <xs:element name="Timeout" minOccurs="0">
              <xs:complexType>
                <xs:group ref="GeneralizedNumericExpression"/>
                <xs:attributeGroup ref="SourceLocators"/>
              </xs:complexType>
            </xs:element>
            <xs:element ref="Tolerance" minOccurs="0"/>
            <xs:element ref="Command"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <!-- Generic lookup form -->
  <xs:element name="Lookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Tolerance" minOccurs="0"/>
        <xs:element ref="Arguments" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="SourceLocators"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
