schema/extended-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  LookupRHS
  | SQRT
  | Node
  | DurationVariable
  | NumericRHS
  | OnMessage
  | Assignment
  | FLOOR
  | LibraryNodeDeclaration
  | ArrayVariable
  | BooleanValue
  | DateVariable
  | EQBoolean
  | EQString
  | CEIL
  | StringValue
  | IsKnown
  | NodeCommandHandleValue
  | SUB
  | Finished
  | StringRHS
  | NodeBody
  | NodeList
  | Skipped
  | StartCondition
  | Arguments
  | PostCondition
  | ResourceList
  | MIN
  | IterationFailed
  | InvariantCondition
  | PostconditionFailed
  | NEInternal
  | Concurrence
  | XOR
  | If
  | In
  | MAX
  | LookupOnChange
  | ParentFailed
  | TRUNC
  | NEString
  | VariableDeclarations
  | Timepoint
  | NodeRef
  | EndCondition
  | ABS
  | NodeStateVariable
  | DateValue
  | REAL_TO_INT
  | RealValue
  | DurationValue
  | NodeOutcomeVariable
  | RealVariable
  | NodeOutcomeValue
  | StringVariable
  | EQNumeric
  | DIV
  | Interrupted
  | Parameter
  | LE
  | InvariantFailed
  | PreconditionFailed
  | Interface
  | ADD
  | DeclareArray
  | IterationSucceeded
  | LT
  | Update
  | Name
  | Concat
  | Succeeded
  | IntegerVariable
  | BooleanRHS
  | Try
  | Lookup
  | RepeatCondition
  | NodeFailureValue
  | ArrayElement
  | NodeStateValue
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | MUL
  | Failed
  | PreCondition
  | Resource
  | For
  | Sequence
  | UncheckedSequence
  | NOT
  | AND
  | NodeId
  | IterationEnded
  | Executing
  | ExitCondition
  | Wait
  | ArrayValue
  | NodeCommandHandleVariable
  | EQInternal
  | ROUND
  | DeclareVariable
  | NodeFailureVariable
  | ArrayRHS
  | NENumeric
  | GlobalDeclarations
  | CommandDeclaration
  | Inactive
  | LookupNow
  | GE
  | Pair
  | SynchronousCommand
  | Return
  | OR
  | MOD
  | IntegerValue
  | Tolerance
  | NodeTimepointValue
  | While
  | MessageReceived
  | LibraryNodeCall
  | GT
  | NEBoolean
  | Waiting
  | OnCommand
  | Command
  | BooleanVariable
  | Alias
  | SkipCondition
  | InOut
  | StateDeclaration
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
IterationEnded =
  notAllowed
  | element IterationEnded { node-reference }
MAX =
  notAllowed
  | element MAX { SourceLocators, NumericExpression, NumericExpression }
ArrayVariable =
  notAllowed
  | element ArrayVariable { NCName }
Concurrence =
  notAllowed
  | element Concurrence { SourceLocators, SequenceType }
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, BooleanExpression }
Return =
  notAllowed
  | element Return {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
GT =
  notAllowed
  | element GT { SourceLocators, NumericExpression, NumericExpression }
LE =
  notAllowed
  | element LE { SourceLocators, NumericExpression, NumericExpression }
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | LookupGroup
  | ArrayElement
  | Finished
  | IterationEnded
  | Executing
  | Waiting
  | Inactive
  | Succeeded
  | IterationSucceeded
  | Failed
  | Interrupted
  | IterationFailed
  | Skipped
  | InvariantFailed
  | PreconditionFailed
  | PostconditionFailed
  | ParentFailed
  | MessageReceived
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      Interface?
    }
IterationFailed =
  notAllowed
  | element IterationFailed { node-reference }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      (Value
       | DeclaredVariable
       | LookupGroup
       | OR
       | XOR
       | AND
       | NOT
       | EQBoolean
       | EQNumeric
       | EQInternal
       | EQString
       | NEBoolean
       | NENumeric
       | NEInternal
       | NEString
       | GT
       | GE
       | LT
       | LE
       | IsKnown
       | ArithmeticOperator
       | NodeTimepointValue
       | element ArraySize { NCName }
       | element ArrayMaxSize { NCName }
       | StringOperator)
    }
Wait =
  notAllowed
  | element Wait {
      SourceLocators,
      NodeClauses+,
      element Units { NumericExpression },
      Tolerance?
    }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
NodeList =
  notAllowed
  | element NodeList { Action* }
Succeeded =
  notAllowed
  | element Succeeded { node-reference }
ParentFailed =
  notAllowed
  | element ParentFailed { node-reference }
AtomicTypeValues =
  xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Real"
  | xsd:NMTOKEN "Duration"
  | xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Date"
ArithmeticOperator =
  ADD
  | SUB
  | MUL
  | DIV
  | MOD
  | MAX
  | MIN
  | SQRT
  | ABS
  | CEIL
  | FLOOR
  | ROUND
  | TRUNC
  | REAL_TO_INT
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
Name =
  notAllowed
  | element Name { SourceLocators, StringExpression }
DurationVariable =
  notAllowed
  | element DurationVariable { NCName }
ExitCondition =
  notAllowed
  | element ExitCondition { SourceLocators, BooleanExpression }
PostCondition =
  notAllowed
  | element PostCondition { SourceLocators, BooleanExpression }
InvariantFailed =
  notAllowed
  | element InvariantFailed { node-reference }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { Value }?
    }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall { SourceLocators, NodeId, Alias* }
node-reference = (SourceLocators, NodeReference), empty
AND =
  notAllowed
  | element AND { SourceLocators, BooleanExpression* }
ABS =
  notAllowed
  | element ABS { SourceLocators, NumericExpression }
LookupGroup = LookupOnChange | LookupNow | Lookup
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx { xsd:NCName }?,
      attribute NodeType {
        xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "LibraryNodeCall"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & ExitCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
NodeState = NodeStateVariable | NodeStateValue
NCName = xsd:NCName
FLOOR =
  notAllowed
  | element FLOOR { SourceLocators, NumericExpression }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      Parameter*
    }
PostconditionFailed =
  notAllowed
  | element PostconditionFailed { node-reference }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
    }
OR =
  notAllowed
  | element OR { SourceLocators, BooleanExpression* }
Interface =
  notAllowed
  | element Interface { SourceLocators, (In? & InOut?) }
If =
  notAllowed
  | element If {
      SourceLocators,
      NodeClauses+,
      element Condition { BooleanExpression },
      element Then { Action },
      element ElseIf {
        element Condition { BooleanExpression },
        element Then { Action }
      }*,
      element Else { Action }?
    }
SUB =
  notAllowed
  | element SUB {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
OnCommand =
  notAllowed
  | element OnCommand { SourceLocators, NodeClauses+, Name, Action? }
Interrupted =
  notAllowed
  | element Interrupted { node-reference }
ROUND =
  notAllowed
  | element ROUND { SourceLocators, NumericExpression }
EQString =
  notAllowed
  | element EQString {
      SourceLocators, StringExpression, StringExpression
    }
NodeFailure = NodeFailureVariable | NodeFailureValue
nonNegativeInteger = xsd:nonNegativeInteger
DateValue =
  notAllowed
  | element DateValue { xsd:string }
Skipped =
  notAllowed
  | element Skipped { node-reference }
ArrayValue =
  notAllowed
  | element ArrayValue {
      SourceLocators,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "Duration"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Date"
      },
      (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
    }
StringOperator = Concat
NEString =
  notAllowed
  | element NEString {
      SourceLocators, StringExpression, StringExpression
    }
Try =
  notAllowed
  | element Try { SourceLocators, SequenceType }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { StringExpression }
       & element ResourcePriority { NumericExpression }
       & element ResourceLowerBound { NumericExpression }?
       & element ResourceUpperBound { NumericExpression }?
       & element ResourceReleaseAtTermination { BooleanExpression }?)
    }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList | Command | Assignment | Update | LibraryNodeCall
    }
PreCondition =
  notAllowed
  | element PreCondition { SourceLocators, BooleanExpression }
LookupRHS =
  notAllowed
  | element LookupRHS { SourceLocators, LookupGroup }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { node-reference }
SkipCondition =
  notAllowed
  | element SkipCondition { SourceLocators, BooleanExpression }
SequenceType = NodeClauses+, Action*
LT =
  notAllowed
  | element LT { SourceLocators, NumericExpression, NumericExpression }
NodeId =
  notAllowed
  | element NodeId { NCName }
InvariantCondition =
  notAllowed
  | element InvariantCondition { SourceLocators, BooleanExpression }
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "START" | xsd:NMTOKEN "END" }
Arguments =
  notAllowed
  | element Arguments {
      SourceLocators,
      (BooleanExpression
       | NumericExpression
       | StringExpression
       | ArrayVariable
       | ArrayValue)+
    }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
EndCondition =
  notAllowed
  | element EndCondition { SourceLocators, BooleanExpression }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
DIV =
  notAllowed
  | element DIV { SourceLocators, NumericExpression, NumericExpression }
\string = xsd:string
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?,
      element InitialValue { Value+ | ArrayValue }?
    }
IterationSucceeded =
  notAllowed
  | element IterationSucceeded { node-reference }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | DateVariable
  | DurationVariable
  | ArrayVariable
  | ArrayElement
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
Concat =
  notAllowed
  | element Concat { SourceLocators, StringExpression* }
Lookup =
  notAllowed
  | element Lookup { SourceLocators, Name, Tolerance?, Arguments? }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "EXITED"
      | xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
      | xsd:NMTOKEN "PARENT_EXITED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
    }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, StringExpression }
TRUNC =
  notAllowed
  | element TRUNC { SourceLocators, NumericExpression }
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, NumericExpression }
NodeClauses =
  NodeId
  | empty
  | (notAllowed
     | element Comment { \string })
  | StartCondition
  | RepeatCondition
  | PreCondition
  | PostCondition
  | InvariantCondition
  | EndCondition
  | SkipCondition
  | (notAllowed
     | element Priority { nonNegativeInteger })
  | Interface
  | VariableDeclarations
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
MOD =
  notAllowed
  | element MOD { SourceLocators, NumericExpression, NumericExpression }
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
Inactive =
  notAllowed
  | element Inactive { node-reference }
MIN =
  notAllowed
  | element MIN { SourceLocators, NumericExpression, NumericExpression }
InOut =
  notAllowed
  | element InOut { SourceLocators, (DeclareVariable | DeclareArray)+ }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "parent"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "child"
      }?,
      (xsd:NCName | xsd:string "")
    }
UncheckedSequence =
  notAllowed
  | element UncheckedSequence { SourceLocators, SequenceType }
XOR =
  notAllowed
  | element XOR { SourceLocators, BooleanExpression* }
While =
  notAllowed
  | element While {
      SourceLocators,
      NodeClauses+,
      element Condition { BooleanExpression },
      element Action { Action }
    }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
Tolerance =
  notAllowed
  | element Tolerance {
      IntegerValue
      | IntegerVariable
      | RealValue
      | RealVariable
      | DurationValue
      | DurationVariable
    }
NOT =
  notAllowed
  | element NOT { SourceLocators, BooleanExpression }
Failed =
  notAllowed
  | element Failed { node-reference }
DateVariable =
  notAllowed
  | element DateVariable { NCName }
Parameter =
  notAllowed
  | element Parameter {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
For =
  notAllowed
  | element For {
      SourceLocators,
      NodeClauses+,
      element LoopVariable { DeclareVariable },
      element Condition { BooleanExpression },
      element LoopVariableUpdate { NumericExpression },
      element Action { Action }
    }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
REAL_TO_INT =
  notAllowed
  | element REAL_TO_INT { SourceLocators, NumericExpression }
PreconditionFailed =
  notAllowed
  | element PreconditionFailed { node-reference }
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
SynchronousCommand =
  notAllowed
  | element SynchronousCommand {
      SourceLocators,
      NodeClauses+,
      element Timeout { NumericExpression }?,
      Tolerance?,
      Command
    }
DurationValue =
  notAllowed
  | element DurationValue { xsd:string }
Action =
  Node
  | Sequence
  | Concurrence
  | UncheckedSequence
  | Try
  | If
  | While
  | For
  | OnCommand
  | OnMessage
  | Wait
  | SynchronousCommand
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
NumericExpression =
  ArithmeticOperator
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | DateVariable
  | DateValue
  | DurationVariable
  | DurationValue
  | LookupGroup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
Value =
  IntegerValue
  | RealValue
  | BooleanValue
  | StringValue
  | DateValue
  | DurationValue
RealVariable =
  notAllowed
  | element RealVariable { NCName }
ArrayRHS =
  notAllowed
  | element ArrayRHS { SourceLocators, ArrayVariable }
MessageReceived =
  notAllowed
  | element MessageReceived { SourceLocators, StringExpression }
StringExpression =
  StringVariable
  | StringValue
  | DateVariable
  | DateValue
  | DurationVariable
  | DurationValue
  | StringOperator
  | LookupGroup
  | ArrayElement
Sequence =
  notAllowed
  | element Sequence { SourceLocators, SequenceType }
NodeReference = NodeId | NodeRef
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      element Name { NCName },
      element Index { NumericExpression }
    }
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
Finished =
  notAllowed
  | element Finished { node-reference }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
RepeatCondition =
  notAllowed
  | element RepeatCondition { SourceLocators, BooleanExpression }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
CEIL =
  notAllowed
  | element CEIL { SourceLocators, NumericExpression }
StartCondition =
  notAllowed
  | element StartCondition { SourceLocators, BooleanExpression }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHING"
      | xsd:NMTOKEN "FINISHED"
    }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "FAILURE"
      | xsd:NMTOKEN "INTERRUPTED"
    }
Waiting =
  notAllowed
  | element Waiting { node-reference }
GE =
  notAllowed
  | element GE { SourceLocators, NumericExpression, NumericExpression }
In =
  notAllowed
  | element In { SourceLocators, (DeclareVariable | DeclareArray)+ }
SQRT =
  notAllowed
  | element SQRT { SourceLocators, NumericExpression }
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (DeclaredVariable
       | LookupGroup
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeTimepointValue)
    }
OnMessage =
  notAllowed
  | element OnMessage {
      SourceLocators,
      NodeClauses+,
      element Message { StringExpression },
      Action?
    }
Executing =
  notAllowed
  | element Executing { node-reference }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
