schema/extended-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  NodeTimepointValue
  | LookupNow
  | NodeRef
  | Tolerance
  | LT
  | PreconditionFailed
  | IterationEnded
  | MOD
  | BooleanVariable
  | DeclareArray
  | IntegerVariable
  | StateDeclaration
  | SkipCondition
  | BooleanValue
  | ResourceList
  | NOT
  | Finished
  | IterationFailed
  | Waiting
  | RealVariable
  | InOut
  | MessageReceived
  | ArrayVariable
  | Node
  | Timepoint
  | Failed
  | NodeList
  | LookupRHS
  | GE
  | NodeStateVariable
  | Pair
  | RepeatCondition
  | PostCondition
  | NodeId
  | VariableDeclarations
  | NEInternal
  | StringVariable
  | LibraryNodeDeclaration
  | UncheckedSequence
  | NodeCommandHandleValue
  | MUL
  | InvariantCondition
  | IsKnown
  | ABS
  | SynchronousCommand
  | StartCondition
  | Executing
  | GlobalDeclarations
  | OnMessage
  | StringValue
  | OR
  | EndCondition
  | EQString
  | (notAllowed
     | element ArrayValue {
         SourceLocators,
         attribute Type {
           xsd:NMTOKEN "Real"
           | xsd:NMTOKEN "Date"
           | xsd:NMTOKEN "String"
           | xsd:NMTOKEN "Duration"
           | xsd:NMTOKEN "Boolean"
           | xsd:NMTOKEN "Integer"
         },
         (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
       })
  | GT
  | DurationVariable
  | Wait
  | NodeFailureValue
  | DeclareVariable
  | Try
  | ArrayElement
  | Inactive
  | StringRHS
  | BooleanRHS
  | NumericRHS
  | MAX
  | DurationValue
  | CommandDeclaration
  | SUB
  | While
  | AND
  | EQInternal
  | NodeFailureVariable
  | DateVariable
  | Sequence
  | ParentFailed
  | PreCondition
  | Arguments
  | RealValue
  | Interface
  | LibraryNodeCall
  | NodeCommandHandleVariable
  | Concurrence
  | LookupOnChange
  | Return
  | If
  | NEString
  | ADD
  | Command
  | NodeBody
  | Succeeded
  | In
  | XOR
  | NENumeric
  | Update
  | Assignment
  | NodeStateValue
  | Concat
  | InvariantFailed
  | PostconditionFailed
  | MIN
  | SQRT
  | For
  | EQNumeric
  | Parameter
  | DateValue
  | NodeOutcomeVariable
  | IntegerValue
  | Resource
  | NodeOutcomeValue
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | IterationSucceeded
  | EQBoolean
  | Name
  | NEBoolean
  | Alias
  | ArrayRHS
  | DIV
  | Lookup
  | OnCommand
  | LE
  | Skipped
InvariantFailed =
  notAllowed
  | element InvariantFailed { node-reference }
XOR =
  notAllowed
  | element XOR { SourceLocators, BooleanExpression* }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
For =
  notAllowed
  | element For {
      SourceLocators,
      NodeClauses+,
      element LoopVariable { DeclareVariable },
      element Condition { BooleanExpression },
      element LoopVariableUpdate { NumericExpression },
      element Action { Action }
    }
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | LookupGroup
  | ArrayElement
  | Finished
  | IterationEnded
  | Executing
  | Waiting
  | Inactive
  | Succeeded
  | IterationSucceeded
  | Failed
  | IterationFailed
  | Skipped
  | InvariantFailed
  | PreconditionFailed
  | PostconditionFailed
  | ParentFailed
  | MessageReceived
Lookup =
  notAllowed
  | element Lookup { SourceLocators, Name, Tolerance?, Arguments? }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
        | xsd:NMTOKEN "self"
      }?,
      (xsd:NCName | xsd:string "")
    }
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, NumericExpression }
ParentFailed =
  notAllowed
  | element ParentFailed { node-reference }
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
Failed =
  notAllowed
  | element Failed { node-reference }
DateValue =
  notAllowed
  | element DateValue { xsd:string }
PostCondition =
  notAllowed
  | element PostCondition { SourceLocators, BooleanExpression }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
LT =
  notAllowed
  | element LT { SourceLocators, NumericExpression, NumericExpression }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
Name =
  notAllowed
  | element Name { SourceLocators, StringExpression }
ArithmeticOperator =
  ADD | SUB | MUL | DIV | MOD | MAX | MIN | SQRT | ABS
Arguments =
  notAllowed
  | element Arguments {
      SourceLocators,
      (BooleanExpression
       | NumericExpression
       | StringExpression
       | ArrayVariable)+
    }
NodeList =
  notAllowed
  | element NodeList { Action* }
InOut =
  notAllowed
  | element InOut { SourceLocators, (DeclareVariable | DeclareArray)+ }
NumericExpression =
  ArithmeticOperator
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | DateVariable
  | DateValue
  | DurationVariable
  | DurationValue
  | LookupGroup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
DurationVariable =
  notAllowed
  | element DurationVariable { NCName }
Tolerance =
  notAllowed
  | element Tolerance {
      IntegerValue
      | IntegerVariable
      | RealValue
      | RealVariable
      | DurationValue
      | DurationVariable
    }
Concat =
  notAllowed
  | element Concat { SourceLocators, StringExpression* }
Return =
  notAllowed
  | element Return {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
PreconditionFailed =
  notAllowed
  | element PreconditionFailed { node-reference }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "FAILURE"
    }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
StringExpression =
  StringVariable
  | StringValue
  | DateVariable
  | DateValue
  | DurationVariable
  | DurationValue
  | StringOperator
  | LookupGroup
  | ArrayElement
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      Interface
    }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHING"
      | xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHED"
    }
In =
  notAllowed
  | element In { SourceLocators, (DeclareVariable | DeclareArray)+ }
PostconditionFailed =
  notAllowed
  | element PostconditionFailed { node-reference }
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, StringExpression }
ArrayRHS =
  notAllowed
  | element ArrayRHS { SourceLocators, ArrayVariable }
NodeState = NodeStateVariable | NodeStateValue
Skipped =
  notAllowed
  | element Skipped { node-reference }
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { node-reference }
OnCommand =
  notAllowed
  | element OnCommand { SourceLocators, NodeClauses+, Name, Action? }
MessageReceived =
  notAllowed
  | element MessageReceived { SourceLocators, StringExpression }
DateVariable =
  notAllowed
  | element DateVariable { NCName }
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      SourceLocators,
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
While =
  notAllowed
  | element While {
      SourceLocators,
      NodeClauses+,
      element Condition { BooleanExpression },
      element Action { Action }
    }
Succeeded =
  notAllowed
  | element Succeeded { node-reference }
IterationFailed =
  notAllowed
  | element IterationFailed { node-reference }
Value =
  IntegerValue
  | RealValue
  | BooleanValue
  | StringValue
  | DateValue
  | DurationValue
RealValue =
  notAllowed
  | element RealValue { xsd:double }
GT =
  notAllowed
  | element GT { SourceLocators, NumericExpression, NumericExpression }
Sequence =
  notAllowed
  | element Sequence { SourceLocators, SequenceType }
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
Inactive =
  notAllowed
  | element Inactive { node-reference }
ABS =
  notAllowed
  | element ABS { SourceLocators, NumericExpression }
If =
  notAllowed
  | element If {
      SourceLocators,
      NodeClauses+,
      element Condition { BooleanExpression },
      element Then { Action },
      element Else { Action }?
    }
SkipCondition =
  notAllowed
  | element SkipCondition { SourceLocators, BooleanExpression }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (DeclaredVariable
       | LookupGroup
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeTimepointValue)
    }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { StringExpression }
       & element ResourcePriority { NumericExpression }
       & element ResourceLowerBound { NumericExpression }?
       & element ResourceUpperBound { NumericExpression }?
       & element ResourceReleaseAtTermination { BooleanExpression }?)
    }
Executing =
  notAllowed
  | element Executing { node-reference }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
Finished =
  notAllowed
  | element Finished { node-reference }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
Interface =
  notAllowed
  | element Interface { SourceLocators, (In? & InOut?) }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
Action =
  Node
  | Sequence
  | Concurrence
  | UncheckedSequence
  | Try
  | If
  | While
  | For
  | OnCommand
  | OnMessage
  | Wait
  | SynchronousCommand
NodeClauses =
  NodeId
  | empty
  | (notAllowed
     | element Comment { \string })
  | StartCondition
  | RepeatCondition
  | PreCondition
  | PostCondition
  | InvariantCondition
  | EndCondition
  | SkipCondition
  | (notAllowed
     | element Priority { nonNegativeInteger })
  | Interface
  | VariableDeclarations
node-reference = (SourceLocators, NodeReference), empty
Waiting =
  notAllowed
  | element Waiting { node-reference }
NodeReference = NodeId | NodeRef
StartCondition =
  notAllowed
  | element StartCondition { SourceLocators, BooleanExpression }
SQRT =
  notAllowed
  | element SQRT { SourceLocators, NumericExpression }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "START" | xsd:NMTOKEN "END" }
NEString =
  notAllowed
  | element NEString {
      SourceLocators, StringExpression, StringExpression
    }
Concurrence =
  notAllowed
  | element Concurrence { SourceLocators, SequenceType }
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, BooleanExpression }
DIV =
  notAllowed
  | element DIV { SourceLocators, NumericExpression, NumericExpression }
IterationEnded =
  notAllowed
  | element IterationEnded { node-reference }
StringOperator = Concat
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
NCName = xsd:NCName
Try =
  notAllowed
  | element Try { SourceLocators, SequenceType }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | DateVariable
  | DurationVariable
  | ArrayVariable
  | ArrayElement
EQString =
  notAllowed
  | element EQString {
      SourceLocators, StringExpression, StringExpression
    }
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
OnMessage =
  notAllowed
  | element OnMessage {
      SourceLocators,
      NodeClauses+,
      element Message { StringExpression },
      Action?
    }
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList | Command | Assignment | Update | LibraryNodeCall
    }
SequenceType = NodeClauses+, Action*
nonNegativeInteger = xsd:nonNegativeInteger
LE =
  notAllowed
  | element LE { SourceLocators, NumericExpression, NumericExpression }
SUB =
  notAllowed
  | element SUB { SourceLocators, NumericExpression, NumericExpression }
NodeId =
  notAllowed
  | element NodeId { NCName }
Wait =
  notAllowed
  | element Wait {
      SourceLocators,
      NodeClauses+,
      element Units { NumericExpression },
      Tolerance?
    }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      Parameter*
    }
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue { Value+ }?
    }
EndCondition =
  notAllowed
  | element EndCondition { SourceLocators, BooleanExpression }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
LookupRHS =
  notAllowed
  | element LookupRHS { SourceLocators, LookupGroup }
SynchronousCommand =
  notAllowed
  | element SynchronousCommand {
      SourceLocators,
      NodeClauses+,
      element Timeout { NumericExpression }?,
      Tolerance?,
      Command
    }
OR =
  notAllowed
  | element OR { SourceLocators, BooleanExpression* }
AND =
  notAllowed
  | element AND { SourceLocators, BooleanExpression* }
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
Parameter =
  notAllowed
  | element Parameter {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
IterationSucceeded =
  notAllowed
  | element IterationSucceeded { node-reference }
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
DurationValue =
  notAllowed
  | element DurationValue { xsd:string }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { Value }?
    }
NodeFailure = NodeFailureVariable | NodeFailureValue
PreCondition =
  notAllowed
  | element PreCondition { SourceLocators, BooleanExpression }
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
AtomicTypeValues =
  xsd:NMTOKEN "Real"
  | xsd:NMTOKEN "Date"
  | xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Duration"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Integer"
LookupGroup = LookupOnChange | LookupNow | Lookup
UncheckedSequence =
  notAllowed
  | element UncheckedSequence { SourceLocators, SequenceType }
MOD =
  notAllowed
  | element MOD { SourceLocators, NumericExpression, NumericExpression }
\string = xsd:string
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
    }
InvariantCondition =
  notAllowed
  | element InvariantCondition { SourceLocators, BooleanExpression }
GE =
  notAllowed
  | element GE { SourceLocators, NumericExpression, NumericExpression }
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx { xsd:NCName }?,
      attribute NodeType {
        xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "NodeList"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
NOT =
  notAllowed
  | element NOT { SourceLocators, BooleanExpression }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
MIN =
  notAllowed
  | element MIN { SourceLocators, NumericExpression, NumericExpression }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
RepeatCondition =
  notAllowed
  | element RepeatCondition { SourceLocators, BooleanExpression }
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      element Name { NCName },
      element Index { NumericExpression }
    }
ArrayVariable =
  notAllowed
  | element ArrayVariable { NCName }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      (Value
       | DeclaredVariable
       | LookupGroup
       | OR
       | XOR
       | AND
       | NOT
       | EQBoolean
       | EQNumeric
       | EQInternal
       | EQString
       | NEBoolean
       | NENumeric
       | NEInternal
       | NEString
       | GT
       | GE
       | LT
       | LE
       | IsKnown
       | ArithmeticOperator
       | NodeTimepointValue
       | element ArraySize { NCName }
       | element ArrayMaxSize { NCName }
       | StringOperator)
    }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
MAX =
  notAllowed
  | element MAX { SourceLocators, NumericExpression, NumericExpression }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
