schema/plexil-base.rnc

# * Copyright (c) 2006-2020, Universities Space Research Association (USRA).
# *  All rights reserved.
# *
# * Redistribution and use in source and binary forms, with or without
# * modification, are permitted provided that the following conditions are met:
# *     * Redistributions of source code must retain the above copyright
# *       notice, this list of conditions and the following disclaimer.
# *     * Redistributions in binary form must reproduce the above copyright
# *       notice, this list of conditions and the following disclaimer in the
# *       documentation and/or other materials provided with the distribution.
# *     * Neither the name of the Universities Space Research Association nor the
# *       names of its contributors may be used to endorse or promote products
# *       derived from this software without specific prior written permission.
# *
# * THIS SOFTWARE IS PROVIDED BY USRA ``AS IS'' AND ANY EXPRESS OR IMPLIED
# * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# * DISCLAIMED. IN NO EVENT SHALL USRA BE LIABLE FOR ANY DIRECT, INDIRECT,
# * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# * BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS
# * OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
# * TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
# * USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

# Common elements that are included in several PLEXIL schemas.
# NOTE: this is an incomplete schema, as it doesn't define the following elements
# and types, which differ between Core PLEXIL and Extended PLEXIL:
# 
#  Action
#  AtomicTypeValues
#  BooleanExpression
#  DeclaredVariable
#  LookupGroup
#  Name
#  NumericExpression
#  ParameterTypeValues
#  Value
# 
# It is used as an included schema only.

default namespace = ""
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rng = "http://relaxng.org/ns/structure/1.0"
namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"

attr_FileName = attribute FileName { xsd:string }?
attr_LineNo = attribute LineNo { xsd:integer }?
attr_ColNo = attribute ColNo { xsd:integer }?
SourceLocators = attr_FileName, attr_LineNo, attr_ColNo
# This is the sole root element allowed!
start = starting_PlexilPlan
starting_PlexilPlan =
  element PlexilPlan {
    GlobalDeclarations?,
    Action,
    SourceLocators,
    # Attempt to imitate rncfix
    attribute * { text }
  }
NodeReference = NodeId | NodeRef
node-reference = NodeReference, SourceLocators
NodeId = element NodeId { xsd:NCName }
NodeRef =
  element NodeRef {
    NCNameOrEmpty,
    attribute dir { "parent" | "sibling" | "child" | "self" }?
  }
GlobalDeclarations =
  element GlobalDeclarations {
    (CommandDeclaration?
     | StateDeclaration?
     | LibraryNodeDeclaration?
     | DeclareMutex?
     | element TimeScalingUnitsSubunits { xsd:integer }?)+,
    SourceLocators
  }
CommandDeclaration =
  element CommandDeclaration {
    element Name { xsd:NCName },
    Return*,
    ParameterSpec?,
    ResourceList?,
    SourceLocators
  }
StateDeclaration =
  element StateDeclaration {
    element Name { xsd:NCName },
    Return,
    ParameterSpec?,
    SourceLocators
  }
LibraryNodeDeclaration =
  element LibraryNodeDeclaration {
    element Name { xsd:NCName },
    Interface?,
    SourceLocators
  }
ParameterSpec =
  Parameter*,
  element AnyParameters { empty }?
Parameter =
  element Parameter {
    element Name { xsd:NCName }?,
    element Type { ParameterTypeValues },
    # MaxSize indicates an array value, Type is the element type
    element MaxSize { xsd:nonNegativeInteger }?
  }
Return =
  element Return {
    # KMD: not sure about the motivation for 'nillable'.  Assuming it
    # is for declaring a void return explicitly.
    element Name { xsd:NCName }?,
    element Type { AtomicTypeValues },
    # MaxSize indicates an array value, Type is the element type
    element MaxSize { xsd:nonNegativeInteger }?
  }
# Both global and local declarations share this syntax
DeclareMutex =
  element DeclareMutex {
    element Name { xsd:NCName, SourceLocators },
    SourceLocators
  }
NCNameOrEmpty = xsd:NCName | ("")
Node =
  element Node {
    (element Comment { xsd:string }?
     & NodeId
     & Assume?
     & Desire?
     & Expect?
     & StartCondition?
     & RepeatCondition?
     & PreCondition?
     & PostCondition?
     & InvariantCondition?
     & EndCondition?
     & ExitCondition?
     & SkipCondition?
     & element Priority { xsd:nonNegativeInteger }?
     & Interface?
     & VariableDeclarations?
     & UsingMutex?
     & NodeBody?),
    attribute NodeType {
      "NodeList"
      | "Command"
      | "Assignment"
      | "Update"
      | "Empty"
      | "LibraryNodeCall"
    },
    # The epx attribute indicates a node that is a translation of an
    # Extended Plexil construct (i.e. macro).  Its value is the type of
    # this construct, or 'aux' indicating it is an auxilliary generated
    # node.
    attribute epx { xsd:NCName }?,
    SourceLocators
  }
NodeBody =
  element NodeBody {
    NodeList | Command | Assignment | Update | LibraryNodeCall
  }
NodeList = element NodeList { Action* }
Assume = element Assume { GeneralizedBooleanExpression, SourceLocators }
Desire = element Desire { GeneralizedBooleanExpression, SourceLocators }
Expect = element Expect { GeneralizedBooleanExpression, SourceLocators }
StartCondition =
  element StartCondition {
    GeneralizedBooleanExpression, SourceLocators
  }
RepeatCondition =
  element RepeatCondition {
    GeneralizedBooleanExpression, SourceLocators
  }
PreCondition =
  element PreCondition { GeneralizedBooleanExpression, SourceLocators }
PostCondition =
  element PostCondition { GeneralizedBooleanExpression, SourceLocators }
InvariantCondition =
  element InvariantCondition {
    GeneralizedBooleanExpression, SourceLocators
  }
EndCondition =
  element EndCondition { GeneralizedBooleanExpression, SourceLocators }
ExitCondition =
  element ExitCondition { GeneralizedBooleanExpression, SourceLocators }
SkipCondition =
  element SkipCondition { GeneralizedBooleanExpression, SourceLocators }
Interface = element Interface { (In? & InOut?), SourceLocators }
In = element In { (DeclareVariable | DeclareArray)+, SourceLocators }
InOut =
  element InOut { (DeclareVariable | DeclareArray)+, SourceLocators }
UsingMutex =
  element UsingMutex {
    element Name { xsd:NCName, SourceLocators }+,
    SourceLocators
  }
ResourceList = element ResourceList { Resource*, SourceLocators }
# FIXME: make these tags less verbose
Resource =
  element Resource {
    (element ResourceName { GeneralizedStringExpression }
     & element ResourcePriority { GeneralizedNumericExpression }
     & element ResourceLowerBound { GeneralizedNumericExpression }?
     & element ResourceUpperBound { GeneralizedNumericExpression }?
     & element ResourceReleaseAtTermination {
         GeneralizedBooleanExpression
       }?),
    SourceLocators
  }
IntegerVariable = element IntegerVariable { xsd:NCName }
RealVariable = element RealVariable { xsd:NCName }
BooleanVariable = element BooleanVariable { xsd:NCName }
StringVariable = element StringVariable { xsd:NCName }
ArrayVariable = element ArrayVariable { xsd:NCName }
DeclareVariable =
  element DeclareVariable {
    element Name { xsd:NCName },
    element Type { AtomicTypeValues },
    element InitialValue { DeclaredVariable | Value }?,
    SourceLocators
  }
DeclareArray =
  element DeclareArray {
    element Name { xsd:NCName },
    element Type { AtomicTypeValues },
    element MaxSize { xsd:nonNegativeInteger }?,
    element InitialValue {
      # backward compatibility for scalar literals
      Value+
      | # preferred new style
        ArrayValue
      | # variable reference
        ArrayVariable
    }?,
    SourceLocators
  }
VariableDeclarations =
  element VariableDeclarations {
    (DeclareVariable | DeclareArray | DeclareMutex)+
  }
Command =
  element Command {
    ResourceList?, DeclaredVariable?, Name, Arguments?, SourceLocators
  }
# Expression of any type
Expression =
  BooleanExpression
  | NumericExpression
  | StringExpression
  | ArrayExpression
  | LookupGroup
  | ArrayElement
Arguments = element Arguments { Expression+, SourceLocators }
Update = element Update { Pair*, SourceLocators }
Pair =
  element Pair {
    element Name { xsd:NCName },
    Expression
  }
LibraryNodeCall =
  element LibraryNodeCall { NodeId, Alias*, SourceLocators }
Alias =
  element Alias {
    element NodeParameter { xsd:NCName },
    Expression,
    SourceLocators
  }
IntegerValue = element IntegerValue { xsd:integer }
RealValue = element RealValue { xsd:double }
BooleanValue = element BooleanValue { xsd:boolean }
StringValue = element StringValue { xsd:string }
ArrayValue =
  element ArrayValue {
    (Value+),
    attribute Type { AtomicTypeValues },
    SourceLocators
  }
GeneralizedArrayExpression = ArrayExpression | LookupGroup
ArrayExpression = ArrayValue | ArrayVariable
BooleanRHS =
  element BooleanRHS { GeneralizedBooleanExpression, SourceLocators }
NumericRHS =
  element NumericRHS { (GeneralizedNumericExpression), SourceLocators }
StringRHS =
  element StringRHS { GeneralizedStringExpression, SourceLocators }
ArrayRHS =
  element ArrayRHS { GeneralizedArrayExpression, SourceLocators }
assignment =
  DeclaredVariable,
  (BooleanRHS | NumericRHS | StringRHS | ArrayRHS),
  SourceLocators
Assignment = element Assignment { assignment }
GeneralizedBooleanExpression =
  BooleanExpression | LookupGroup | ArrayElement
LogicalOperator = OR | XOR | AND | NOT
Equality =
  EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | EQArray
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | NEArray
NumericComparison = GT | GE | LT | LE
IsKnown =
  element IsKnown {
    (Expression
     | NodeStateVariable
     | NodeOutcomeVariable
     | NodeCommandHandleVariable),
    SourceLocators
  }
ALL_KNOWN =
  element ALL_KNOWN { GeneralizedArrayExpression, SourceLocators }
ANY_KNOWN =
  element ANY_KNOWN { GeneralizedArrayExpression, SourceLocators }
KnownTest = IsKnown | ALL_KNOWN | ANY_KNOWN
OR = element OR { GeneralizedBooleanExpression*, SourceLocators }
XOR = element XOR { GeneralizedBooleanExpression*, SourceLocators }
AND = element AND { GeneralizedBooleanExpression*, SourceLocators }
NOT = element NOT { GeneralizedBooleanExpression, SourceLocators }
GT =
  element GT {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
GE =
  element GE {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
LT =
  element LT {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
LE =
  element LE {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
EQBoolean =
  element EQBoolean {
    GeneralizedBooleanExpression,
    GeneralizedBooleanExpression,
    SourceLocators
  }
EQNumeric =
  element EQNumeric {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
EQInternal =
  element EQInternal {
    (NodeState
     | NodeState
     | NodeOutcome
     | NodeOutcome
     | NodeFailure
     | NodeFailure
     | NodeCommandHandle
     | NodeCommandHandle),
    SourceLocators
  }
EQString =
  element EQString {
    GeneralizedStringExpression,
    GeneralizedStringExpression,
    SourceLocators
  }
EQArray =
  element EQArray {
    GeneralizedArrayExpression,
    GeneralizedArrayExpression,
    SourceLocators
  }
NEBoolean =
  element NEBoolean {
    GeneralizedBooleanExpression,
    GeneralizedBooleanExpression,
    SourceLocators
  }
NENumeric =
  element NENumeric {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
NEInternal =
  element NEInternal {
    (NodeState
     | NodeState
     | NodeOutcome
     | NodeOutcome
     | NodeFailure
     | NodeFailure
     | NodeCommandHandle
     | NodeCommandHandle),
    SourceLocators
  }
NEString =
  element NEString {
    GeneralizedStringExpression,
    GeneralizedStringExpression,
    SourceLocators
  }
NEArray =
  element NEArray {
    GeneralizedArrayExpression,
    GeneralizedArrayExpression,
    SourceLocators
  }
NodeCommandHandleVariable =
  element NodeCommandHandleVariable { node-reference }
NodeCommandHandleValue =
  element NodeCommandHandleValue {
    "COMMAND_SENT_TO_SYSTEM"
    | "COMMAND_ACCEPTED"
    | "COMMAND_DENIED"
    | "COMMAND_RCVD_BY_SYSTEM"
    | "COMMAND_FAILED"
    | "COMMAND_SUCCESS"
    | "COMMAND_ABORTED"
    | "COMMAND_ABORT_FAILED"
  }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
NodeState = NodeStateVariable | NodeStateValue
NodeStateVariable = element NodeStateVariable { node-reference }
NodeStateValue =
  element NodeStateValue {
    "WAITING"
    | "EXECUTING"
    | "FINISHING"
    | "FAILING"
    | "ITERATION_ENDED"
    | "FINISHED"
    | "INACTIVE"
  }
# Node State Predicates
NodeStatePredicate =
  Executing
  | Finished
  | Inactive
  | IterationEnded
  | Waiting
  | NoChildFailed
Executing = element Executing { node-reference }
Finished = element Finished { node-reference }
Inactive = element Inactive { node-reference }
IterationEnded = element IterationEnded { node-reference }
Waiting = element Waiting { node-reference }
NoChildFailed = element NoChildFailed { node-reference }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
NodeOutcomeVariable = element NodeOutcomeVariable { node-reference }
NodeOutcomeValue =
  element NodeOutcomeValue {
    "SUCCESS" | "FAILURE" | "SKIPPED" | "INTERRUPTED"
  }
# Node Outcome Predicates
NodeOutcomePredicate =
  Failed
  | Skipped
  | Succeeded
    # more to come
    
Failed = element Failed { node-reference }
Skipped = element Skipped { node-reference }
Succeeded = element Succeeded { node-reference }
NodeFailure = NodeFailureVariable | NodeFailureValue
NodeFailureVariable = element NodeFailureVariable { node-reference }
NodeFailureValue =
  element NodeFailureValue {
    "PRE_CONDITION_FAILED"
    | "POST_CONDITION_FAILED"
    | "INVARIANT_CONDITION_FAILED"
    | "PARENT_FAILED"
    | "PARENT_EXITED"
    | "EXITED"
  }
# Node Failure Predicates
NodeFailurePredicate =
  PostconditionFailed
  # more to come
  
PostconditionFailed = element PostconditionFailed { node-reference }
NodeTimepointValue =
  element NodeTimepointValue {
    NodeReference, NodeStateValue, Timepoint, SourceLocators
  }
Timepoint = element Timepoint { "START" | "END" }
GeneralizedStringExpression =
  StringExpression | LookupGroup | ArrayElement
StringExpression = StringVariable | StringValue | StringOperator
StringOperator = Concat
Concat = element Concat { GeneralizedStringExpression*, SourceLocators }
GeneralizedNumericExpression =
  NumericExpression | LookupGroup | ArrayElement
ArithmeticOperator =
  ADD
  | SUB
  | MUL
  | DIV
  | MOD
  | MAX
  | MIN
  | SQRT
  | ABS
  | CEIL
  | FLOOR
  | ROUND
  | TRUNC
  | REAL_TO_INT
  | STRLEN
ArrayElement =
  element ArrayElement {
    (GeneralizedArrayExpression
     | element Name { xsd:NCName }),
    element Index { GeneralizedNumericExpression },
    SourceLocators
  }
ADD = element ADD { GeneralizedNumericExpression+, SourceLocators }
SUB = element SUB { GeneralizedNumericExpression+, SourceLocators }
MUL = element MUL { GeneralizedNumericExpression+, SourceLocators }
DIV =
  element DIV {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
MOD =
  element MOD {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
MAX =
  element MAX {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
MIN =
  element MIN {
    GeneralizedNumericExpression,
    GeneralizedNumericExpression,
    SourceLocators
  }
SQRT = element SQRT { GeneralizedNumericExpression, SourceLocators }
ABS = element ABS { GeneralizedNumericExpression, SourceLocators }
CEIL = element CEIL { GeneralizedNumericExpression, SourceLocators }
FLOOR = element FLOOR { GeneralizedNumericExpression, SourceLocators }
ROUND = element ROUND { GeneralizedNumericExpression, SourceLocators }
TRUNC = element TRUNC { GeneralizedNumericExpression, SourceLocators }
REAL_TO_INT =
  element REAL_TO_INT { GeneralizedNumericExpression, SourceLocators }
STRLEN = element STRLEN { GeneralizedStringExpression, SourceLocators }
ArraySize =
  element ArraySize { GeneralizedArrayExpression, SourceLocators }
ArrayMaxSize =
  element ArrayMaxSize { GeneralizedArrayExpression, SourceLocators }
LookupOnChange =
  element LookupOnChange {
    Name, Tolerance?, Arguments?, SourceLocators
  }
LookupNow = element LookupNow { Name, Arguments?, SourceLocators }
Tolerance = element Tolerance { GeneralizedNumericExpression }
