schema/plexil-script.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  Command
  | Simultaneous
  | Script
  | Param
  | State
  | InitialState
  | CommandAbort
  | UpdateAck
  | CommandAck
  | (notAllowed
     | element PLEXILScript { InitialState?, Script })
CommandAbort =
  notAllowed
  | element CommandAbort { command-type }
CommandAck =
  notAllowed
  | element CommandAck { command-type }
UpdateAck =
  notAllowed
  | element UpdateAck {
      attribute name { xsd:string }?
    }
\string = xsd:string
Param =
  notAllowed
  | element Param { type?, xsd:string }
Simultaneous =
  notAllowed
  | element Simultaneous {
      (State | UpdateAck | Command | CommandAck | CommandAbort)*
    }
type =
  attribute type {
    xsd:NMTOKEN "real"
    | xsd:NMTOKEN "int-array"
    | xsd:NMTOKEN "string-array"
    | xsd:NMTOKEN "int"
    | xsd:NMTOKEN "string"
    | xsd:NMTOKEN "bool"
    | xsd:NMTOKEN "bool-array"
    | xsd:NMTOKEN "real-array"
  }
command-type =
  (type?,
   attribute name { xsd:string }?,
   Param*,
   (notAllowed
    | element Result { \string })+),
  empty
InitialState =
  notAllowed
  | element InitialState { State* }
Script =
  notAllowed
  | element Script {
      (State
       | UpdateAck
       | Command
       | CommandAck
       | CommandAbort
       | Simultaneous)*
    }
State =
  notAllowed
  | element State {
      type?,
      attribute name { xsd:string }?,
      Param*,
      element Value { \string }+
    }
Command =
  notAllowed
  | element Command { command-type }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
