schema/safe-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  SQRT
  | Node
  | NumericRHS
  | Assignment
  | ALL_KNOWN
  | FLOOR
  | LibraryNodeDeclaration
  | ArrayVariable
  | BooleanValue
  | EQBoolean
  | EQString
  | CEIL
  | StringValue
  | IsKnown
  | NodeCommandHandleValue
  | SUB
  | StringRHS
  | NodeBody
  | NodeList
  | StartCondition
  | Arguments
  | PostCondition
  | STRLEN
  | ResourceList
  | MIN
  | InvariantCondition
  | NEInternal
  | XOR
  | In
  | MAX
  | LookupOnChange
  | TRUNC
  | NEString
  | VariableDeclarations
  | Timepoint
  | NodeRef
  | EndCondition
  | ABS
  | NodeStateVariable
  | ArraySize
  | REAL_TO_INT
  | RealValue
  | NodeOutcomeVariable
  | RealVariable
  | NodeOutcomeValue
  | StringVariable
  | EQNumeric
  | DIV
  | Parameter
  | LE
  | Interface
  | ADD
  | DeclareArray
  | ArrayMaxSize
  | LT
  | Update
  | Name
  | Concat
  | IntegerVariable
  | BooleanRHS
  | ANY_KNOWN
  | RepeatCondition
  | NodeFailureValue
  | ArrayElement
  | NodeStateValue
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | MUL
  | PreCondition
  | Resource
  | NOT
  | AND
  | NodeId
  | ExitCondition
  | ArrayValue
  | NodeCommandHandleVariable
  | EQInternal
  | ROUND
  | DeclareVariable
  | NodeFailureVariable
  | ArrayRHS
  | NENumeric
  | GlobalDeclarations
  | CommandDeclaration
  | GE
  | LookupNow
  | Pair
  | Return
  | OR
  | MOD
  | IntegerValue
  | Tolerance
  | NodeTimepointValue
  | LibraryNodeCall
  | GT
  | NEBoolean
  | Command
  | BooleanVariable
  | Alias
  | SkipCondition
  | InOut
  | StateDeclaration
Expression =
  BooleanExpression
  | NumericExpression
  | StringExpression
  | ArrayExpression
  | LookupGroup
  | ArrayElement
StringExpression = StringVariable | StringValue | Concat
TRUNC =
  notAllowed
  | element TRUNC { SourceLocators, GeneralizedNumericExpression }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
NodeState = NodeStateVariable | NodeStateValue
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { Value }?
    }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList | Command | Assignment | Update | LibraryNodeCall
    }
Arguments =
  notAllowed
  | element Arguments { SourceLocators, Expression+ }
AND =
  notAllowed
  | element AND { SourceLocators, GeneralizedBooleanExpression* }
SUB =
  notAllowed
  | element SUB {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression*
    }
NodeFailure = NodeFailureVariable | NodeFailureValue
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      Expression
    }
MIN =
  notAllowed
  | element MIN {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
Action = Node
GeneralizedBooleanExpression =
  BooleanExpression | LookupGroup | ArrayElement
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression*
    }
RepeatCondition =
  notAllowed
  | element RepeatCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
Value = IntegerValue | RealValue | BooleanValue | StringValue
GT =
  notAllowed
  | element GT {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
OR =
  notAllowed
  | element OR { SourceLocators, GeneralizedBooleanExpression* }
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?,
      element InitialValue { Value+ | ArrayValue }?
    }
nonNegativeInteger = xsd:nonNegativeInteger
ArrayRHS =
  notAllowed
  | element ArrayRHS { SourceLocators, GeneralizedArrayExpression }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "parent"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "child"
      }?,
      (xsd:NCName | xsd:string "")
    }
GeneralizedStringExpression =
  StringExpression | LookupGroup | ArrayElement
LE =
  notAllowed
  | element LE {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      Parameter*
    }
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, GeneralizedBooleanExpression }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression*
    }
Parameter =
  notAllowed
  | element Parameter {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
ArrayValue =
  notAllowed
  | element ArrayValue {
      SourceLocators,
      attribute Type {
        xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Real"
        | xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Boolean"
      },
      (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
    }
node-reference = (SourceLocators, NodeReference), empty
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall { SourceLocators, NodeId, Alias* }
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, GeneralizedStringExpression }
GE =
  notAllowed
  | element GE {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
ArrayVariable =
  notAllowed
  | element ArrayVariable { NCName }
ABS =
  notAllowed
  | element ABS { SourceLocators, GeneralizedNumericExpression }
LookupGroup = LookupOnChange | LookupNow
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      Interface?
    }
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators,
      GeneralizedBooleanExpression,
      GeneralizedBooleanExpression
    }
InOut =
  notAllowed
  | element InOut { SourceLocators, (DeclareVariable | DeclareArray)+ }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (Expression
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeCommandHandleVariable)
    }
ArrayExpression = ArrayValue | ArrayVariable
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx { xsd:NCName }?,
      attribute NodeType {
        xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "LibraryNodeCall"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & ExitCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
NEString =
  notAllowed
  | element NEString {
      SourceLocators,
      GeneralizedStringExpression,
      GeneralizedStringExpression
    }
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | ArrayRHS)
    }
Concat =
  notAllowed
  | element Concat { SourceLocators, GeneralizedStringExpression* }
ANY_KNOWN =
  notAllowed
  | element ANY_KNOWN { SourceLocators, GeneralizedArrayExpression }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | ArrayVariable
  | ArrayElement
ArraySize =
  notAllowed
  | element ArraySize { SourceLocators, GeneralizedArrayExpression }
MAX =
  notAllowed
  | element MAX {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, GeneralizedNumericExpression }
NodeList =
  notAllowed
  | element NodeList { Action* }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
GeneralizedArrayExpression = ArrayExpression | LookupGroup
NOT =
  notAllowed
  | element NOT { SourceLocators, GeneralizedBooleanExpression }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
PostCondition =
  notAllowed
  | element PostCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
GeneralizedNumericExpression =
  NumericExpression | LookupGroup | ArrayElement
StringValue =
  notAllowed
  | element StringValue { xsd:string }
BooleanExpression =
  (OR | XOR | AND | NOT)
  | (EQBoolean
     | EQNumeric
     | EQInternal
     | EQString
     | NEBoolean
     | NENumeric
     | NEInternal
     | NEString)
  | (GT | GE | LT | LE)
  | (IsKnown | ALL_KNOWN | ANY_KNOWN)
  | BooleanVariable
  | BooleanValue
Tolerance =
  notAllowed
  | element Tolerance { GeneralizedNumericExpression }
ExitCondition =
  notAllowed
  | element ExitCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
FLOOR =
  notAllowed
  | element FLOOR { SourceLocators, GeneralizedNumericExpression }
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
    }
EQString =
  notAllowed
  | element EQString {
      SourceLocators,
      GeneralizedStringExpression,
      GeneralizedStringExpression
    }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "FAILURE"
      | xsd:NMTOKEN "INTERRUPTED"
    }
NCName = xsd:NCName
StartCondition =
  notAllowed
  | element StartCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
MOD =
  notAllowed
  | element MOD {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
ALL_KNOWN =
  notAllowed
  | element ALL_KNOWN { SourceLocators, GeneralizedArrayExpression }
ROUND =
  notAllowed
  | element ROUND { SourceLocators, GeneralizedNumericExpression }
ArrayMaxSize =
  notAllowed
  | element ArrayMaxSize { SourceLocators, GeneralizedArrayExpression }
Name =
  notAllowed
  | element Name { \string }
\string = xsd:string
CEIL =
  notAllowed
  | element CEIL { SourceLocators, GeneralizedNumericExpression }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
REAL_TO_INT =
  notAllowed
  | element REAL_TO_INT { SourceLocators, GeneralizedNumericExpression }
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
NumericExpression =
  (ADD
   | SUB
   | MUL
   | DIV
   | MOD
   | MAX
   | MIN
   | SQRT
   | ABS
   | CEIL
   | FLOOR
   | ROUND
   | TRUNC
   | REAL_TO_INT
   | STRLEN)
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | NodeTimepointValue
  | ArraySize
  | ArrayMaxSize
LT =
  notAllowed
  | element LT {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
RealValue =
  notAllowed
  | element RealValue { xsd:double }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
In =
  notAllowed
  | element In { SourceLocators, (DeclareVariable | DeclareArray)+ }
EndCondition =
  notAllowed
  | element EndCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "START" | xsd:NMTOKEN "END" }
NodeId =
  notAllowed
  | element NodeId { NCName }
PreCondition =
  notAllowed
  | element PreCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
Return =
  notAllowed
  | element Return {
      element Name { NCName }?,
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger }?
    }
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators,
      GeneralizedBooleanExpression,
      GeneralizedBooleanExpression
    }
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { node-reference }
SQRT =
  notAllowed
  | element SQRT { SourceLocators, GeneralizedNumericExpression }
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      Expression
    }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "EXITED"
      | xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
      | xsd:NMTOKEN "PARENT_EXITED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
    }
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHING"
      | xsd:NMTOKEN "FINISHED"
    }
DIV =
  notAllowed
  | element DIV {
      SourceLocators,
      GeneralizedNumericExpression,
      GeneralizedNumericExpression
    }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
InvariantCondition =
  notAllowed
  | element InvariantCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
XOR =
  notAllowed
  | element XOR { SourceLocators, GeneralizedBooleanExpression* }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
NodeReference = NodeId | NodeRef
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
SkipCondition =
  notAllowed
  | element SkipCondition {
      SourceLocators, GeneralizedBooleanExpression
    }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { GeneralizedStringExpression }
       & element ResourcePriority { GeneralizedNumericExpression }
       & element ResourceLowerBound { GeneralizedNumericExpression }?
       & element ResourceUpperBound { GeneralizedNumericExpression }?
       & element ResourceReleaseAtTermination {
           GeneralizedBooleanExpression
         }?)
    }
STRLEN =
  notAllowed
  | element STRLEN { SourceLocators, GeneralizedStringExpression }
AtomicTypeValues =
  xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Real"
  | xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Boolean"
Interface =
  notAllowed
  | element Interface { SourceLocators, (In? & InOut?) }
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      (GeneralizedArrayExpression
       | element Name { NCName }),
      element Index { GeneralizedNumericExpression }
    }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
