schema/safe-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  StartCondition
  | InOut
  | NodeBody
  | BooleanVariable
  | InvariantCondition
  | EQInternal
  | StringVariable
  | GlobalDeclarations
  | Node
  | MOD
  | NodeCommandHandleVariable
  | Concat
  | Update
  | Interface
  | RealVariable
  | EQNumeric
  | OR
  | VariableDeclarations
  | IntegerValue
  | StringValue
  | BooleanRHS
  | NodeFailureVariable
  | AND
  | PreCondition
  | Assignment
  | ArrayValue
  | NumericRHS
  | ArrayElement
  | DeclareArray
  | RepeatCondition
  | LE
  | Arguments
  | NEInternal
  | SkipCondition
  | NodeTimepointValue
  | PostCondition
  | Command
  | EndCondition
  | LibraryNodeCall
  | StringRHS
  | NodeRef
  | Alias
  | NENumeric
  | Request
  | Timepoint
  | CommandDeclaration
  | NEBoolean
  | LookupRHS
  | LookupNow
  | LookupOnChange
  | ResourceList
  | NodeFailureValue
  | StateDeclaration
  | ArrayRHS
  | LT
  | GT
  | LibraryNodeDeclaration
  | SQRT
  | In
  | Name
  | Pair
  | NodeOutcomeVariable
  | GE
  | MUL
  | ABS
  | IntegerVariable
  | EQBoolean
  | Tolerance
  | RealValue
  | NEString
  | XOR
  | NodeStateVariable
  | EQString
  | Resource
  | DIV
  | SUB
  | IsKnown
  | NodeList
  | (notAllowed
     | element PlexilPlan {
         SourceLocators, GlobalDeclarations?, Action
       })
  | NodeStateValue
  | NOT
  | ADD
  | Parameter
  | DeclareVariable
  | BooleanValue
  | NodeCommandHandleValue
  | NodeId
  | Return
  | NodeOutcomeValue
Value = IntegerValue | RealValue | BooleanValue | StringValue
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      SourceLocators,
      element Name { NCName },
      element Interface {
        mixed {
          (attribute * { text }
           | element0)*
        }
      }
    }
MUL =
  notAllowed
  | element MUL {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_ABORTED"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
      | xsd:NMTOKEN "COMMAND_ABORT_FAILED"
    }
Tolerance =
  notAllowed
  | element Tolerance { SourceLocators, (RealValue | RealVariable) }
LT =
  notAllowed
  | element LT { SourceLocators, NumericExpression, NumericExpression }
ArrayRHS =
  notAllowed
  | element ArrayRHS {
      SourceLocators,
      element ArrayVariable { NCName }
    }
EndCondition =
  notAllowed
  | element EndCondition { SourceLocators, BooleanExpression }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | (notAllowed
     | element ArrayVariable { NCName })
  | ArrayElement
\string = xsd:string
SQRT =
  notAllowed
  | element SQRT { SourceLocators, NumericExpression }
SUB =
  notAllowed
  | element SUB { SourceLocators, NumericExpression, NumericExpression }
NodeFailure = NodeFailureVariable | NodeFailureValue
LookupGroup = LookupOnChange | LookupNow
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { SourceLocators, NodeId }
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
EQBoolean =
  notAllowed
  | element EQBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
InOut =
  notAllowed
  | element InOut { SourceLocators, DeclareVariable+ }
StringExpression =
  StringVariable | StringValue | Concat | LookupGroup | ArrayElement
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { node-reference }
In =
  notAllowed
  | element In { SourceLocators, DeclareVariable+ }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
      }?,
      NCNameOrEmpty
    }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHED"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHING"
    }
NodeList =
  notAllowed
  | element NodeList { Action* }
Interface =
  notAllowed
  | element Interface { In? & InOut? }
NumericExpression =
  ADD
  | SUB
  | MUL
  | DIV
  | MOD
  | SQRT
  | ABS
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | LookupGroup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
Command =
  notAllowed
  | element Command {
      SourceLocators, ResourceList?, DeclaredVariable?, Name, Arguments?
    }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList
      | Command
      | Assignment
      | Update
      | Request
      | LibraryNodeCall
    }
NENumeric =
  notAllowed
  | element NENumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
Alias =
  notAllowed
  | element Alias {
      SourceLocators,
      element NodeParameter { NCName },
      (Value | DeclaredVariable)
    }
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | LookupGroup
  | ArrayElement
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
AtomicTypeValues =
  xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Real"
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      SourceLocators,
      element Name { NCName },
      Return*,
      Parameter*,
      ResourceList?
    }
InvariantCondition =
  notAllowed
  | element InvariantCondition { SourceLocators, BooleanExpression }
NodeId =
  notAllowed
  | element NodeId { NCName }
Return =
  notAllowed
  | element Return {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
Resource =
  notAllowed
  | element Resource {
      SourceLocators,
      (element ResourceName { StringExpression }
       & element ResourcePriority { NumericExpression }
       & element ResourceLowerBound { NumericExpression }?
       & element ResourceUpperBound { NumericExpression }?
       & element ResourceReleaseAtTermination { BooleanExpression }?)
    }
EQInternal =
  notAllowed
  | element EQInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
ABS =
  notAllowed
  | element ABS { SourceLocators, NumericExpression }
DeclareArray =
  notAllowed
  | element DeclareArray {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue {
        IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+
      }?
    }
NEInternal =
  notAllowed
  | element NEInternal {
      SourceLocators,
      ((NodeState, NodeState)
       | (NodeOutcome, NodeOutcome)
       | (NodeFailure, NodeFailure)
       | (NodeCommandHandle, NodeCommandHandle))
    }
Action = Node
MOD =
  notAllowed
  | element MOD { SourceLocators, NumericExpression, NumericExpression }
PreCondition =
  notAllowed
  | element PreCondition { SourceLocators, BooleanExpression }
ADD =
  notAllowed
  | element ADD {
      SourceLocators,
      NumericExpression,
      NumericExpression,
      NumericExpression*
    }
GT =
  notAllowed
  | element GT { SourceLocators, NumericExpression, NumericExpression }
Parameter =
  notAllowed
  | element Parameter {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
NCNameOrEmpty = xsd:NCName | xsd:string ""
RealValue =
  notAllowed
  | element RealValue { xsd:double }
BooleanRHS =
  notAllowed
  | element BooleanRHS { SourceLocators, BooleanExpression }
NEString =
  notAllowed
  | element NEString {
      SourceLocators, StringExpression, StringExpression
    }
NCName = xsd:NCName
StateDeclaration =
  notAllowed
  | element StateDeclaration {
      SourceLocators,
      element Name { NCName },
      Return,
      Parameter*
    }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
nonNegativeInteger = xsd:nonNegativeInteger
NumericRHS =
  notAllowed
  | element NumericRHS { SourceLocators, NumericExpression }
ArrayValue =
  notAllowed
  | element ArrayValue {
      SourceLocators,
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      (IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+)
    }
StartCondition =
  notAllowed
  | element StartCondition { SourceLocators, BooleanExpression }
Request =
  notAllowed
  | element Request { SourceLocators, NodeId?, Pair* }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      SourceLocators,
      (CommandDeclaration
       | empty
       | StateDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
LookupNow =
  notAllowed
  | element LookupNow { SourceLocators, Name, Arguments? }
SourceLocators =
  attribute ColNo { xsd:integer }?,
  attribute LineNo { xsd:integer }?,
  attribute FileName { xsd:string }?
node-reference = NodeReference, empty
Concat =
  notAllowed
  | element Concat { SourceLocators, StringExpression* }
OR =
  notAllowed
  | element OR { SourceLocators, BooleanExpression* }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
StringValue =
  notAllowed
  | element StringValue { xsd:string }
Update =
  notAllowed
  | element Update { SourceLocators, Pair* }
PostCondition =
  notAllowed
  | element PostCondition { SourceLocators, BooleanExpression }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "END" | xsd:NMTOKEN "START" }
StringRHS =
  notAllowed
  | element StringRHS { SourceLocators, StringExpression }
EQNumeric =
  notAllowed
  | element EQNumeric {
      SourceLocators, NumericExpression, NumericExpression
    }
Node =
  notAllowed
  | element Node {
      SourceLocators,
      attribute epx {
        xsd:NMTOKEN "UncheckedSequence"
        | xsd:NMTOKEN "Then"
        | xsd:NMTOKEN "Else"
        | xsd:NMTOKEN "Sequence"
        | xsd:NMTOKEN "If"
        | xsd:NMTOKEN "While"
        | xsd:NMTOKEN "For"
        | xsd:NMTOKEN "Concurrence"
        | xsd:NMTOKEN "aux"
        | xsd:NMTOKEN "Try"
      }?,
      attribute NodeType {
        xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Request"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
Assignment =
  notAllowed
  | element Assignment {
      SourceLocators,
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      SourceLocators,
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
Name =
  notAllowed
  | element Name { \string }
NodeState = NodeStateVariable | NodeStateValue
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { node-reference }
NodeReference = NodeId | NodeRef
AND =
  notAllowed
  | element AND { SourceLocators, BooleanExpression* }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      SourceLocators, NodeReference, NodeStateValue, Timepoint
    }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      SourceLocators,
      element Name { NCName },
      element Type { AtomicTypeValues },
      element InitialValue { Value }?
    }
GE =
  notAllowed
  | element GE { SourceLocators, NumericExpression, NumericExpression }
NEBoolean =
  notAllowed
  | element NEBoolean {
      SourceLocators, BooleanExpression, BooleanExpression
    }
ArrayElement =
  notAllowed
  | element ArrayElement {
      SourceLocators,
      element Name { NCName },
      element Index { NumericExpression }
    }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
SkipCondition =
  notAllowed
  | element SkipCondition { SourceLocators, BooleanExpression }
Arguments =
  notAllowed
  | element Arguments {
      SourceLocators,
      (IntegerValue
       | RealValue
       | BooleanValue
       | ArrayValue
       | StringExpression
       | DeclaredVariable)+
    }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
DIV =
  notAllowed
  | element DIV { SourceLocators, NumericExpression, NumericExpression }
RepeatCondition =
  notAllowed
  | element RepeatCondition { SourceLocators, BooleanExpression }
XOR =
  notAllowed
  | element XOR { SourceLocators, BooleanExpression* }
IsKnown =
  notAllowed
  | element IsKnown {
      SourceLocators,
      (DeclaredVariable
       | LookupGroup
       | NodeStateVariable
       | NodeOutcomeVariable
       | NodeTimepointValue)
    }
LE =
  notAllowed
  | element LE { SourceLocators, NumericExpression, NumericExpression }
LookupRHS =
  notAllowed
  | element LookupRHS { SourceLocators, LookupGroup }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      SourceLocators, Name, Tolerance?, Arguments?
    }
NOT =
  notAllowed
  | element NOT { SourceLocators, BooleanExpression }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "FAILURE"
    }
ResourceList =
  notAllowed
  | element ResourceList { SourceLocators, Resource* }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { node-reference }
EQString =
  notAllowed
  | element EQString {
      SourceLocators, StringExpression, StringExpression
    }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
