schema/supported-plexil.rnc

namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
default namespace = ""

start =
  StartCondition
  | FunctionDeclaration
  | InOut
  | NodeBody
  | LookupWithFrequency
  | BooleanVariable
  | InvariantCondition
  | EQInternal
  | StringVariable
  | GlobalDeclarations
  | Node
  | NodeCommandHandleVariable
  | Concat
  | Update
  | Interface
  | RealVariable
  | EQNumeric
  | OR
  | VariableDeclarations
  | IntegerValue
  | StringValue
  | BooleanRHS
  | NodeFailureVariable
  | AND
  | PreCondition
  | Assignment
  | NumericRHS
  | ArrayElement
  | DeclareArray
  | RepeatCondition
  | High
  | LE
  | Arguments
  | NEInternal
  | SkipCondition
  | NodeTimepointValue
  | PostCondition
  | Command
  | EndCondition
  | LibraryNodeCall
  | StringRHS
  | NodeRef
  | Alias
  | NENumeric
  | Request
  | Frequency
  | Timepoint
  | CommandDeclaration
  | NEBoolean
  | Low
  | LookupRHS
  | LookupNow
  | LookupOnChange
  | ResourceList
  | NodeFailureValue
  | StateDeclaration
  | ArrayRHS
  | LT
  | GT
  | LibraryNodeDeclaration
  | SQRT
  | In
  | Name
  | Pair
  | NodeOutcomeVariable
  | GE
  | MUL
  | ABS
  | IntegerVariable
  | EQBoolean
  | Tolerance
  | RealValue
  | NEString
  | XOR
  | NodeStateVariable
  | EQString
  | Resource
  | DIV
  | FunctionCall
  | SUB
  | IsKnown
  | NodeList
  | (notAllowed
     | element PlexilPlan {
         ColNo?, LineNo?, FileName?, GlobalDeclarations?, Node
       })
  | NodeStateValue
  | NOT
  | ADD
  | Parameter
  | DeclareVariable
  | BooleanValue
  | NodeCommandHandleValue
  | Return
  | NodeId
  | NodeOutcomeValue
RealValue =
  notAllowed
  | element RealValue { xsd:double }
NodeCommandHandleVariable =
  notAllowed
  | element NodeCommandHandleVariable { NodeId }
BooleanRHS =
  notAllowed
  | element BooleanRHS { BooleanExpression }
NEString =
  notAllowed
  | element NEString { StringExpression, StringExpression }
NumericRHS =
  notAllowed
  | element NumericRHS { NumericExpression }
Resource =
  notAllowed
  | element Resource {
      element ResourceName { StringExpression }
      & element ResourcePriority { NumericExpression }
      & element ResourceLowerBound { NumericExpression }?
      & element ResourceUpperBound { NumericExpression }?
      & element ResourceReleaseAtTermination { BooleanExpression }?
    }
EQBoolean =
  notAllowed
  | element EQBoolean { BooleanExpression, BooleanExpression }
IntegerValue =
  notAllowed
  | element IntegerValue { xsd:integer }
IntegerVariable =
  notAllowed
  | element IntegerVariable { NCName }
AND =
  notAllowed
  | element AND { BooleanExpression* }
NodeCommandHandleValue =
  notAllowed
  | element NodeCommandHandleValue {
      xsd:NMTOKEN "COMMAND_ACCEPTED"
      | xsd:NMTOKEN "COMMAND_SUCCESS"
      | xsd:NMTOKEN "COMMAND_RCVD_BY_SYSTEM"
      | xsd:NMTOKEN "COMMAND_SENT_TO_SYSTEM"
      | xsd:NMTOKEN "COMMAND_FAILED"
      | xsd:NMTOKEN "COMMAND_DENIED"
    }
EQString =
  notAllowed
  | element EQString { StringExpression, StringExpression }
NumericExpression =
  ADD
  | SUB
  | MUL
  | DIV
  | SQRT
  | ABS
  | IntegerVariable
  | RealVariable
  | IntegerValue
  | RealValue
  | Lookup
  | NodeTimepointValue
  | (notAllowed
     | element ArraySize { NCName })
  | (notAllowed
     | element ArrayMaxSize { NCName })
  | ArrayElement
BooleanValue =
  notAllowed
  | element BooleanValue { xsd:boolean }
Value = IntegerValue | RealValue | BooleanValue | StringValue
Parameter =
  notAllowed
  | element Parameter {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
DeclareVariable =
  notAllowed
  | element DeclareVariable {
      element Name { NCName },
      element Type { TypeValues },
      element InitialValue { Value }?
    }
NodeFailure = NodeFailureVariable | NodeFailureValue
TypeValues =
  xsd:NMTOKEN "String"
  | xsd:NMTOKEN "Integer"
  | xsd:NMTOKEN "Array"
  | xsd:NMTOKEN "Boolean"
  | xsd:NMTOKEN "Real"
Assignment =
  notAllowed
  | element Assignment {
      DeclaredVariable,
      (BooleanRHS | NumericRHS | StringRHS | LookupRHS | ArrayRHS)
    }
Low =
  notAllowed
  | element Low { RealValue | RealVariable }
Timepoint =
  notAllowed
  | element Timepoint { xsd:NMTOKEN "END" | xsd:NMTOKEN "START" }
EndCondition =
  notAllowed
  | element EndCondition { BooleanExpression }
IsKnown =
  notAllowed
  | element IsKnown {
      DeclaredVariable
      | Lookup
      | NodeStateVariable
      | NodeOutcomeVariable
      | NodeTimepointValue
    }
NCName = xsd:NCName
ColNo = attribute ColNo { xsd:integer }
StartCondition =
  notAllowed
  | element StartCondition { BooleanExpression }
LookupWithFrequency =
  notAllowed
  | element LookupWithFrequency {
      (Name
       | element StateName { \string }),
      Frequency,
      Arguments?
    }
SUB =
  notAllowed
  | element SUB { NumericExpression, NumericExpression }
NodeState = NodeStateVariable | NodeStateValue
SQRT =
  notAllowed
  | element SQRT { NumericExpression }
BooleanExpression =
  OR
  | XOR
  | AND
  | NOT
  | IsKnown
  | GT
  | GE
  | LT
  | LE
  | EQBoolean
  | EQNumeric
  | EQInternal
  | EQString
  | NEBoolean
  | NENumeric
  | NEInternal
  | NEString
  | BooleanVariable
  | BooleanValue
  | Lookup
  | ArrayElement
Name =
  notAllowed
  | element Name { StringExpression }
ArrayRHS =
  notAllowed
  | element ArrayRHS {
      element ArrayVariable { NCName }
    }
RealVariable =
  notAllowed
  | element RealVariable { NCName }
Concat =
  notAllowed
  | element Concat { StringExpression* }
LookupNow =
  notAllowed
  | element LookupNow {
      (Name
       | element StateName { \string }),
      Arguments?
    }
nonNegativeInteger = xsd:nonNegativeInteger
StringValue =
  notAllowed
  | element StringValue { xsd:string }
NodeFailureVariable =
  notAllowed
  | element NodeFailureVariable { NodeRef | NodeId }
DeclareArray =
  notAllowed
  | element DeclareArray {
      element Name { NCName },
      element Type { TypeValues },
      element MaxSize { nonNegativeInteger },
      element InitialValue {
        IntegerValue+ | RealValue+ | BooleanValue+ | StringValue+
      }?
    }
High =
  notAllowed
  | element High { RealValue | RealVariable }
OR =
  notAllowed
  | element OR { BooleanExpression* }
SkipCondition =
  notAllowed
  | element SkipCondition { BooleanExpression }
StateDeclaration =
  notAllowed
  | element StateDeclaration { ExternalCallDeclaration }
NodeTimepointValue =
  notAllowed
  | element NodeTimepointValue {
      (NodeRef | NodeId), NodeStateValue, Timepoint
    }
Command =
  notAllowed
  | element Command {
      ResourceList?,
      DeclaredVariable?,
      (Name
       | element CommandName { \string }),
      Arguments?
    }
FunctionCall =
  notAllowed
  | element FunctionCall {
      DeclaredVariable?,
      (Name
       | element FunctionName { \string }),
      Arguments?
    }
NodeRef =
  notAllowed
  | element NodeRef {
      attribute dir {
        xsd:NMTOKEN "child"
        | xsd:NMTOKEN "self"
        | xsd:NMTOKEN "sibling"
        | xsd:NMTOKEN "parent"
      }?,
      NCNameOrEmpty
    }
PostCondition =
  notAllowed
  | element PostCondition { BooleanExpression }
CommandDeclaration =
  notAllowed
  | element CommandDeclaration {
      ExternalCallDeclaration, ResourceList?
    }
LineNo = attribute LineNo { xsd:integer }
PreCondition =
  notAllowed
  | element PreCondition { BooleanExpression }
InOut =
  notAllowed
  | element InOut { DeclareVariable+ }
BooleanVariable =
  notAllowed
  | element BooleanVariable { NCName }
Lookup = LookupWithFrequency | LookupOnChange | LookupNow
ResourceList =
  notAllowed
  | element ResourceList { Resource* }
DeclaredVariable =
  IntegerVariable
  | RealVariable
  | BooleanVariable
  | StringVariable
  | (notAllowed
     | element ArrayVariable { NCName })
  | ArrayElement
RepeatCondition =
  notAllowed
  | element RepeatCondition { BooleanExpression }
EQInternal =
  notAllowed
  | element EQInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
Update =
  notAllowed
  | element Update { Pair* }
LibraryNodeDeclaration =
  notAllowed
  | element LibraryNodeDeclaration {
      element Name { NCName },
      element Interface {
        mixed {
          (attribute * { text }
           | element0)*
        }
      }
    }
NodeList =
  notAllowed
  | element NodeList { Node* }
EQNumeric =
  notAllowed
  | element EQNumeric { NumericExpression, NumericExpression }
GE =
  notAllowed
  | element GE { NumericExpression, NumericExpression }
Node =
  notAllowed
  | element Node {
      ColNo?,
      LineNo?,
      FileName?,
      attribute NodeType {
        xsd:NMTOKEN "FunctionCall"
        | xsd:NMTOKEN "Assignment"
        | xsd:NMTOKEN "Command"
        | xsd:NMTOKEN "Update"
        | xsd:NMTOKEN "NodeList"
        | xsd:NMTOKEN "LibraryNodeCall"
        | xsd:NMTOKEN "Empty"
        | xsd:NMTOKEN "Request"
      },
      (element Comment { \string }?
       & NodeId
       & StartCondition?
       & RepeatCondition?
       & PreCondition?
       & PostCondition?
       & InvariantCondition?
       & EndCondition?
       & SkipCondition?
       & element Priority { nonNegativeInteger }?
       & element Permissions { \string }?
       & Interface?
       & VariableDeclarations?
       & NodeBody?)
    }
XOR =
  notAllowed
  | element XOR { BooleanExpression* }
FileName = attribute FileName { xsd:string }
Arguments =
  notAllowed
  | element Arguments {
      (IntegerValue
       | RealValue
       | BooleanValue
       | StringValue
       | DeclaredVariable)+
    }
NodeOutcomeVariable =
  notAllowed
  | element NodeOutcomeVariable { NodeRef | NodeId }
NENumeric =
  notAllowed
  | element NENumeric { NumericExpression, NumericExpression }
ADD =
  notAllowed
  | element ADD {
      NumericExpression, NumericExpression, NumericExpression*
    }
NodeOutcome = NodeOutcomeVariable | NodeOutcomeValue
NodeId =
  notAllowed
  | element NodeId { NCName }
NodeOutcomeValue =
  notAllowed
  | element NodeOutcomeValue {
      xsd:NMTOKEN "SKIPPED"
      | xsd:NMTOKEN "SUCCESS"
      | xsd:NMTOKEN "FAILURE"
    }
Return =
  notAllowed
  | element Return {
      attribute Type {
        xsd:NMTOKEN "String"
        | xsd:NMTOKEN "Integer"
        | xsd:NMTOKEN "Array"
        | xsd:NMTOKEN "Boolean"
        | xsd:NMTOKEN "Real"
      },
      NCNameOrEmpty
    }
NodeBody =
  notAllowed
  | element NodeBody {
      NodeList
      | Command
      | Assignment
      | FunctionCall
      | Update
      | Request
      | LibraryNodeCall
    }
ExternalCallDeclaration =
  (notAllowed
   | element Name { NCName }),
  Return*,
  Parameter*
DIV =
  notAllowed
  | element DIV { NumericExpression, NumericExpression }
ArrayElement =
  notAllowed
  | element ArrayElement {
      element Name { NCName },
      element Index { NumericExpression }
    }
LT =
  notAllowed
  | element LT { NumericExpression, NumericExpression }
NodeCommandHandle = NodeCommandHandleVariable | NodeCommandHandleValue
ABS =
  notAllowed
  | element ABS { NumericExpression }
MUL =
  notAllowed
  | element MUL {
      NumericExpression, NumericExpression, NumericExpression*
    }
StringExpression =
  StringVariable | StringValue | Concat | Lookup | ArrayElement
Request =
  notAllowed
  | element Request { NodeId?, Pair* }
LE =
  notAllowed
  | element LE { NumericExpression, NumericExpression }
NodeStateVariable =
  notAllowed
  | element NodeStateVariable { NodeRef | NodeId }
NOT =
  notAllowed
  | element NOT { BooleanExpression }
Pair =
  notAllowed
  | element Pair {
      element Name { NCName },
      (Value | DeclaredVariable | LookupNow)
    }
NCNameOrEmpty = xsd:NCName | xsd:string ""
Tolerance =
  notAllowed
  | element Tolerance { RealValue | RealVariable }
element0 =
  element * {
    mixed {
      (attribute * { text }
       | element0)*
    }
  }
LibraryNodeCall =
  notAllowed
  | element LibraryNodeCall {
      NodeId,
      element RenameNodeId { NCName }?,
      Alias*
    }
StringRHS =
  notAllowed
  | element StringRHS { StringExpression }
NEInternal =
  notAllowed
  | element NEInternal {
      (NodeState, NodeState)
      | (NodeOutcome, NodeOutcome)
      | (NodeFailure, NodeFailure)
      | (NodeCommandHandle, NodeCommandHandle)
    }
NEBoolean =
  notAllowed
  | element NEBoolean { BooleanExpression, BooleanExpression }
FunctionDeclaration =
  notAllowed
  | element FunctionDeclaration { ExternalCallDeclaration }
LookupOnChange =
  notAllowed
  | element LookupOnChange {
      (Name
       | element StateName { \string }),
      Tolerance?,
      Arguments?
    }
LookupRHS =
  notAllowed
  | element LookupRHS { Lookup }
Frequency =
  notAllowed
  | element Frequency { Low, High? }
InvariantCondition =
  notAllowed
  | element InvariantCondition { BooleanExpression }
NodeFailureValue =
  notAllowed
  | element NodeFailureValue {
      xsd:NMTOKEN "INVARIANT_CONDITION_FAILED"
      | xsd:NMTOKEN "POST_CONDITION_FAILED"
      | xsd:NMTOKEN "PRE_CONDITION_FAILED"
      | xsd:NMTOKEN "PARENT_FAILED"
    }
GT =
  notAllowed
  | element GT { NumericExpression, NumericExpression }
Alias =
  notAllowed
  | element Alias {
      element NodeParameter { NCName },
      (Value | DeclaredVariable)
    }
In =
  notAllowed
  | element In { DeclareVariable+ }
GlobalDeclarations =
  notAllowed
  | element GlobalDeclarations {
      (CommandDeclaration
       | empty
       | StateDeclaration
       | FunctionDeclaration
       | LibraryNodeDeclaration
       | element TimeScalingUnitsSubunits { xsd:integer })+
    }
VariableDeclarations =
  notAllowed
  | element VariableDeclarations { (DeclareVariable | DeclareArray)+ }
\string = xsd:string
Interface =
  notAllowed
  | element Interface { In? & InOut? }
StringVariable =
  notAllowed
  | element StringVariable { NCName }
NodeStateValue =
  notAllowed
  | element NodeStateValue {
      xsd:NMTOKEN "INACTIVE"
      | xsd:NMTOKEN "WAITING"
      | xsd:NMTOKEN "FINISHED"
      | xsd:NMTOKEN "ITERATION_ENDED"
      | xsd:NMTOKEN "EXECUTING"
      | xsd:NMTOKEN "FAILING"
      | xsd:NMTOKEN "FINISHING"
    }
PlexilPlanAttributes = 
  notAllowed
  | attribute xsi:* { xsd:anyURI }*
